openapi: 3.0.3

info:
  title: Inperium Server Talk Call Queue API
  description: |
    The initial version of Inperium Talk Call Queue API.
  version: 1.0.0-SNAPSHOT

servers:
  - url: http://api.inperium.com/v1/talkCallQueue
  - url: https://api.inperium.com/v1/talkCallQueue

security:
  - BearerAuth: [ ]
  - ApiKeyAuth: [ ]

tags:
  - name: Call Queues
    description: |
      Inperium Talk Call Queue enables users to automate the routing of calls from customers to a support service.
  - name: Calls
    description: |
      Inperium Talk Call Queue enables users to add calls to the call queue.

paths:

  /callQueues:
    get:
      tags:
        - Call Queues
      summary: Retrieve a list of call queues
      operationId: getCallQueues
      parameters:
        - $ref: '#/components/parameters/QueryPageNumber'
        - $ref: '#/components/parameters/QueryPageSize'
        - $ref: '#/components/parameters/QuerySort'
      responses:
        200:
          description: The call queues have been retrieved
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CallQueues'
        default:
          $ref: '#/components/responses/ErrorResponse'
    post:
      tags:
        - Call Queues
      summary: Create a new call queue
      operationId: createCallQueue
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CallQueueRequest'
      responses:
        201:
          description: A new call queue has been created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CallQueue'
        409:
          description: Error in the request for creating a new call queue, check the error message.
          $ref: '#/components/responses/ErrorResponse'
        default:
          $ref: '#/components/responses/ErrorResponse'
  /callQueues/{id}:
    get:
      tags:
        - Call Queues
      summary: Retrieve a call queue details
      operationId: getCallQueue
      parameters:
        - $ref: '#/components/parameters/ResourceId'
      responses:
        200:
          description: The call queue has been retrieved
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CallQueue'
        default:
          $ref: '#/components/responses/ErrorResponse'
    patch:
      tags:
        - Call Queues
      summary: Partially update the call queue
      operationId: partiallyUpdateCallQueue
      parameters:
        - $ref: '#/components/parameters/ResourceId'
      requestBody:
        description: Partially updates call queue
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CallQueueRequest'
      responses:
        200:
          description: The call queue has been modified
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CallQueue'
        default:
          $ref: '#/components/responses/ErrorResponse'

  /calls:
    post:
      tags:
        - Calls
      x-access: private
      summary: Enqueue the call in a call queue
      operationId: enqueue
      requestBody:
        content:
          application/x-www-form-urlencoded:
            schema:
              properties:
                To:
                  type: string
                From:
                  type: string
                CallSid:
                  type: string
      responses:
        200:
          description: TwiML request has been received
          content: { }
        default:
          $ref: '#/components/responses/ErrorResponse'

components:

  securitySchemes:

    BearerAuth:
      type: http
      scheme: bearer

    ApiKeyAuth:
      type: apiKey
      in: header
      name: X-API-KEY

  parameters:

    ResourceId:
      name: id
      in: path
      required: true
      schema:
        type: string
        format: uuid
    QueryPageNumber:
      name: pageNumber
      in: query
      description: Query parameter for the "pageNumber"
      schema:
        type: integer
        format: int64
    QueryPageSize:
      name: pageSize
      in: query
      description: Query parameter for the "pageSize"
      schema:
        type: integer
        format: int64
    QuerySort:
      name: sort
      in: query
      description: Query parameter for the "sort" criteria
      schema:
        type: string

  responses:

    EmptyResponse:
      description: Returns an empty response that is used for OK non-returning operations.
      content: { }

    ErrorResponse:
      description: Bad request, security violation, or internal server error.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'

  schemas:

    Error:
      type: object
      required:
        - status
        - message
      properties:
        status:
          type: string
          description: Http status code
        code:
          type: string
          format: uuid
          description: Optional code of the exception
        message:
          type: string
          description: Error message
        errors:
          type: object
          description: Map of field -> list of errors

    Id:
      type: string
      format: uuid

    TimezoneId:
      type: string
      description: A timezone value.

    PageAndSort:
      type: object
      description: Paging and sorting information, including the number of records per page, the total of pages and records, the current page, etc.
      example:
        pageNumber: 1
        pageSize: 20
        totalNumberOfRecords: 1
        totalNumberOfPages: 1
        hasNextPage: false
        hasPreviousPage: false
        sortingCriteria: null
        hasMore: false

    DayOfWeek:
      type: string
      enum:
        - MONDAY
        - TUESDAY
        - WEDNESDAY
        - THURSDAY
        - FRIDAY
        - SATURDAY
        - SUNDAY

    BusinessHour:
      type: object
      required:
        - openHour
        - closeHour
        - weekday
        - enabled
      properties:
        openHour:
          type: string
          format: x-time
        closeHour:
          type: string
          format: x-time
        weekday:
          $ref: '#/components/schemas/DayOfWeek'
        enabled:
          type: boolean
          description: If the business hour is turned on or not.

    CallDistributionType:
      type: string
      enum:
        - SIMULTANEOUS
        - SEQUENTIAL
        - ROTATING
        - LONGEST_IDLE
      default: LONGEST_IDLE

    CallQueueRequest:
      type: object
      required:
        - name
      properties:
        name:
          type: string
        enabled:
          type: boolean
          default: false
        phoneNumbers:
          type: array
          items:
            type: string
        operatorIds:
          type: array
          items:
            $ref: '#/components/schemas/Id'
        timezone:
          $ref: '#/components/schemas/TimezoneId'
        twentyFourSeven:
          type: boolean
          default: false
        businessHours:
          type: array
          items:
            $ref: '#/components/schemas/BusinessHour'
        callDistributionType:
          $ref: '#/components/schemas/CallDistributionType'
        maxSize:
          type: integer
          maximum: 5000
          default: 100
        maxWaitTime:
          type: integer
          default: 10

    CallQueue:
      allOf:
        - $ref: '#/components/schemas/CallQueueRequest'
        - type: object
          required:
            - id
          properties:
            id:
              $ref: '#/components/schemas/Id'

    CallQueues:
      type: object
      properties:
        data:
          type: array
          items:
            $ref: '#/components/schemas/CallQueue'
        paging:
          $ref: '#/components/schemas/PageAndSort'
