openapi: 3.0.3

info:
  title: Talk API
  description: |
    The Inperium Talk API provides access to the Inperium Talk service including the ability to make calls, add contacts, configure auto receptionist settings, etc.
  version: 1.0.0-SNAPSHOT

servers:
  - url: http://api.inperium.com/v1/talk
  - url: https://api.inperium.com/v1/talk

security:
  - BearerAuth: [ ]
  - ApiKeyAuth: [ ]

tags:
  - name: Addresses
    description: |
      To ensure the billing is correct, the tenants should maintain a valid address in the Inperium Talk settings.
  - name: Audio Files
    description: |
      Inperium Talk enables you to create an audio library with custom recordings that you can leverage in auto receptionists and IVR menues.
  - name: Auto Receptionists
    description: |
      Auto receptionists streamline call routing both during work hours and off-duty. An auto receptionist represents an automatic workflow and consists of configurable rules and steps. For example, you set a greeting audio and then enable an IVR menu that helps forward the call to the right manager. Auto receptionists can be multi-tiered and reference each other.
  - name: Calls
    description: |
      Inperium Talk enables users to make calls and logs all statictics about them such as the duration of the call, the direction of call (inbound, outbound), and call particiapants.
  - name: Call Callbacks
    description: |
      We use callbacks from our partnner & service provider to manage calls within Inperium Talk system.
  - name: Contacts
    description: |
      Add your clients and business partners to the Contacts list. The Contacts store information such as a name, work and personal phone numbers, and address.
  - name: IVR Callbacks
    description: |
      IVR menu is a simple and interactive routing system. You can configure an action for each digit. The callbacks help manage user inputs.
  - name: Participants
    description: |
      Each call has multiple participants—persons taking part in the call either as a caller or as recipients.
  - name: Phone Numbers
    description: |
      Inperium Talk enables users to create VoIP phone numbers and leverage them for making calls and sending mesages.
  - name: Phone Number Webhooks
    description: |
      Inperium Talk enables you to create and register phone numbers.
  - name: Recordings
    description: |
      The recordings are the messages the clients leave when nobody picks the line and recorded parts the calls. It's a safe and reliable way to gather inquires when your managers are out of office and save the most important parts of the calls.
  - name: Recording Callbacks
    description: |
      Inperium Talk enables you to create recordings.
  - name: Regulatory Bundles
    description: |
      Depeding on your location and various usage options, you might be subject to taxes and fees. These taxes will be added to your bill.
  - name: Reports
    description: |
      Inperium Talk creates reports to help you assess productivity and see how your metrics change over time.
  - name: Report Data
    description: |
      The report data is the actual metrics and values.
  - name: Services
    description: |
      Inperium Talk provides various communication services such as the ability to generate voice recordings based on text and vice versa.
  - name: Tenant Settings
    description: |
      Inperium Talk enables users to get tenant settings.
  - name: User Settings
    description: |
      Each user has a unique profile that contains information about the default contact number, forwarding options, and many more.
  - name: Voicemails
    description: |
      The voicemails are the messages the clients leave when nobody picks the line. It's a safe and reliable way to gather inquires when your managers are out of office.
  - name: Widgets
    description: In Inperium Talk, widgets are dashboard elements such as charts and lists that help track your productivity.

paths:

  /addresses:
    get:
      tags:
        - Addresses
      summary: List addresses
      description: Use this endpoint to retrieve addresses. This request supports paging and sorting.
      operationId: getAddresses
      parameters:
        - $ref: '#/components/parameters/QueryPageNumber'
        - $ref: '#/components/parameters/QueryPageSize'
        - $ref: '#/components/parameters/QuerySort'
      responses:
        200:
          description: The addresses have been retrieved. Returns addresses.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Addresses'
        default:
          description: Bad request, security violation, or internal server error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResponseError'
    post:
      tags:
        - Addresses
      summary: Create an address
      description: Use this endpoint to add a new address for a tenant.
      operationId: createAddress
      requestBody:
        description: In the request body, pass the AddressRequest object.
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AddressRequest'
      responses:
        201:
          description: The address has been created. Returns the address.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Address'
        default:
          description: Bad request, security violation, or internal server error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResponseError'
  /audioFiles:
    get:
      tags:
        - Audio Files
      summary: List audio files
      description: Use this endpoint to retrieve a list of available audio files stored in the Audio Library. This request supports paging, sorting, and filtering.
      operationId: getAudioFiles
      parameters:
        - $ref: '#/components/parameters/QueryPageNumber'
        - $ref: '#/components/parameters/QueryPageSize'
        - $ref: '#/components/parameters/QuerySort'
        - name: name
          in: query
          description: The name of the audio file.
          schema:
            type: string
      responses:
        200:
          description: The list of audio files has been retrieved. Returns audio files.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AudioFiles'
        default:
          description: Bad request, security violation, or internal server error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResponseError'
    post:
      tags:
        - Audio Files
      summary: Add an audio file
      description: Use this endpoint to upload a new audio file.
      operationId: uploadAudioFile
      requestBody:
        description: In the request body, pass the AudioFileUploadRequest object.
        content:
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/AudioFileUploadRequest'
      responses:
        201:
          description: The audio file has been created. Returns an audio file.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AudioFile'
        default:
          description: Bad request, security violation, or internal server error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResponseError'
  /audioFiles/{id}:
    get:
      tags:
        - Audio Files
      summary: Get audio file by ID
      description: Use this endpoint to retrieve details on specific audio file based on its ID. Provide an ID in the path.
      operationId: getAudioFile
      parameters:
        - $ref: '#/components/parameters/ResourceId'
      responses:
        200:
          description: The audio file details have been retrieved. Returns an audio file details.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AudioFile'
        default:
          description: Bad request, security violation, or internal server error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResponseError'
    delete:
      tags:
        - Audio Files
      summary: Delete an audio file
      description: Use this endpoint to remove an audio file. Provide an ID in the path.
      operationId: deleteAudioFile
      parameters:
        - $ref: '#/components/parameters/ResourceId'
      responses:
        200:
          description: The audio file has been deleted.
          content: { }
        default:
          description: Bad request, security violation, or internal server error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResponseError'
    patch:
      tags:
        - Audio Files
      summary: Partially update an audio file
      description: Use this endpoint to partially update the audio file details. Provide an ID in the path.
      operationId: updateAudioFile
      parameters:
        - $ref: '#/components/parameters/ResourceId'
      requestBody:
        description: In the request body, pass the updated AudioFileUpdateRequest object.
        content:
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/AudioFileUpdateRequest'
      responses:
        200:
          description: The audio file has been updated. Returns the audio file.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AudioFile'
        default:
          description: Bad request, security violation, or internal server error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResponseError'
  /autoReceptionists:
    get:
      tags:
        - Auto Receptionists
      summary: List auto receptionists
      description: Use this endpoint to retrieve a list of auto receptionists configured for this tenant. The request support paging, sorting, and filtering.
      operationId: findAutoReceptionists
      parameters:
        - name: name
          in: query
          description: The auto receptionist name.
          schema:
            type: string
            example: like::Departments
        - $ref: '#/components/parameters/QueryPageNumber'
        - $ref: '#/components/parameters/QueryPageSize'
        - $ref: '#/components/parameters/QuerySort'
      responses:
        200:
          description: The auto receptionists have been retrieved. Returns auto receptionists.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AutoReceptionists'
        default:
          description: Bad request, security violation, or internal server error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResponseError'
    post:
      tags:
        - Auto Receptionists
      summary: Create an auto receptionist
      description: Use this endpoint to configure a new auto receptionist.
      operationId: createAutoReceptionist
      requestBody:
        description: In the request body, pass the AutoReceptionistRequest object.
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AutoReceptionistRequest'
      responses:
        201:
          description: A new auto receptionist has been created. Returns an auto receptionist.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AutoReceptionist'
        default:
          description: Bad request, security violation, or internal server error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResponseError'
  /autoReceptionists/{id}:
    get:
      tags:
        - Auto Receptionists
      summary: Retrieve an auto receptionist
      description: Use this endpoint to retrieve details for a specific auto receptionist by its ID. Provide an ID in the path.
      operationId: findAutoReceptionist
      parameters:
        - $ref: '#/components/parameters/ResourceId'
      responses:
        200:
          description: The auto receptionist details have been retrieved. Returns an auto receptionist.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AutoReceptionist'
        default:
          description: Bad request, security violation, or internal server error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResponseError'
    patch:
      tags:
        - Auto Receptionists
      summary: Partially update an auto receptionist
      description: Use this endpoint to partially modify an existing auto receptionist. Provide an ID in the path.
      operationId: partiallyUpdateAutoReceptionist
      parameters:
        - $ref: '#/components/parameters/ResourceId'
      requestBody:
        description: In the request body, pass the updated AutoReceptionistRequest object.
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AutoReceptionistRequest'
      responses:
        200:
          description: The auto receptionist has been modified. Returns an auto receptionist.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AutoReceptionist'
        default:
          description: Bad request, security violation, or internal server error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResponseError'
    put:
      tags:
        - Auto Receptionists
      summary: Update an auto receptionist
      description: Use this endpoint to completely overwrite the current auto receptionist settings. Provide an ID in the path.
      operationId: updateAutoReceptionist
      parameters:
        - $ref: '#/components/parameters/ResourceId'
      requestBody:
        description: In the request body, pass the updated AutoReceptionistRequest object.
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AutoReceptionistRequest'
      responses:
        200:
          description: The auto receptionist has been modified. Returns the auto receptionist.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AutoReceptionist'
        default:
          description: Bad request, security violation, or internal server error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResponseError'
    delete:
      tags:
        - Auto Receptionists
      summary: Delete an auto receptionist
      description: Use this endpoint to remove an auto receptionist. Provide an ID in the path.
      operationId: deleteAutoReceptionist
      parameters:
        - $ref: '#/components/parameters/ResourceId'
      responses:
        204:
          description: The auto receptionist has been deleted.
          content: { }
        default:
          description: Bad request, security violation, or internal server error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResponseError'
  /calls:
    get:
      tags:
        - Calls
      summary: List calls
      description: Use this endpoint to list all calls made, received, or missed by users. The request supports paging, sorting, and filtering.
      operationId: getCalls
      parameters:
        - $ref: '#/components/parameters/QueryPageNumber'
        - $ref: '#/components/parameters/QueryPageSize'
        - $ref: '#/components/parameters/QuerySort'
        - name: direction
          in: query
          description: The direction of the call. Available options are `inbound` or `outbound`.
          schema:
            type: string
        - name: callerStatus
          in: query
          description: The status of the caller. It can be `started`, `queued`, `ringing`, `in_progress`, `canceled`, `completed`, `forwarded`, `busy`, `failed`, `no_answer`.
          schema:
            type: string
        - name: recipientStatus
          in: query
          description: The status of the recipient. It can be `started`, `queued`, `ringing`, `in_progress`, `canceled`, `completed`, `forwarded`, `busy`, `failed`, `no_answer`.
          schema:
            type: string
        - name: participantStatus
          in: query
          description: The status of any call participant. It can be `started`, `queued`, `ringing`, `in_progress`, `canceled`, `completed`, `forwarded`, `busy`, `failed`, `no_answer`.
          schema:
            type: string
        - name: callerPhoneNumber
          in: query
          description: The phone number of the caller.
          schema:
            type: string
        - name: recipientPhoneNumber
          in: query
          description: The phone number of the recipient.
          schema:
            type: string
        - name: participantPhoneNumber
          in: query
          description: The phone number of any call participant.
          schema:
            type: string
        - name: callerPhoneNumberId
          in: query
          description: The ID of caller's phone number.
          schema:
            type: string
        - name: recipientPhoneNumberId
          in: query
          description: The ID of recipient's phone number.
          schema:
            type: string
        - name: participantPhoneNumberId
          in: query
          description: The ID of any participant's phone number.
          schema:
            type: string
        - name: recorded
          in: query
          description: Whether the call is recorded or not.
          schema:
            type: boolean
        - name: quickFilter
          in: query
          description: |
            A quick filter for discovering missed and unanswered calls. \
            **Note**:
            * Consider combining `MISSED_BY_ME` and `MISSED_BY_TENANT`
              with `participantPhoneNumber` and `participantPhoneNumberId` parameters.
            * Or combine`UNANSWERED_FROM_ME` and `UNANSWERED_FROM_TENANT`
              with `callerPhoneNumber` and `callerPhoneNumberId` parameters.
          schema:
            type: string
            enum:
              - MISSED_BY_ME
              - MISSED_BY_TENANT
              - UNANSWERED_FROM_ME
              - UNANSWERED_FROM_TENANT
      responses:
        200:
          description: The list of calls has been retrieved. Returns calls.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Calls'
        default:
          description: Bad request, security violation, or internal server error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResponseError'
    post:
      tags:
        - Calls
      summary: Create a call
      description: Use this endpoint to create a new outcoming call.
      operationId: createCall
      requestBody:
        description: In the request body, pass the CallRequest object.
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CallRequest'
      responses:
        201:
          description: A new voice call has started. Returns a call.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Call'
        default:
          description: Bad request, security violation, or internal server error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResponseError'
  /calls/find/{sid}:
    get:
      tags:
        - Calls
      summary: Find a call
      description: Use this endpoint to locate and retrieve a call by its SID. Provide a SID in the path.
      operationId: findBySid
      parameters:
        - name: sid
          description: A unique identifier of the call.
          in: path
          required: true
          schema:
            type: string
      responses:
        200:
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Call'
        default:
          description: Bad request, security violation, or internal server error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResponseError'
  /calls/token:
    get:
      tags:
        - Calls
      summary: Retrieve a token
      description: Use this endpoint to get a voice token to connect to SDK.
      operationId: getVoiceToken
      parameters:
        - name: platform
          description: A platform where Inperium Talk runs. If not specified, the default is `WEB`.
          in: query
          schema:
            type: string
            enum:
              - IOS
              - ANDROID
              - WEB
            default: WEB
      responses:
        200:
          description: A new voice token has been created. Returns a voice token.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/VoiceToken'
        default:
          description: Bad request, security violation, or internal server error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResponseError'
  /calls/{id}:
    get:
      tags:
        - Calls
      summary: Get call details
      description: Use this endpoint to retrieve call details by its ID. Provide a ID in the path.
      operationId: getCallById
      parameters:
        - $ref: '#/components/parameters/ResourceId'
      responses:
        200:
          description: The call details have been retrieved. Returns a call.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Call'
        default:
          description: Bad request, security violation, or internal server error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResponseError'
    patch:
      tags:
        - Calls
      summary: Partially update a call
      description: Use this endpoint to partially modify a call without overwritting it. Provide an ID in the path.
      operationId: patchCallById
      parameters:
        - $ref: '#/components/parameters/ResourceId'
      requestBody:
        description: In the request body, pass the updated CallChangeRequest.
          application/json:
            schema:
              $ref: '#/components/schemas/CallChangeRequest'
      responses:
        200:
          description: The call has been updated. Returns a call.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Call'
        default:
          description: Bad request, security violation, or internal server error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResponseError'
    put:
      tags:
        - Calls
      summary: Update a call
      description: Use this endpoint to update a call. The call details will be overwritten. Provide an ID in the path.
      operationId: updateCallById
      parameters:
        - $ref: '#/components/parameters/ResourceId'
      requestBody:
        description: In the request body, pass the CallRequest object.
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CallRequest'
      responses:
        200:
          description: The call has been updated. Returns an updated call.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Call'
        default:
          description: Bad request, security violation, or internal server error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResponseError'
    delete:
      tags:
        - Calls
      summary: Delete a call
      description: Use this endpoint to remove a voice call. Provide an ID in the path.
      operationId: deleteCallById
      parameters:
        - $ref: '#/components/parameters/ResourceId'
      responses:
        204:
          description: Returns an empty response.
          content: { }
        default:
          description: Bad request, security violation, or internal server error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResponseError'
  /calls/{id}/join:
    post:
      tags:
        - Calls
      summary: Join a call
      description: Use this endpoint to add a new participant to a call. Provide a call ID in the path.
      operationId: joinCall
      parameters:
        - $ref: '#/components/parameters/ResourceId'
      requestBody:
        description: In the request bodym pass the CallParticipantRequest object with information about a participant who joins.
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CallParticipantRequest'
      responses:
        200:
          description: A new participant has joined the call. Returns the call participant.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CallParticipant'
        default:
          description: Bad request, security violation, or internal server error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResponseError'
  /calls/callbacks/conference/{id}:
    post:
      tags:
        - Call Callbacks
      x-access: private
      summary: Twilio callback for call conference
      operationId: conferenceCallback
      parameters:
        - $ref: '#/components/parameters/ResourceId'
      requestBody:
        content:
          application/x-www-form-urlencoded:
            schema:
              properties:
                ConferenceSid:
                  type: string
                SequenceNumber:
                  type: string
                StatusCallbackEvent:
                  type: string
                CallSid:
                  type: string
                AccountSid:
                  type: string
      responses:
        200:
          description: TwiML response has been received
          content: { }
        default:
          description: Bad request, security violation, or internal server error.
          content:
            application/xml:
              schema:
                $ref: '#/components/schemas/ResponseError'
  /calls/callbacks/fallback:
    post:
      tags:
        - Call Callbacks
      x-access: private
      summary: Add a fallback URL in case of error during the call
      operationId: fallbackCall
      requestBody:
        content:
          application/x-www-form-urlencoded:
            schema:
              properties:
                From:
                  type: string
                To:
                  type: string
                CallSid:
                  type: string
      responses:
        200:
          description: TwiML response has been received
          content: { }
        default:
          description: Bad request, security violation, or internal server error.
          content:
            application/xml:
              schema:
                $ref: '#/components/schemas/ResponseError'
  /calls/callbacks/inbound:
    post:
      tags:
        - Call Callbacks
      x-access: private
      summary: Notify about new inbound call on Twilio number
      operationId: startInboundCall
      requestBody:
        content:
          application/x-www-form-urlencoded:
            schema:
              properties:
                To:
                  type: string
                From:
                  type: string
                AccountSid:
                  type: string
                CallSid:
                  type: string
      responses:
        200:
          description: TwiML response has been received
          content: { }
        default:
          description: Bad request, security violation, or internal server error.
          content:
            application/xml:
              schema:
                $ref: '#/components/schemas/ResponseError'
  /calls/callbacks/outbound:
    post:
      tags:
        - Call Callbacks
      x-access: private
      summary: Notify about the start of outbound Twilio call
      operationId: startOutboundCall
      requestBody:
        content:
          application/x-www-form-urlencoded:
            schema:
              properties:
                CallId:
                  type: string
                  format: uuid
                CallSid:
                  type: string
                To:
                  type: string
                From:
                  type: string
                AccountSid:
                  type: string
      responses:
        200:
          description: TwiML response has been received
          content: { }
        default:
          description: Bad request, security violation, or internal server error.
          content:
            application/xml:
              schema:
                $ref: '#/components/schemas/ResponseError'
  /calls/callbacks/status:
    post:
      tags:
        - Call Callbacks
      x-access: private
      summary: Set the status of the current Twilio call
      operationId: setCallStatus
      requestBody:
        content:
          application/x-www-form-urlencoded:
            schema:
              properties:
                CallSid:
                  type: string
                To:
                  type: string
                From:
                  type: string
                AccountSid:
                  type: string
                CallStatus:
                  type: string
      responses:
        200:
          description: The status has been accepted
          content: { }
        default:
          description: Bad request, security violation, or internal server error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResponseError'
  /calls/callbacks/{id}/forward:
    post:
      tags:
        - Call Callbacks
      x-access: private
      summary: Forward the incoming call if the agent does not answer in the browser
      operationId: forwardIncomingCall
      parameters:
        - $ref: '#/components/parameters/ResourceId'
      requestBody:
        content:
          application/x-www-form-urlencoded:
            schema:
              properties:
                DialCallStatus:
                  type: string
                CallSid:
                  type: string
                CallStatus:
                  type: string
      responses:
        200:
          description: TwiML response has been received
          content: { }
        default:
          description: Bad request, security violation, or internal server error.
          content:
            application/xml:
              schema:
                $ref: '#/components/schemas/ResponseError'
  /calls/callbacks/{id}/join:
    post:
      tags:
        - Call Callbacks
      x-access: private
      summary: Twilio callback for call client on app
      operationId: joinUserToCall
      parameters:
        - $ref: '#/components/parameters/ResourceId'
      requestBody:
        content:
          application/x-www-form-urlencoded:
            schema:
              properties:
                AnsweredBy:
                  type: string
      responses:
        200:
          description: TwiML response has been received
          content: { }
        default:
          description: Bad request, security violation, or internal server error.
          content:
            application/xml:
              schema:
                $ref: '#/components/schemas/ResponseError'
  /calls/callbacks/{id}/recording:
    post:
      tags:
        - Recording Callbacks
      x-access: private
      summary: Instruct Twilio to make a POST request when the recording has finished
      operationId: saveRecording
      parameters:
        - $ref: '#/components/parameters/ResourceId'
      requestBody:
        content:
          application/x-www-form-urlencoded:
            schema:
              properties:
                RecordingUrl:
                  type: string
                RecordingSid:
                  type: string
                RecordingDuration:
                  type: number
                  format: double
      responses:
        200:
          description: TwiML response has been received
          content: { }
        default:
          description: Bad request, security violation, or internal server error.
          content:
            application/xml:
              schema:
                $ref: '#/components/schemas/ResponseError'
  /calls/callbacks/{id}/recording/{type}/{typeId}:
    post:
      tags:
        - Recording Callbacks
      x-access: private
      summary: Instruct Twilio to make a POST request when the recording has finished
      operationId: saveRecordingWithType
      parameters:
        - $ref: '#/components/parameters/ResourceId'
        - name: type
          in: path
          required: true
          schema:
            type: string
        - name: typeId
          in: path
          required: true
          schema:
            type: string
            format: uuid
      requestBody:
        content:
          application/x-www-form-urlencoded:
            schema:
              properties:
                RecordingUrl:
                  type: string
                RecordingSid:
                  type: string
                RecordingDuration:
                  type: number
                  format: double
      responses:
        200:
          description: TwiML response has been received
          content: { }
        default:
          description: Bad request, security violation, or internal server error.
          content:
            application/xml:
              schema:
                $ref: '#/components/schemas/ResponseError'
  /calls/callbacks/{id}/status/{participantId}:
    post:
      tags:
        - Call Callbacks
      x-access: private
      summary: Twilio callback for status call
      operationId: callStatus
      parameters:
        - $ref: '#/components/parameters/ResourceId'
        - name: participantId
          in: path
          required: true
          schema:
            type: string
            format: uuid
      requestBody:
        content:
          application/x-www-form-urlencoded:
            schema:
              properties:
                CallSid:
                  type: string
                To:
                  type: string
                From:
                  type: string
                AccountSid:
                  type: string
                CallStatus:
                  type: string
      responses:
        200:
          description: TwiML response has been received
          content: { }
        default:
          description: Bad request, security violation, or internal server error.
          content:
            application/xml:
              schema:
                $ref: '#/components/schemas/ResponseError'
  /calls/callbacks/{id}/transcribe:
    post:
      tags:
        - Recording Callbacks
      x-access: private
      summary: Instruct Twilio to make an asynchronous POST request when the transcription
        for recording is complete
      operationId: saveRecordingMessage
      parameters:
        - $ref: '#/components/parameters/ResourceId'
      requestBody:
        content:
          application/x-www-form-urlencoded:
            schema:
              properties:
                TranscriptionText:
                  type: string
                TranscriptionStatus:
                  type: string
      responses:
        200:
          description: Empty response has been received
          content: { }
        default:
          description: Bad request, security violation, or internal server error.
          content:
            application/xml:
              schema:
                $ref: '#/components/schemas/ResponseError'
  /calls/callbacks/ivr/{id}:
    post:
      tags:
        - IVR Callbacks
      x-access: private
      summary: Callback for doing IVR
      operationId: numberIVRCallback
      parameters:
        - $ref: '#/components/parameters/ResourceId'
      requestBody:
        content:
          application/x-www-form-urlencoded:
            schema:
              properties:
                CallSid:
                  type: string
                Digits:
                  type: string
      responses:
        200:
          description: TwiML response has been received
          content: { }
        default:
          description: Bad request, security violation, or internal server error.
          content:
            application/xml:
              schema:
                $ref: '#/components/schemas/ResponseError'
  /calls/callbacks/ivr/{id}/noAction/{count}:
    post:
      tags:
        - IVR Callbacks
      x-access: private
      summary: Callback for handling when a user enters no action for IVR menu
      operationId: noActionIVRCallback
      parameters:
        - $ref: '#/components/parameters/ResourceId'
        - name: count
          description: How many times we play this IVR menu
          in: path
          required: true
          schema:
            type: integer
      requestBody:
        content:
          application/x-www-form-urlencoded:
            schema:
              properties:
                To:
                  type: string
                CallSid:
                  type: string
      responses:
        200:
          description: TwiML response has been received
          content: { }
        default:
          description: Bad request, security violation, or internal server error.
          content:
            application/xml:
              schema:
                $ref: '#/components/schemas/ResponseError'
  /contacts:
    get:
      tags:
        - Contacts
      summary: List contacts
      description: Use this endpoint to retrieve a list of contacts. This operation supports paging, sorting, and filtering.
      operationId: getContacts
      parameters:
        - $ref: '#/components/parameters/QueryPageNumber'
        - $ref: '#/components/parameters/QueryPageSize'
        - $ref: '#/components/parameters/QuerySort'
        - name: fullName
          description: The contact's first and last name.
          in: query
          schema:
            type: string
      responses:
        200:
          description: The contacts have been retrieved. Returns contacts.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Contacts'
        default:
          description: Bad request, security violation, or internal server error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResponseError'
    post:
      tags:
        - Contacts
      summary: Create a contact
      description: Use this endpoint to add a new contact.
      operationId: createContact
      requestBody:
        description: In the request body, pass the ContactRequest object.
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ContactRequest'
      responses:
        201:
          description: A new contact has been created. Returns a contact.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Contact'
        default:
          description: Bad request, security violation, or internal server error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResponseError'
  /contacts/{id}:
    get:
      tags:
        - Contacts
      summary: Retrieve contact details
      description: Use this endpoint to retrieve a contact by its ID. Provide an ID in the path.
      operationId: getContact
      parameters:
        - $ref: '#/components/parameters/ResourceId'
      responses:
        200:
          description: The contact details have been retrieved. Returns a contact.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Contact'
        default:
          description: Bad request, security violation, or internal server error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResponseError'
    put:
      tags:
        - Contacts
      summary: Update a contact
      description: Use this endpoint to modify an existing contact. The contact details will be overwritten. Provide an ID in the path.
      operationId: updateContact
      parameters:
        - $ref: '#/components/parameters/ResourceId'
      requestBody:
        description: In the request body, pass the updated ContactRequest object.
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ContactRequest'
      responses:
        200:
          description: The contact has been modified. Returns a contact.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Contact'
        default:
          description: Bad request, security violation, or internal server error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResponseError'
    delete:
      tags:
        - Contacts
      summary: Delete a contact
      description: Use this endpoint to remove a contact. Provide an ID in the path.
      operationId: deleteContact
      parameters:
        - $ref: '#/components/parameters/ResourceId'
      responses:
        204:
          description: The contact has been deleted. Returns an empty response.
          content: { }
        default:
          description: Bad request, security violation, or internal server error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResponseError'
  /participants/{id}:
    patch:
      tags:
        - Participants
      summary: Update a participant
      description: Use this endpoint to modify a participant. Provide an ID in the path.
      operationId: patchParticipant
      parameters:
        - $ref: '#/components/parameters/ResourceId'
      requestBody:
        content:
          description: In the request body, pass the ParticipantChangeRequestBody object.
          application/json:
            schema:
              $ref: '#/components/schemas/ParticipantChangeRequestBody'
        required: false
      responses:
        200:
          description: The participant has been updated. Returns a call participant.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CallParticipant'
        default:
          description: Bad request, security violation, or internal server error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResponseError'
    delete:
      tags:
        - Participants
      summary: Remove from conference
      description: Use this endpoint to remove a person from a conference call. Provide an ID in the path.
      operationId: removeParticipant
      parameters:
        - $ref: '#/components/parameters/ResourceId'
      responses:
        204:
          description: The participant has been removed.
        default:
          description: Bad request, security violation, or internal server error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResponseError'
  /participants:
    patch:
      tags:
        - Participants
      summary: Update participants on a call
      description: Use this endpoint to change the call participant's status, for example, to mute or put on hold. You can update one or more participants on a call.
      operationId: patchParticipants
      requestBody:
        description: In the request body, pass the array of ParticipantChangeRequest objects.
        content:
          application/json:
            schema:
              type: array
              items:
                $ref: '#/components/schemas/ParticipantChangeRequest'
      responses:
        200:
          description: The participants have been updated. Returns call participants.
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/CallParticipant'
        default:
          description: Bad request, security violation, or internal server error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResponseError'
  /phoneNumbers:
    get:
      tags:
        - Phone Numbers
      summary: List phone numbers
      description: Use this endpoint to retrieve all available phone numbers. This operation supports paging, sorting, and filtering.
      operationId: getPhoneNumbers
      parameters:
        - name: userId
          in: query
          description: To search for phone numbers assigned to a specific user, provide the user's ID.
          schema:
            type: string
            example: eq::fda3787b-9f4e-45e3-91a3-46d61003c2d7
        - name: assignmentType
          in: query
          description: Search for phone numbers by their assignment type. A phone number can be assigned to `USER`, `AUTO_RECEPTIONIST`, or be `UNASSIGNED`.
          schema:
            type: string
            example: eq::USER
        - name: number
          in: query
          description: A specific phone number you're interested in. Submit a phone number.
          schema:
            minLength: 3
            type: string
        - name: type
          in: query
          description: Search for phone numbers of a specific type such as `LOCAL`, or `TOLL_FREE`.
          schema:
            type: string
            example: eq::LOCAL
        - name: regulatoryStatus
          in: query
          description: Search for phone numbers with a specifici regulatory bundle status. Submit a status.
          schema:
            type: string
        - $ref: '#/components/parameters/QueryPageNumber'
        - $ref: '#/components/parameters/QueryPageSize'
        - $ref: '#/components/parameters/QuerySort'
      responses:
        200:
          description: The phone numbers have been retrieved. Returns phone numbers.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PhoneNumbers'
        default:
          description: Bad request, security violation, or internal server error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResponseError'
    post:
      tags:
        - Phone Numbers
      summary: Buy a phone number
      description: Use this endpoint to buy and register a new phone number. You can create several phone numbers at once. Charges apply in accordance with your subscription plan.
      operationId: buyPhoneNumbers
      requestBody:
        description: In the request body, pass an array of PhoneNumberRequest objects.
        content:
          application/json:
            schema:
              type: array
              items:
                $ref: '#/components/schemas/PhoneNumberRequest'
      responses:
        200:
          description: New phone numbers have been bought. Returns phone numbers.
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/PhoneNumber'
        default:
          description: Bad request, security violation, or internal server error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResponseError'
  /phoneNumbers/{id}:
    get:
      tags:
        - Phone Numbers
      summary: Retrieve a phone number
      description: Use this endpoint to retrieve phone number details. Provide an ID in the path.
      operationId: getPhoneNumber
      parameters:
        - $ref: '#/components/parameters/ResourceId'
      responses:
        200:
          description: The phone number details have been retrieved. Returns a phone number.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PhoneNumber'
        default:
          description: Bad request, security violation, or internal server error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResponseError'
    put:
      tags:
        - Phone Numbers
      summary: Update a phone number
      description: Use this endpoint to modify a phone number and overvwrite its details. Provide an ID in the path.
      operationId: updatePhoneNumber
      parameters:
        - $ref: '#/components/parameters/ResourceId'
      requestBody:
        description: In the request body, pass the updated PhoneNumberRequest object.
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PhoneNumberRequest'
      responses:
        200:
          description: The phone number details have been modified. Returns a phone number.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PhoneNumber'
        default:
          description: Bad request, security violation, or internal server error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResponseError'
    delete:
      tags:
        - Phone Numbers
      summary: Delete a phone number
      description: Use this endpoint to release and remove a phone number. You'll no longer have access to it once you remove it. Provide an ID in the path.
      operationId: deletePhoneNumber
      parameters:
        - $ref: '#/components/parameters/ResourceId'
      responses:
        200:
          description: The phone number has been deleted. Returns an empty response.
          content: { }
        default:
          description: Bad request, security violation, or internal server error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResponseError'
  /webhooks/phoneNumbers/port:
    x-access: private
    post:
      tags:
        - Phone Number Webhooks
      x-access: private
      summary: Port a phone number
      description: Use this endpoint to port a phone number.
      operationId: portPhoneNumber
      requestBody:
        description: In the request body, pass the PhoneNumberRequest object.
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PhoneNumberRequest'
      responses:
        200:
          description: The phone number has been ported. Returns a port number.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PhoneNumber'
        default:
          description: Bad request, security violation, or internal server error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResponseError'
  /recordings:
    get:
      tags:
        - Recordings
      summary: List recordings
      description: Use this endpoint to retrieve all recordings stored with Inperium. The operation supports paging, sorting, and filtering.
      operationId: getRecordings
      parameters:
        - $ref: '#/components/parameters/QueryPageNumber'
        - $ref: '#/components/parameters/QueryPageSize'
        - $ref: '#/components/parameters/QuerySort'
        - name: phoneNumberId
          description: The ID of the phone number the recording is linked to.
          in: query
          schema:
            type: string
        - name: autoReceptionistId
          description: The ID of the auto receptionist the recording is linked to.
          in: query
          schema:
            type: string
        - name: userId
          description: The ID of the user the recording is linked to.
          in: query
          schema:
            type: string
        - name: state
          description: The `READ` or `UNREAD` status.
          in: query
          schema:
            type: string
        - name: type
          description: The type of recording.
          in: query
          schema:
            type: string
        - name: url
          description: The URL of recording.
          in: query
          schema:
            type: string
      responses:
        200:
          description: The recordings have been retrieved. Returns recordings.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Recordings'
        default:
          description: Bad request, security violation, or internal server error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResponseError'
  /recordings/{id}:
    get:
      tags:
        - Recordings
      summary: Retrieve a recording
      description: Use this endpoint to get a specific recording by its ID. Provide an ID in the path.
      operationId: getRecording
      parameters:
        - $ref: '#/components/parameters/ResourceId'
      responses:
        200:
          description: The recording has been retrieved. Returns the recording.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Recording'
        default:
          description: Bad request, security violation, or internal server error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResponseError'
    patch:
      tags:
        - Recordings
      summary: Partically update recording
      description: Use this endpoint to partially modify a recording and its properties. Provide an ID in the path.
      operationId: updateRecording
      parameters:
        - $ref: '#/components/parameters/ResourceId'
      requestBody:
        description: In the request body, pass the updated RecordingRequest object.
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/RecordingRequest'
      responses:
        200:
          description: The recording has been updated. Returns the recording.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Recording'
        default:
          description: Bad request, security violation, or internal server error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResponseError'
    delete:
      tags:
        - Recordings
      summary: Delete recording
      description: Use this endpoint to remove a recording. Provide an ID in the path.
      operationId: deleteRecording
      parameters:
        - $ref: '#/components/parameters/ResourceId'
      responses:
        204:
          description: The recording has been deleted. Returns an empty response.
          content: { }
        default:
          description: Bad request, security violation, or internal server error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResponseError'
  /recordings/{id}/transcribe:
    get:
      tags:
        - Recordings
      summary: Transcribe recording
      description: Use this endpoint to initiate a transcription job and transcribe a recording. Provide an ID in the path.
      operationId: transcribeRecording
      parameters:
        - $ref: '#/components/parameters/ResourceId'
      responses:
        206:
          description: The transcription job has been accepted. Returns an empty response.
          content: { }
        default:
          description: Bad request, security violation, or internal server error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResponseError'
  /regulatoryBundles:
    get:
      tags:
        - Regulatory Bundles
      x-access: private
      summary: Retrieve regulatory bundles
      operationId: getRegulatoryBundles
      parameters:
        - name: type
          in: query
          description: Filter parameter by "type"
          schema:
            type: string
        - name: status
          in: query
          description: Filter parameter by "status"
          schema:
            type: string
        - $ref: '#/components/parameters/QueryPageNumber'
        - $ref: '#/components/parameters/QueryPageSize'
        - $ref: '#/components/parameters/QuerySort'
      responses:
        200:
          description: The regulatory bundles have been retrieved
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RegulatoryBundles'
        default:
          description: Bad request, security violation, or internal server error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResponseError'
    post:
      tags:
        - Regulatory Bundles
      x-access: private
      summary: Create new regulatory bundle
      operationId: createRegulatoryBundle
      requestBody:
        description: Regulation bundle information
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/RegulatoryBundleRequest'
        required: true
      responses:
        201:
          description: The regulatory bundle have been created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RegulatoryBundle'
        default:
          description: Bad request, security violation, or internal server error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResponseError'
  /regulatoryBundles/{id}:
    get:
      tags:
        - Regulatory Bundles
      x-access: private
      summary: Retrieve the regulatory bundle by id
      operationId: getRegulatoryBundle
      parameters:
        - $ref: '#/components/parameters/ResourceId'
      responses:
        200:
          description: The regulatory bundle have been retrieved
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RegulatoryBundle'
        default:
          description: Bad request, security violation, or internal server error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResponseError'
    put:
      tags:
        - Regulatory Bundles
      x-access: private
      summary: Update regulatory bundle by id
      operationId: updateRegulatoryBundle
      parameters:
        - $ref: '#/components/parameters/ResourceId'
      requestBody:
        description: Regulation bundle information
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/RegulatoryBundleRequest'
        required: true
      responses:
        200:
          description: The regulatory bundle have been updated
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RegulatoryBundle'
        default:
          description: Bad request, security violation, or internal server error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResponseError'
    delete:
      tags:
        - Regulatory Bundles
      x-access: private
      summary: Delete a regulatory bundle by id
      operationId: deleteRegulatoryBundle
      parameters:
        - $ref: '#/components/parameters/ResourceId'
      responses:
        204:
          description: Returns an empty response.
          content: { }
        default:
          description: Bad request, security violation, or internal server error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResponseError'
  /regulatoryBundles/{id}/sendToReview:
    post:
      tags:
        - Regulatory Bundles
      x-access: private
      summary: Send the regulatory bundle to review
      operationId: sendRegulatoryBundleToReview
      parameters:
        - $ref: '#/components/parameters/ResourceId'
      responses:
        200:
          description: The regulatory requirements have been retrieved
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RegulatoryBundle'
        default:
          description: Bad request, security violation, or internal server error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResponseError'
  /regulatoryBundles/requirements:
    get:
      tags:
        - Regulatory Bundles
      x-access: private
      summary: Retrieve the list of requirements
      operationId: getRegulatoryRequirements
      parameters:
        - name: countryCode
          in: query
          required: true
          schema:
            $ref: '#/components/schemas/CountryCode'
        - name: type
          in: query
          required: true
          description: Phone number type
          schema:
            type: string
      responses:
        200:
          description: The regulatory requirements have been retrieved
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RegulatoryBundleRequirements'
        default:
          description: Bad request, security violation, or internal server error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResponseError'
  /regulatoryBundles/callbacks:
    post:
      tags:
        - Regulatory Bundles
      x-access: private
      summary: Twilio callback for notify about changes status of regulatory bundle status
      operationId: regulatoryBundleCallback
      requestBody:
        content:
          application/x-www-form-urlencoded:
            schema:
              properties:
                BundleSid:
                  type: string
                Status:
                  type: string
                FailureReason:
                  type: string
      responses:
        204:
          description: Returns an empty response.
          content: { }
        default:
          description: Bad request, security violation, or internal server error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResponseError'
  /reports:
    get:
      tags:
        - Reports
      summary: List reports
      description: Use this endpoint to retrieve a list of available reports. This operation supports paging and sorting.
      operationId: getReports
      parameters:
        - $ref: '#/components/parameters/QueryPageNumber'
        - $ref: '#/components/parameters/QueryPageSize'
        - $ref: '#/components/parameters/QuerySort'
      responses:
        200:
          description: The reports have been retrieved. Returns reports.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Reports'
        default:
          description: Bad request, security violation, or internal server error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResponseError'
  /reports/{id}/data:
    get:
      tags:
        - Report Data
      summary: Retrieve report data
      description: Use this endpoint to see report data returned by a specific report. Provide a report ID in the path.
      operationId: getReportData
      parameters:
        - $ref: '#/components/parameters/ResourceId'
        - name: from
          in: query
          required: true
          description: The start date.
          schema:
            type: integer
            format: int64
        - name: to
          in: query
          required: true
          description: The finish date.
          schema:
            type: integer
            format: int64
        - name: who
          in: query
          description: The report can show data for the currently authenticated user (ME) or the whole team (TEAM).
          schema:
            type: string
            enum:
              - ME
              - TEAM
      responses:
        200:
          description: The report data has been retrieved. Returns report data.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ReportData'
        default:
          description: Bad request, security violation, or internal server error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResponseError'
  /services/transcribe:
    post:
      tags:
        - Services
      summary: Convert audio to text
      description: Use this endpoint to transcribe audio file.
      operationId: transcribeAudioFile
      requestBody:
        description: In the request body, pass the audio file to transcribe.
        content:
          audio/*:
            schema:
              type: string
              format: binary
      responses:
        200:
          description: Returns a transcription of the audio.
          content:
            application/json:
              schema:
                type: string
        default:
          description: Bad request, security violation, or internal server error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResponseError'
  /services/textToSpeech:
    post:
      tags:
        - Services
      summary: Convert text to audio
      description: Use this endpoint to generate an audio file based on provided text sample.
      operationId: textToSpeech
      requestBody:
        description: In the request body, pass the TextToSpeechRequest object.
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/TextToSpeechRequest'
      responses:
        200:
          description: The text has been converted in audio. Returns an audio file.
          content:
            audio/*:
              schema:
                type: string
                format: binary
        default:
          description: Bad request, security violation, or internal server error.
          content:
            audio/*:
              schema:
                $ref: '#/components/schemas/ResponseError'
  /services/phoneNumbersToBuy:
    get:
      tags:
        - Services
      summary: List phone numbers for sale
      description: Use this endpoint to retrieve a list of phone numbers that can be purchased in Inperium Talk.
      operationId: findPhoneNumbersAvailableToBuy
      parameters:
        - name: countryCode
          description: The country phone code.
          in: query
          required: true
          schema:
            $ref: '#/components/schemas/CountryCode'
        - name: areaCode
          in: query
          description: The area phone code.
          schema:
            type: string
        - name: type
          in: query
          description: The type of the phonw number that can be `TOLL_FREE` or `LOCAL`.
          schema:
            $ref: '#/components/schemas/PhoneNumberType'
      responses:
        200:
          description: The phone numbers have been retrieved. Returns available phone numbers.
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/AvailablePhoneNumber'
        default:
          description: Bad request, security violation, or internal server error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResponseError'
  /tenantSettings:
    x-access: private
    get:
      x-access: private
      tags:
        - Tenant Settings
      summary: Retrieve tenant settings.
      description: Use this endpoint to get settings configured on teh tenant level. This operation supports paging and sorting.
      operationId: getTenantSettings
      parameters:
        - $ref: '#/components/parameters/QueryPageNumber'
        - $ref: '#/components/parameters/QueryPageSize'
        - $ref: '#/components/parameters/QuerySort'
      responses:
        200:
          description: The tenant settings have been retrieved. Returns tenant settings.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TenantSettings'
        default:
          description: Bad request, security violation, or internal server error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResponseError'
  /users/{id}/phoneNumbers:
    post:
      tags:
        - Phone Numbers
      summary: Assign to user
      description: Use this endpoint to assign a phone number to a user. Provide a user ID in the path.
      operationId: assignUserPhoneNumber
      parameters:
        - $ref: '#/components/parameters/ResourceId'
      requestBody:
        description: In the request body, pass the phone number IDs.
        content:
          application/json:
            schema:
              type: array
              items:
                $ref: '#/components/schemas/Id'
      responses:
        201:
          description: The phone number has been created and assigned to the user.
          content: { }
        default:
          description: Bad request, security violation, or internal server error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResponseError'
  /userSettings:
    get:
      tags:
        - User Settings
      summary: List user settings
      description: Use this endpoint to retrieve settings for a currently authenticated user.
      operationId: getUserSettings
      responses:
        200:
          description: The user settings have been retrieved. Returns user settings.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UserSettings'
        default:
          description: Bad request, security violation, or internal server error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResponseError'
    put:
      tags:
        - User Settings
      summary: Update user settings
      description: Use this endpoint to modify and overwrite current user settings.
      operationId: updateUserSettings
      requestBody:
        description: In the request body, pass the UserSettingsRequest object.
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UserSettingsRequest'
      responses:
        200:
          description: The user settings have been modified. Returns user settings.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UserSettings'
        default:
          description: Bad request, security violation, or internal server error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResponseError'
  /voicemails:
    get:
      x-access: private
      tags:
        - Voicemails
      summary: Retrieve the voicemails
      operationId: getVoicemails
      parameters:
        - $ref: '#/components/parameters/QueryPageNumber'
        - $ref: '#/components/parameters/QueryPageSize'
        - $ref: '#/components/parameters/QuerySort'
        - name: phoneNumberId
          in: query
          schema:
            type: string
        - name: autoReceptionistId
          in: query
          schema:
            type: string
        - name: userId
          in: query
          schema:
            type: string
        - name: state
          in: query
          schema:
            type: string
      responses:
        200:
          description: The voicemail contents have been retrieved
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Recordings'
        default:
          description: Bad request, security violation, or internal server error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResponseError'
  /voicemails/{id}:
    patch:
      x-access: private
      tags:
        - Voicemails
      summary: Update (partially) the voicemail
      operationId: updateVoicemail
      parameters:
        - $ref: '#/components/parameters/ResourceId'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/RecordingRequest'
      responses:
        200:
          description: The voicemail has been updated
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Recording'
        default:
          description: Bad request, security violation, or internal server error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResponseError'
    delete:
      x-access: private
      tags:
        - Voicemails
      summary: Delete a voicemail
      operationId: deleteVoicemail
      parameters:
        - $ref: '#/components/parameters/ResourceId'
      responses:
        204:
          description: The voicemail has been deleted
          content: { }
        default:
          description: Bad request, security violation, or internal server error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResponseError'
  /widgets:
    get:
      tags:
        - Widgets
      summary: List widgets
      description: Use this endpoint to retrieve a list of available widgets. This operation supports paging, sorting, and filtering.
      operationId: getWidgets
      parameters:
        - name: from
          in: query
          required: true
          description: The start date.
          schema:
            type: integer
            format: int64
        - name: to
          in: query
          required: true
          description: The finish date.
          schema:
            type: integer
            format: int64
        - name: who
          in: query
          description: The widgets can show data for the currently authenticated user (ME) or the whole team (TEAM).
          schema:
            type: string
            enum:
              - ME
              - TEAM
      responses:
        200:
          description: The widgets have been retrieved. Returns widgets.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Widgets'
        default:
          description: Bad request, security violation, or internal server error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResponseError'

components:

  securitySchemes:
    BearerAuth:
      type: http
      scheme: bearer
      description: This token is generated when a user enters credentials. Although you can leverage this token when making API calls, please note that due to security concerns it frequently expires.
    ApiKeyAuth:
      type: apiKey
      in: header
      name: X-API-KEY
      description: The API key is a secure key generated by Inperium that can be used for authentication. The API key has an expiration date after which your API requests will be denied by the server.

  parameters:

    ResourceId:
      name: id
      in: path
      description: A unique object identifier.
      required: true
      schema:
        type: string
        format: uuid
    QueryPageNumber:
      name: pageNumber
      in: query
      description: This parameter affects paging. It defines the chunk of data to be retrieved, e.g., records from the page 3.
      schema:
        type: integer
        format: int64
    QueryPageSize:
      name: pageSize
      in: query
      description: This parameter affects paging. It defines the number of records per page.
      schema:
        type: integer
        format: int64
    QuerySort:
      name: sort
      in: query
      description: This parameter affects sorting. It specifies the property name to sort records, e.g., by price or date.
      schema:
        type: string

  schemas:

    ResponseError:
      type: object
      required:
        - status
        - message
      properties:
        status:
          type: string
          description: HTTP status code.
        code:
          type: string
          format: uuid
          description: An optional exception code.
        message:
          type: string
          description: The human-readable localized error message.
        errors:
          type: object
          description: Mapping fields to errors.

    Id:
      type: string
      format: uuid
      description: A unique identifier.

    CountryCode:
      type: string
      description: A two-letter country code as defined by ISO 3166-1 alpha-2.

    TimezoneId:
      type: string
      description: A timezone value.

    PageAndSort:
      type: object
      description: Paging and sorting information.

    AudioFiles:
      type: object
      required:
        - data
        - paging
      properties:
        data:
          type: array
          items:
            $ref: '#/components/schemas/AudioFile'
        paging:
          $ref: '#/components/schemas/PageAndSort'
    AudioFile:
      type: object
      description: Audio file
      required:
        - id
        - name
        - url
        - duration
        - origin
        - predefined
        - createdAt
        - updatedAt
      properties:
        id:
          $ref: '#/components/schemas/Id'
        name:
          type: string
          description: Name of the audio file
        url:
          type: string
          description: URL to the file location in OBS
        duration:
          type: number
          description: Duration of the audio file
        origin:
          $ref: '#/components/schemas/AudioFileOrigin'
        predefined:
          type: boolean
          description: If the audio file is predefined and is not editable
        createdAt:
          type: integer
          format: int64
          description: Timestamp of the create
        updatedAt:
          type: integer
          format: int64
          description: Timestamp of the update
    AudioFileUploadRequest:
      type: object
      description: Audio file upload request
      required:
        - file
        - duration
        - origin
      properties:
        file:
          type: string
          format: binary
          description: File to be uploaded as a audio file
        name:
          type: string
          description: Optional name of this document
        duration:
          type: number
          description: Duration of the audio in seconds
        origin:
          $ref: '#/components/schemas/AudioFileOrigin'
    AudioFileUpdateRequest:
      type: object
      description: Audio file update request
      properties:
        file:
          type: string
          format: binary
          description: File to be uploaded as a audio file
        name:
          type: string
          description: Optional name of this document
        duration:
          type: number
          description: Duration of the audio in seconds
        origin:
          $ref: '#/components/schemas/AudioFileOrigin'
    AudioFileOrigin:
      type: string
      enum:
        - TEXT_TO_SPEECH
        - UPLOAD
        - RECORD
      description: Type of origin of the uploaded audio
    TextToSpeechRequest:
      type: object
      description: Request model to convert text into audio
      required:
        - text
        - voice
      properties:
        text:
          type: string
          description: Text to be converted into audio
        voice:
          type: string
          description: Voice to dub the text
        audioFormat:
          type: string
          enum:
            - MP3
          default: MP3
          description: Format (type) of audio to be synthesized

    AutoReceptionistRequest:
      type: object
      required:
        - name
        - phoneNumbers
        - businessHoursPart
        - closedHoursPart
        - twentyFourSeven
        - businessHours
      properties:
        name:
          type: string
        extension:
          type: string
        operatorIds:
          type: array
          items:
            $ref: '#/components/schemas/Id'
        phoneNumberIds:
          type: array
          items:
            $ref: '#/components/schemas/Id'
        businessHoursPart:
          $ref: '#/components/schemas/AutoReceptionistRequestPart'
        closedHoursPart:
          $ref: '#/components/schemas/AutoReceptionistRequestPart'
        twentyFourSeven:
          type: boolean
          description: If the auto receptionist works as business hours 24/7
        businessHours:
          type: array
          items:
            $ref: '#/components/schemas/BusinessHour'
        timezone:
          $ref: '#/components/schemas/TimezoneId'
    AutoReceptionistRequestPart:
      type: object
      required:
        - routeTo
      properties:
        greetingPromptId:
          $ref: '#/components/schemas/Id'
        routeTo:
          $ref: '#/components/schemas/AutoReceptionistStrategy'
        ivrMenu:
          $ref: '#/components/schemas/IVRMenuRequest'
        autoReceptionistId:
          $ref: '#/components/schemas/Id'
        userId:
          $ref: '#/components/schemas/Id'
        voicemailId:
          $ref: '#/components/schemas/Id'
        callQueue:
          type: string # TODO
    AutoReceptionist:
      type: object
      required:
        - id
        - name
        - phoneNumbers
        - businessHoursPart
        - closedHoursPart
        - twentyFourSeven
        - businessHours
      properties:
        id:
          $ref: '#/components/schemas/Id'
        name:
          type: string
        extension:
          type: string
        operators:
          type: array
          items:
            $ref: '#/components/schemas/User'
        phoneNumbers:
          type: array
          items:
            $ref: '#/components/schemas/PhoneNumber'
        businessHoursPart:
          $ref: '#/components/schemas/AutoReceptionistPart'
        closedHoursPart:
          $ref: '#/components/schemas/AutoReceptionistPart'
        twentyFourSeven:
          type: boolean
          description: If the auto receptionist works as business hours 24/7
        businessHours:
          type: array
          items:
            $ref: '#/components/schemas/BusinessHour'
        timezone:
          $ref: '#/components/schemas/TimezoneId'
    AutoReceptionistPart:
      type: object
      required:
        - routeTo
      properties:
        greetingPrompt:
          $ref: '#/components/schemas/AudioFile'
        routeTo:
          $ref: '#/components/schemas/AutoReceptionistStrategy'
        ivrMenu:
          $ref: '#/components/schemas/IVRMenu'
        autoReceptionist:
          $ref: '#/components/schemas/AutoReceptionist'
        user:
          $ref: '#/components/schemas/User'
        voicemail:
          $ref: '#/components/schemas/AudioFile'
        callQueue:
          type: string # TODO
    AutoReceptionistStrategy:
      type: string
      enum:
        - VOICEMAIL
        - USER
        - AUTO_RECEPTIONIST
        - IVR_MENU
        - CALL_QUEUE # TODO
    AutoReceptionists:
      type: object
      required:
        - data
        - paging
      properties:
        data:
          type: array
          items:
            $ref: '#/components/schemas/AutoReceptionist'
        paging:
          $ref: '#/components/schemas/PageAndSort'

    PhoneNumbers:
      type: object
      properties:
        data:
          type: array
          items:
            $ref: '#/components/schemas/PhoneNumber'
        paging:
          $ref: '#/components/schemas/PageAndSort'
    PhoneNumber:
      type: object
      description: User phone number model
      required:
        - id
        - phoneNumber
        - type
        - timeout
        - countryCode
        - whatsappEnabled
      properties:
        id:
          $ref: '#/components/schemas/Id'
        phoneNumber:
          type: string
        type:
          $ref: '#/components/schemas/PhoneNumberType'
        timeout:
          $ref: '#/components/schemas/PhoneNumberTimeout'
        countryCode:
          $ref: '#/components/schemas/CountryCode'
        whatsappEnabled:
          type: boolean
        name:
          type: string
          description: The given name of the phone number
        assignmentType:
          $ref: '#/components/schemas/PhoneNumberAssignmentType'
        voicemail:
          $ref: '#/components/schemas/AudioFile'
        autoReceptionist:
          $ref: '#/components/schemas/AutoReceptionist'
        user:
          $ref: '#/components/schemas/User'
        regulatoryBundle:
          $ref: '#/components/schemas/RegulatoryBundle'
        city:
          type: string
        state:
          type: string
        address:
          $ref: '#/components/schemas/Address'
        callForwarding:
          $ref: '#/components/schemas/CallForwarding'
    PhoneNumberAssignmentType:
      type: string
      description: Assignment type of the phone number (to whom is it assigned)
      enum:
        - USER
        - UNASSIGNED
        - AUTO_RECEPTIONIST
    PhoneNumberType:
      type: string
      description: Type of the phone number
      enum:
        - LOCAL
        - TOLL_FREE
    PhoneNumberTimeout:
      type: integer
      description: Timeout of the phone number (to finish the call)
    PhoneNumberRequest:
      type: object
      description: User phone number request model
      required:
        - phoneNumber
        - type
        - countryCode
      properties:
        phoneNumber:
          type: string
        twilioSid:
          type: string
        type:
          $ref: '#/components/schemas/PhoneNumberType'
        countryCode:
          $ref: '#/components/schemas/CountryCode'
        name:
          type: string
          description: The given name of the phone number
          example: Maxim's phone number
          maxLength: 63
        voicemailId:
          $ref: '#/components/schemas/Id'
        autoReceptionistId:
          $ref: '#/components/schemas/Id'
        userId:
          $ref: '#/components/schemas/Id'
        regulatoryBundle:
          $ref: '#/components/schemas/RegulatoryBundle'
        timeout:
          $ref: '#/components/schemas/PhoneNumberTimeout'
        city:
          type: string
        state:
          type: string
        addressId:
          $ref: '#/components/schemas/Id'
        whatsappEnabled:
          type: boolean
        callForwarding:
          $ref: '#/components/schemas/CallForwarding'
    IVRMenuRequest:
      required:
        - audioPromptId
        - actions
      type: object
      properties:
        audioPromptId:
          $ref: '#/components/schemas/Id'
        actions:
          type: array
          items:
            $ref: '#/components/schemas/IVRAction'
        noAction:
          $ref: '#/components/schemas/IVRNoActionRequest'
    IVRMenu:
      type: object
      required:
        - audioPrompt
        - actions
      properties:
        audioPrompt:
          $ref: '#/components/schemas/AudioFile'
        actions:
          type: array
          items:
            $ref: '#/components/schemas/IVRAction'
        noAction:
          $ref: '#/components/schemas/IVRNoActionResponse'
    IVRAction:
      required:
        - digit
        - action
      type: object
      properties:
        digit:
          type: string
        action:
          $ref: '#/components/schemas/IVRActionStrategy'
        actionEntityId:
          type: string
          format: uuid
    Addresses:
      type: object
      properties:
        data:
          type: array
          items:
            $ref: '#/components/schemas/Address'
        paging:
          $ref: '#/components/schemas/PageAndSort'
    Address:
      allOf:
        - $ref: '#/components/schemas/AddressRequest'
        - type: object
          required:
            - id
          properties:
            id:
              $ref: '#/components/schemas/Id'
    AddressRequest:
      type: object
      required:
        - addressLine1
        - city
        - state
        - zip
        - countryCode
      properties:
        addressLine1:
          type: string
        addressLine2:
          type: string
        city:
          type: string
        zip:
          type: string
        state:
          type: string
        countryCode:
          $ref: '#/components/schemas/CountryCode'
    AvailablePhoneNumber:
      type: object
      required:
        - name
        - phoneNumber
        - countryCode
        - city
        - type
        - addressRequirements
      properties:
        name:
          type: string
        phoneNumber:
          type: string
        countryCode:
          $ref: '#/components/schemas/CountryCode'
        city:
          type: string
        type:
          $ref: '#/components/schemas/PhoneNumberType'
        addressRequirements:
          type: string
          enum:
            - NONE
            - ANY
            - LOCAL
            - FOREIGN
        postalCode:
          type: string
        state:
          type: string
        basePrice:
          type: number
        currentPrice:
          type: number
    RegulatoryBundles:
      type: object
      properties:
        data:
          type: array
          items:
            $ref: '#/components/schemas/RegulatoryBundle'
        paging:
          $ref: '#/components/schemas/PageAndSort'
    RegulatoryBundle:
      type: object
      properties:
        id:
          $ref: '#/components/schemas/Id'
        name:
          type: string
        countryCode:
          $ref: '#/components/schemas/CountryCode'
        type:
          type: string
        status:
          type: string
    RegulatoryBundleRequest:
      type: object
      properties:
        id:
          $ref: '#/components/schemas/Id'
        name:
          type: string
        countryCode:
          $ref: '#/components/schemas/CountryCode'
        type:
          type: string
        status:
          type: string
    RegulatoryBundleRequirements:
      type: object
      properties:
        fields:
          type: array
          items:
            $ref: '#/components/schemas/RegulatoryBundleRequirementField'
        documents:
          type: array
          items:
            $ref: '#/components/schemas/RegulatoryBundleRequirementDocument'
    RegulatoryBundleRequirementField:
      type: object
      properties:
        name:
          type: string
        type:
          type: string
        requirement_name:
          type: string
    RegulatoryBundleRequirementDocument:
      type: object
      properties:
        name:
          type: string
        description:
          type: string
        type:
          type: string
        requirement_name:
          type: string
        accepted_documents:
          type: array
          items:
            $ref: '#/components/schemas/RegulatoryBundleRequirementDocument'
    CallChangeRequest:
      type: object
      properties:
        record:
          type: boolean
    CallRequest:
      example: { }
      type: object
      properties:
        caller:
          $ref: '#/components/schemas/CallParticipantRequest'
        recipient:
          $ref: '#/components/schemas/CallParticipantRequest'
        participants:
          type: array
          items:
            $ref: '#/components/schemas/CallParticipantRequest'
    CallParticipantRequest:
      type: object
      properties:
        id:
          $ref: '#/components/schemas/Id'
        phoneNumberEntityId:
          $ref: '#/components/schemas/Id'
        phoneNumber:
          type: string
        webAgentId:
          $ref: '#/components/schemas/Id'
        hold:
          type: boolean
    CallParticipant:
      type: object
      required:
        - id
        - hold
      properties:
        id:
          $ref: '#/components/schemas/Id'
        phoneNumberEntity:
          $ref: '#/components/schemas/PhoneNumber'
        phoneNumber:
          type: string
        contact:
          $ref: '#/components/schemas/Contact'
        hold:
          type: boolean
        status:
          $ref: '#/components/schemas/ParticipantStatus'
    Calls:
      type: object
      required:
        - data
        - paging
      properties:
        data:
          type: array
          items:
            $ref: '#/components/schemas/Call'
        paging:
          $ref: '#/components/schemas/PageAndSort'
    Call:
      example: { }
      type: object
      required:
        - id
        - caller
        - recipient
        - participants
        - direction
        - record
        - createdAt
      properties:
        id:
          $ref: '#/components/schemas/Id'
        duration:
          type: integer
          format: int64
          description: Call duration in millis
        caller:
          $ref: '#/components/schemas/CallParticipant'
        recipient:
          $ref: '#/components/schemas/CallParticipant'
        participants:
          type: array
          items:
            $ref: '#/components/schemas/CallParticipant'
        direction:
          $ref: '#/components/schemas/CallDirection'
        status:
          $ref: '#/components/schemas/CallStatus'
        recording:
          $ref: '#/components/schemas/Recording'
        record:
          type: boolean
          description: If true this call is being recorded now
        createdAt:
          type: integer
          format: int64
          description: Timestamp of the create
    CallStatus:
      description: Status of the call
      type: string
      enum:
        - IN_PROGRESS
        - FINISHED
    ParticipantStatus:
      description: Status of the participant
      type: string
      enum:
        - STARTED
        - QUEUED
        - RINGING
        - IN_PROGRESS
        - CANCELED
        - COMPLETED
        - FORWARDED
        - BUSY
        - FAILED
        - NO_ANSWER
    CallDirection:
      description: Direction of the call with respect to the tenant possessing it
      type: string
      enum:
        - INBOUND
        - OUTBOUND
    ParticipantChangeRequestBody:
      type: object
      properties:
        hold:
          type: boolean
        muted:
          type: boolean
    ParticipantChangeRequest:
      type: object
      # TODO return inheritance (allOf with discriminator propertyName: schema)
      required:
        - participantId
      properties:
        participantId:
          $ref: '#/components/schemas/Id'
        hold:
          type: boolean
        muted:
          type: boolean
    VoiceToken:
      type: object
      properties:
        token:
          type: string
          description: Twilio capability token
    Contacts:
      type: object
      properties:
        data:
          type: array
          items:
            $ref: '#/components/schemas/Contact'
        paging:
          $ref: '#/components/schemas/PageAndSort'
    Contact:
      type: object
      required:
        - id
        - firstName
        - shared
        - phoneNumbers
        - emails
      # TODO return inheritance (allOf with discriminator propertyName: schema)
      properties:
        id:
          $ref: '#/components/schemas/Id'
        firstName:
          type: string
        lastName:
          type: string
        companyName:
          type: string
        shared:
          type: boolean
        addressLine1:
          type: string
        addressLine2:
          type: string
        city:
          type: string
        zip:
          type: string
        state:
          type: string
        countryCode:
          $ref: '#/components/schemas/CountryCode'
        avatarUrl:
          type: string
        phoneNumbers:
          type: array
          items:
            $ref: '#/components/schemas/ContactPhoneNumber'
        emails:
          type: array
          items:
            $ref: '#/components/schemas/ContactEmail'
    ContactRequest:
      type: object
      required:
        - firstName
        - shared
        - phoneNumbers
        - emails
      properties:
        firstName:
          type: string
        lastName:
          type: string
        companyName:
          type: string
        shared:
          type: boolean
        addressLine1:
          type: string
        addressLine2:
          type: string
        city:
          type: string
        zip:
          type: string
        state:
          type: string
        countryCode:
          $ref: '#/components/schemas/CountryCode'
        avatarUrl:
          type: string
        phoneNumbers:
          type: array
          items:
            $ref: '#/components/schemas/ContactPhoneNumber'
        emails:
          type: array
          items:
            $ref: '#/components/schemas/ContactEmail'
    ContactInfoType:
      type: string
      enum:
        - WORK
        - PERSONAL
        - OTHER
    ContactPhoneNumber:
      type: object
      required:
        - phoneNumber
        - type
      properties:
        id:
          $ref: '#/components/schemas/Id'
        phoneNumber:
          type: string
        type:
          $ref: '#/components/schemas/ContactInfoType'
    ContactEmail:
      type: object
      required:
        - email
        - type
      properties:
        id:
          $ref: '#/components/schemas/Id'
        email:
          type: string
        type:
[...]
