openapi: 3.0.3

info:
  title: Inperium Message Center Server API
  description: |
    RESTful API providing access to Inperium Message Center.
  version: 1.0.0-SNAPSHOT

servers:
  - url: http://api.inperium.com/v1/messageCenter
  - url: https://api.inperium.com/v1/messageCenter

security:
  - BearerAuth: []
  - ApiKeyAuth: []

tags:
  - name: Health checks
  - name: Webhook
  - name: Accounts
  - name: Threads
  - name: Messages
  - name: Folders
  - name: Drafts
  - name: Attachments

paths:
  /health:
    get:
      tags:
        - Health checks
      summary: Check the health of the microservice
      description: Use this endpoint to verify that microservices are running as usual. You can rely on the information from this endpoint for troubleshooting.
      operationId: checkHealth
      responses:
        200:
          description: An empty response that is used for OK non-returning operations
          content: {}
        default:
          description: Bad request, security violation, or internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResponseError'
                
  /webhooks/auth:
    get:
      tags:
        - Webhook
      summary: TBD
      description: TBD
      operationId: getNylasAuthUrl
      responses:
        200:
          description: TBD
          content:
            application/json:
              schema:
                type: string
        default:
          description: Bad request, security violation, or internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResponseError'    

  /webhooks/register:
    get:
      tags:
        - Webhook
      summary: TBD
      description: TBD
      operationId: registerToken
      parameters:
        - name: code
          in: query
          description: TBD
          required: true
          schema:
            type: string
        - name: state
          in: query
          description: TBD
          required: true
          schema:
            type: string
      responses:
        200:
          description: TBD
        default:
          description: Bad request, security violation, or internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResponseError'
  /accounts:
    get:
      tags:
        - Accounts
      summary: TBD
      description: TBD
      operationId: getAccounts
      parameters:
        - name: email
          in: query
          description: TBD
          schema:
            type: string
        - $ref: '#/components/parameters/QueryPageNumber'
        - $ref: '#/components/parameters/QueryPageSize'
        - $ref: '#/components/parameters/QuerySort'
      responses:
        200:
          description: TBD
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Accounts'
        default:
          description: Bad request, security violation, or internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResponseError'

  /accounts/{id}:
    get:
      tags:
        - Accounts
      summary: TBD
      description: TBD
      operationId: getAccount
      parameters:
        - $ref: '#/components/parameters/ResourceId'
      responses:
        200:
          description: TBD
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Account'
        default:
          description: Bad request, security violation, or internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResponseError'
    delete:
      tags:
        - Accounts
      summary: TBD
      description: TBD
      operationId: deleteAccount
      parameters:
        - $ref: '#/components/parameters/ResourceId'
      responses:
        204:
          description: TBD
        default:
          description: Bad request, security violation, or internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResponseError'

  /accounts/{id}/sync:
    get:
      tags:
        - Accounts
      summary: TBD
      description: TBD
      parameters:
          - $ref: '#/components/parameters/ResourceId'
      operationId: syncAccount
      responses:
        200:
          description: TBD
        default:
          description: Bad request, security violation, or internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResponseError'

  /threads:
    get:
      tags:
        - Threads
      summary: TBD
      description: TBD
      operationId: getThreads
      parameters:
        - name: folderId
          in: query
          schema:
            type: string       
        - name: toMe
          in: query
          schema:
            type: string
        - name: flagged
          in: query
          schema:
            type: string    
        - name: unread
          in: query
          schema:
            type: string     
        - name: mentions
          in: query
          schema:
            type: string  
        - name: attachments
          in: query
          schema:
            type: string           
        - name: body
          in: query
          schema:
            type: string                                                      
        - $ref: "#/components/parameters/UserAccountId"
        - $ref: "#/components/parameters/QueryPageNumber"
        - $ref: "#/components/parameters/QueryPageSize"
        - $ref: "#/components/parameters/QuerySort"
      responses:
        200:
          description: TBD
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Threads'
        default:
          description: Bad request, security violation, or internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResponseError'
  /threads/{id}:
    get:
      tags:
        - Threads
      summary: TBD
      description: TBD
      operationId: getThread
      parameters:
        - $ref: '#/components/parameters/ResourceId'
      responses:
        200:
          description: TBD
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Thread'
        default:
          description: Bad request, security violation, or internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResponseError'
    put:
      tags:
        - Threads
      summary: TBD
      description: TBD
      operationId: updateThread
      parameters:
        - $ref: '#/components/parameters/ResourceId'
      requestBody:
        description: TBD
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ThreadRequest'
      responses:
        204:
          description: TBD
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Thread'
        default:
          description: Bad request, security violation, or internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResponseError'
  /messages:
    get:
      tags:
        - Messages
      summary: TBD
      description: TBD
      operationId: getMessages
      parameters:
        - name: threadId
          in: query
          schema:
            type: string
        - $ref: "#/components/parameters/UserAccountId"
        - $ref: "#/components/parameters/QueryPageNumber"
        - $ref: "#/components/parameters/QueryPageSize"
        - $ref: "#/components/parameters/QuerySort"
      responses:
        200:
          description: TBD
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Messages'
        default:
          description: Bad request, security violation, or internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResponseError'
  /messages/{id}:
    get:
      tags:
        - Messages
      summary: TBD
      description: TBD
      operationId: getMessage
      parameters:
        - $ref: '#/components/parameters/ResourceId'
      responses:
        200:
          description: TBD
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Message'
        default:
          description: Bad request, security violation, or internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResponseError'
    put:
      summary: TBD
      description: TBD
      operationId: updateMessage
      tags:
        - Messages
      parameters:
        - $ref: '#/components/parameters/ResourceId'
      requestBody:
        description: TBD
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/MessageRequest'
      responses:
        200:
          description: TBD
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Message'
        default:
          description: Bad request, security violation, or internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResponseError'
  /folders:
    get:
      tags:
        - Folders
      summary: TBD
      description: TBD
      operationId: getFolders
      parameters:
        - $ref: "#/components/parameters/UserAccountId"
        - $ref: "#/components/parameters/QueryPageNumber"
        - $ref: "#/components/parameters/QueryPageSize"
        - $ref: "#/components/parameters/QuerySort"
      responses:
        200:
          description: TBD
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Folders'
        default:
          description: Bad request, security violation, or internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResponseError'
    post:
      tags:
        - Folders
      summary: TBD
      description: TBD
      operationId: createFolder
      requestBody:
        description: TBD
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/FolderRequest'
      responses:
        200:
          description: TBD
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Folder'
        default:
          description: Bad request, security violation, or internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResponseError'
  /folders/{id}:
    get:
      tags:
        - Folders
      summary: TBD
      description: TBD
      operationId: getFolder
      parameters:
        - $ref: '#/components/parameters/ResourceId'
      responses:
        200:
          description: TBD
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Folder'
        default:
          description: Bad request, security violation, or internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResponseError'
    put:
      summary: TBD
      description: TBD
      operationId: updateFolder
      tags:
        - Folders
      parameters:
        - $ref: '#/components/parameters/ResourceId'
      requestBody:
        description: TBD
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/FolderRequest'
      responses:
        200:
          description: TBD
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Folder'
        default:
          description: Bad request, security violation, or internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResponseError'
    delete:
      tags:
        - Folders
      summary: TBD
      description: TBD
      operationId: deleteFolder
      parameters:
        - $ref: '#/components/parameters/ResourceId'
      responses:
        204:
          description: TBD
        default:
          description: Bad request, security violation, or internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResponseError'
  /drafts:
    get:
      tags:
        - Drafts
      summary: TBD
      description: TBD
      operationId: getDrafts
      parameters:
          - $ref: "#/components/parameters/UserAccountId"
          - $ref: "#/components/parameters/QueryPageNumber"
          - $ref: "#/components/parameters/QueryPageSize"
          - $ref: "#/components/parameters/QuerySort"
      responses:
        200:
          description: TBD
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Drafts'
        default:
          description: Bad request, security violation, or internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResponseError'
    post:
      tags:
        - Drafts
      summary: TBD
      description: TBD
      operationId: createDraft
      requestBody:
        description: TBD
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/DraftRequest'
      responses:
        200:
          description: TBD
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Draft'
        default:
          description: Bad request, security violation, or internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResponseError'
  /drafts/{id}:
    get:
      tags:
        - Drafts
      summary: TBD
      description: TBD
      operationId: getDraft
      parameters:
        - $ref: '#/components/parameters/ResourceId'
      responses:
        200:
          description: TBD
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Draft'
        default:
          description: Bad request, security violation, or internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResponseError'
    put:
      summary: TBD
      description: TBD
      operationId: updateDraft
      tags:
        - Drafts
      parameters:
        - $ref: '#/components/parameters/ResourceId'
      requestBody:
        description: TBD
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/DraftRequest'
      responses:
        200:
          description: TBD
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Draft'
        default:
          description: Bad request, security violation, or internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResponseError'
  /attachments:
    get:
      tags:
        - Attachments
      summary: TBD
      description: TBD
      operationId: getAttachments
      parameters:
          - $ref: "#/components/parameters/UserAccountId"
          - $ref: "#/components/parameters/QueryPageNumber"
          - $ref: "#/components/parameters/QueryPageSize"
          - $ref: "#/components/parameters/QuerySort"
      responses:
        200:
          description: TBD
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Attachments'
        default:
          description: Bad request, security violation, or internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResponseError'
    post:
      tags:
        - Attachments
      summary: TBD
      description: TBD
      operationId: uploadAttachmentContent
      requestBody:
        content:
          multipart/form-data:
            schema:
              properties:
                content:
                  type: string
                  description: A attachment to be uploaded
                  format: binary
      responses:
        200:
          description: TBD
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Attachment'
        default:
          description: Bad request, security violation, or internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResponseError'
  /attachments/{id}:
    get:
      tags:
        - Attachments
      summary: TBD
      description: description
      operationId: getAttachment
      parameters:
        - $ref: '#/components/parameters/ResourceId'
      responses:
        200:
          description: TBD
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Attachment'
        default:
          description: Bad request, security violation, or internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResponseError'
    delete:
      tags:
        - Attachments
      summary: TBD
      description: TBD
      operationId: deleteAttachment
      parameters:
        - $ref: '#/components/parameters/ResourceId'
      responses:
        204:
          description: TBD
        default:
          description: Bad request, security violation, or internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResponseError'
  /attachments/{id}/content:
    get:
      tags:
        - Attachments
      summary: Retrieve the contents of an attachment.
      description: Use this endpoint to download the content of an attachment.
      operationId: getAttachmentContent
      parameters:
        - $ref: '#/components/parameters/ResourceId'
      responses:
        200:
          description: The file contents have been retrieved
          content:
            application/json:
              schema:
                type: string
                format: binary
        default:
          description: Bad request, security violation, or internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResponseError'
  /webhook/sync/register:
    get:
      tags:
        - WebhookSync
      summary: TBD
      description: TBD
      operationId: registerWebhook
      responses:
        200:
          description: Register webhook in nylas
        default:
          description: Bad request, security violation, or internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResponseError'
  /webhook/sync:
    get:
      tags:
        - WebhookSync
      summary: Sync nylas
      description: Use this endpoint for synchronization process between application and nylas
      operationId: synchronizationRequest
      parameters:
        - name: challenge
          in: query
          required: true
          schema:
            type: string
      responses:
        200:
          description: The synchronization is successful
          content:
            text/plain:
              schema:
                type: string
        default:
          description: Bad request, security violation, or internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResponseError'
    post:
      tags:
        - WebhookSync
      summary: Sync nylas
      description: Use this endpoint for sync between application and nylas
      operationId: processNotification
      requestBody:
        description: TBD
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Deltas'
      responses:
        200:
          description: The synchronization is successful
        default:
          description: Bad request, security violation, or internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResponseError'


components:
  securitySchemes:
    BearerAuth:
      type: http
      scheme: bearer
    ApiKeyAuth:
      type: apiKey
      in: header
      name: X-API-KEY

  parameters:
    ResourceId:
      name: id
      in: path
      required: true
      schema:
        type: string
        format: UUID
    UserAccountId:
      name: userAccountId
      in: query
      required: true
      schema:
        type: string
    QueryPageNumber:
      name: pageNumber
      in: query
      description: This parameter affects paging. It defines the chunk of data to be retrieved, e.g., records from the page 3.
      schema:
        type: integer
        format: int64
    QueryPageSize:
      name: pageSize
      in: query
      description: This parameter affects paging. It defines the number of records per page
      schema:
        type: integer
        format: int64
    QuerySort:
      name: sort
      in: query
      description: This parameter affects sorting. It specifies the property name to sort records, e.g., by price or date.
      schema:
        type: string

  schemas:
    Accounts:
      type: object
      properties:
        data:
          type: array
          items:
            $ref: '#/components/schemas/Account'
        paging:
          $ref: "#/components/schemas/PageAndSort"

    Account:
      type: object
      properties:
        id: 
          type: string
          format: uuid
        email:
          type: string
        connectionDate:
          type: string
          format: date-time
        status:
          type: string
          enum:
            - CONNECTED
            - FAILED
            - INITIAL_SYNC
        provider:
          type: string
        unreadMessagesAmount:
          type: integer
          format: int64
        sentMessagesAmount:
          type: integer
        draftMessagesAmount:
          type: integer

    Threads:
      type: object
      properties:
        data:
          type: array
          items:
            $ref: '#/components/schemas/Thread'
        paging:
          $ref: "#/components/schemas/PageAndSort"

    Thread:
      type: object
      properties:
        id:
          type: string
          format: UUID
        subject:
          description: Subject of the first message in the thread
          type: string
        unread:
          description: Indicates whether the thread contains unread messages (mutable)
          type: boolean
        starred:
          description: Indicates one or more messages are starred, aka flagged (mutable)
          type: boolean
        lastMessageReceivedAt:
          description: Date and time of the most recently received message.
          type: string
          format: 'date-time'
        lastMessageSentAt:
          description: Date and time of the most recently sent message in the thread
          type: string
          format: 'date-time'
        lastMessageFrom:
          $ref: '#/components/schemas/ThreadParticipant'
        bodyExcerpt:
          description: A shortened plain-text preview of the most recent message in the thread
          type: string
        folderId:
          type: string
        hasAttachments:
          description: Indicates if the thread has files attached to it.
          type: boolean
        messages:
          type: array
          items:
            $ref: '#/components/schemas/Message'
        drafts:
          type: array
          items:
            $ref: '#/components/schemas/Draft'

    ThreadRequest:
      type: object
      properties:
        unread:
          type: boolean
        starred:
          type: boolean
        folderId:
          type: string
        labelIds:
          type: array
          items:
            type: string

    ThreadParticipant:
      type: object
      properties:
        name:
          type: string
        email:
          type: string

    Messages:
      type: object
      properties:
        data:
          type: array
          items:
            $ref: '#/components/schemas/Message'
        paging:
          $ref: "#/components/schemas/PageAndSort"

    Message:
      type: object
      properties:
        id:
          type: string
          format: uuid
        threadId:
          type: string
        subject:
          type: string
        from:
          $ref: '#/components/schemas/ThreadParticipant'
        to:
          type: array
          items:
            $ref: '#/components/schemas/ThreadParticipant'
        cc:
          type: array
          items:
            $ref: '#/components/schemas/ThreadParticipant'
        bcc:
          type: array
          items:
            $ref: '#/components/schemas/ThreadParticipant'
        replyTo:
          type: array
          items:
            $ref: '#/components/schemas/ThreadParticipant'
        receivedAt:
          type: string
          format: 'date-time'
        unread:
          type: boolean
        starred:
          type: boolean
        body:
          type: string
        attachments:
          type: array
          items:
            $ref: '#/components/schemas/Attachment'
        folderId:
          type: string

    MessageRequest:
      type: object
      properties:
        unread:
          type: boolean
        starred:
          type: boolean
        folderId:
          type: string

    Folders:
      type: object
      properties:
        data:
          type: array
          items:
            $ref: '#/components/schemas/Folder'
        paging:
          $ref: "#/components/schemas/PageAndSort"

    Folder:
      type: object
      properties:
        id:
          type: string
          format: UUID
        userAccountId:
          type: string
          format: UUID
        name:
          type: string
        displayName:
          type: string
        unreadMessagesAmount:
          type: integer
          format: int64

    FolderRequest:
      type: object
      properties:
        displayName:
          type: string
        userAccountId:
          type: string
          format: UUID

    Drafts:
      type: object
      properties:
        data:
          type: array
          items:
            $ref: '#/components/schemas/Draft'
        paging:
          $ref: "#/components/schemas/PageAndSort"

    Draft:
      allOf:
        - $ref: "#/components/schemas/Message"
        - type: object
          properties:
            replyToMessageId:
              type: string

    DraftRequest:
      type: object
      properties:
        subject:
          type: string
        to:
          type: array
          items:
            $ref: '#/components/schemas/ThreadParticipant'
        cc:
          type: array
          items:
            $ref: '#/components/schemas/ThreadParticipant'
        bcc:
          type: array
          items:
            $ref: '#/components/schemas/ThreadParticipant'
        body:
          type: string
        replyTo:
          type: array
          items:
            $ref: '#/components/schemas/ThreadParticipant'
        from:
          $ref: '#/components/schemas/ThreadParticipant'
        attachmentIds:
          type: array
          items:
            type: string

    Attachments:
      type: object
      properties:
        data:
          type: array
          items:
            $ref: '#/components/schemas/Attachment'
        paging:
          $ref: "#/components/schemas/PageAndSort"

    Attachment:
      type: object
      properties:
        id:
          type: string
          format: uuid
        filename:
          type: string
        size:
          type: integer
        contentType:
          type: string
        messageIds:
          type: array
          items:
            type: string

    PageAndSort:
      type: object
      description: Paging and sorting information

    ResponseError:
      type: object
      required:
        - status
        - message
      properties:
        status:
          type: string
          description: Http status code
        code:
          type: string
          format: uuid
          description: Optional code of the exception
        message:
          type: string
          description: Error message
        errors:
          type: object
          description: Map of field -> list of errors

    Attributes:
      description: Dto for nylas sync process
      type: object
      properties:
        thread_id:
          type: string
        received_date:
          type: integer

    ObjectData:
      description: Dto for nylas sync process
      type: object
      properties:
        namespace_id:
          type: string
        account_id:
          type: string
        object:
          type: string
        id:
          type: string
        attributes:
          type: Attributes

    Delta:
      description: Dto for nylas sync process
      type: object
      properties:
        date:
          type: integer
        object:
          type: string
        type:
          type: string
        object_data:
          type: ObjectData

    Deltas:
      description: Dto for nylas sync process
      type: object
      properties:
        deltas:
          type: array
          items:
            type: Delta
