openapi: 3.0.1
info:
  title: Inperium Lead Router API
  description: |
    This RESTful API provides access to the Lead Router service that records and processes incoming requests such as new subscriptions, demo and beta access requests.
  version: 1.0.0-SNAPSHOT
servers:
  - url: http://api.inperium.com/v1/leadRouter
  - url: https://api.inperium.com/v1/leadRouter

tags:
  - name: Activities
    description: |
      Activities are events performed by leads. For example, a customer requests a beta access to a new product. These activities are internally recorded by the Lead Router service.
  - name:  Health checks
    description: |
      Since Inperium runs multiple services under the hood, it's crucial to identify the health state of each service. You can rely on the health state information when troubleshooting issues.      

paths:

  /health:
    get:
      tags:
        - Health checks
      summary: Check health
      description: Use this endpoint to verify that the microservice runs as usual.
      operationId: checkHealth
      responses:
        200:
          description: OK
          content: {}
        default:
          description: Bad request, security violation, or internal server error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResponseError'

  /activities:
    post:
      tags:
        - Activities
      summary: Create an activity
      description: Use this endpoint to create a new activity.
      operationId: createActivity
      requestBody:
        description: In the request body, pass the activity data.
        content:
          "application/json":
            schema:
              $ref: "#/components/schemas/ActivityRequest"
        required: false
      responses:
        201:
          description: A new activity has been created.
          content: {}
        default:
          description: Bad request, security violation, or internal server error.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ResponseError"
      x-codegen-request-body-name: activity

components:

  parameters:

    ResourceId:
      name: id
      description: A unique identifier.
      in: path
      required: true
      schema:
        type: string
        format: uuid

  schemas:

    Id:
      type: string
      format: uuid
      description: A unique identifier.

    ResponseError:
      type: object
      description: The common response error model for the Lead Router API.
      required:
        - status
        - message
      properties:
        status:
          type: string
          description: The HTTP status code.
        code:
          type: string
          format: uuid
          description: An optional code of the exception.
        message:
          type: string
          description: The error message text.
        errors:
          type: object
          description: Mapping the fields to the list of errors.

    ActivityRequest:
      description: The ActivityRequest object combines all types of lead activity requests that Inperium internally logs.
      type: object
      example: {}
      discriminator:
        propertyName: type
        mapping:
          subscribed: "#/components/schemas/SubscriptionActivityRequest"
          SUBSCRIBED: "#/components/schemas/SubscriptionActivityRequest"
          content_downloaded: "#/components/schemas/ContentDownloadActivityRequest"
          CONTENT_DOWNLOADED: "#/components/schemas/ContentDownloadActivityRequest"
          profile_completed: "#/components/schemas/ProfileCompletionActivityRequest"
          PROFILE_COMPLETED: "#/components/schemas/ProfileCompletionActivityRequest"
          trial_started: "#/components/schemas/TrialStartActivityRequest"
          TRIAL_STARTED: "#/components/schemas/TrialStartActivityRequest"
          beta_access_requested: "#/components/schemas/BetaAccessRequestActivityRequest"
          BETA_ACCESS_REQUESTED: "#/components/schemas/BetaAccessRequestActivityRequest"
          demo_requested: "#/components/schemas/DemoRequestActivityRequest"
          DEMO_REQUESTED: "#/components/schemas/DemoRequestActivityRequest"
          account_created: "#/components/schemas/AccountCreationActivityRequest"
          ACCOUNT_CREATED: "#/components/schemas/AccountCreationActivityRequest"
          email_verified: "#/components/schemas/EmailVerificationActivityRequest"
          EMAIL_VERIFIED: "#/components/schemas/EmailVerificationActivityRequest"
          contacted_us: "#/components/schemas/ContactUsActivityRequest"
          CONTACTED_US: "#/components/schemas/ContactUsActivityRequest"
      properties:
        lastReferrerUrl:
          type: string
          description: The URL address.

    SubscriptionActivityRequest:
      type: object
      description: The request model to log an activity for a lead that subscribed to the Inperium mail list.
      allOf:
        - $ref: "#/components/schemas/ActivityRequest"
        - type: object
          required:
            - email
          properties:
            email:
              type: string
              description: The lead's email address.

    ContentDownloadActivityRequest:
      type: object
      description: The request model to log an activity for a lead that downloaded a piece of Inperium content.
      allOf:
        - $ref: "#/components/schemas/ActivityRequest"
        - type: object
          required:
            - email
          properties:
            email:
              type: string
              description: The lead's email address.
            firstName:
              type: string
              description: The first name of the lead.
            downloadedContentName:
              type: string
              description: The content identifier or title.

    ProfileCompletionActivityRequest:
      type: object
      description: The request model to log an activity for a lead that completed the profile as part of the onboarding procedure.
      allOf:
        - $ref: "#/components/schemas/ActivityRequest"
        - type: object
          required:
            - email
            - firstName
            - lastName
            - jobTitle
            - companyName
            - companySize
            - industry
          properties:
            email:
              type: string
              description: The lead's email address.
            firstName:
              type: string
              description: The lead's given name.
            lastName:
              type: string
              description: The lead's family name.
            jobTitle:
              type: string
              description: The lead's job title.
            companyName:
              type: string
              description: The name of the tenant company.
            companySize:
              type: string
              description: The number of employees. 
              enum:
                - 1
                - 2
                - 11
                - 51
                - 201
                - 501
                - 1001
                - 5001
                - 10001
            industry:
              type: string
              description: The business area the company operates in.
              enum:
                - SOFTWARE
                - REAL_ESTATE
                - FINANCIAL_SERVICES
                - RETAIL
                - MEDIA
                - HEALTHCARE
                - GOVERNMENT
                - OTHER

    TrialStartActivityRequest:
      type: object
      description: The request model to log an activity for a lead that started a new Inperium trial.
      allOf:
        - $ref: "#/components/schemas/ActivityRequest"
        - type: object
          required:
            - email
            - product
            - plan
          properties:
            email:
              type: string
              description: The lead's email address.
            product:
              type: string
              description: The Inperium product the lead is evaluating.
              enum:
                - SELL
                - TALK
            plan:
              type: string
              description: The subscription plan the lead has chosen.
              enum:
                - ESSENTIAL
                - PROFESSIONAL
                - ENTERPRISE

    BetaAccessRequestActivityRequest:
      type: object
      description: The request model to log an activity for a lead that requested a Beta to an Inperium product.
      allOf:
        - $ref: "#/components/schemas/ActivityRequest"
        - type: object
          required:
            - email
            - product
            - message
          properties:
            email:
              type: string
              description: The lead's email address.
            product:
              type: string
              description: The Inperium product the lead requests Beta access to.
              enum:
                - TALK
            firstName:
              type: string
              description: The lead's given name.
            lastName:
              type: string
              description: The lead's family name.
            message:
              type: string
              description: The Beta access request message.

    DemoRequestActivityRequest:
      type: object
      description: The request model to log an activity for a lead that requested an Inperium demo.
      allOf:
        - $ref: "#/components/schemas/ActivityRequest"
        - type: object
          required:
            - email
            - firstName
            - lastName
            - subject
            - message
          properties:
            email:
              type: string
              description: The lead's email address.
            firstName:
              type: string
              description: The lead's given name.
            lastName:
              type: string
              description: The lead's family name.
            subject:
              type: string
              description: The subject of the message.
            message:
              type: string
              description: The demo request message provided by the lead.

    AccountCreationActivityRequest:
      type: object
      description: The request model to handle a new Inperium account that was created.
      allOf:
        - $ref: "#/components/schemas/ActivityRequest"
        - type: object
          required:
            - email
          properties:
            email:
              type: string
              description: The lead's email address.

    EmailVerificationActivityRequest:
      type: object
      description: The request model to handle an Inperium user verifying his email.
      allOf:
        - $ref: "#/components/schemas/ActivityRequest"
        - type: object
          required:
            - email
          properties:
            email:
              type: string
              description: The lead's email address.

    ContactUsActivityRequest:
      type: object
      description: The request model to log an activity for a lead that contacted Inperium.
      allOf:
        - $ref: "#/components/schemas/ActivityRequest"
        - type: object
          required:
            - email
            - firstName
            - lastName
            - subject
            - message
          properties:
            email:
              type: string
              description: The lead's email address.
            firstName:
              type: string
              description: The lead's given name.
            lastName:
              type: string
              description: The lead's family name.
            subject:
              type: string
              description: The message subject.
            message:
              type: string
              description: The message text submitted by the lead.
