openapi: 3.0.3

info:
  title: Inperium Server Talk Number Porting API
  description: |
    The initial version of Inperium Talk Number Porting API.
  version: 1.0.0

servers:
  - url: http://api.inperium.com/v1/talkNumberPorting
  - url: https://api.inperium.com/v1/talkNumberPorting

security:
  - BearerAuth: [ ]
  - ApiKeyAuth: [ ]

tags:
  - name: Port Orders
    description: |
      Inperium Talk Number Porting enables users to port phone numbers.
  - name: Phone Numbers
    description: |
      Inperium Talk Number Porting enables users to get details about phone numbers which are porting.

paths:

  /portOrders:
    get:
      tags:
        - Port Orders
      summary: Retrieve a list of port orders
      operationId: getPortOrders
      parameters:
        - $ref: '#/components/parameters/QueryPageNumber'
        - $ref: '#/components/parameters/QueryPageSize'
        - $ref: '#/components/parameters/QuerySort'
      responses:
        200:
          description: The port orders have been retrieved
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PortOrders'
        default:
          $ref: '#/components/responses/ErrorResponse'
    post:
      tags:
        - Port Orders
      summary: Create a new port order
      operationId: createPortOrder
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PortOrderRequest'
      responses:
        201:
          description: A new port order has been created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PortOrder'
        409:
          description: Error in the request for creating a new port order, check the error message.
          $ref: '#/components/responses/ErrorResponse'
        default:
          $ref: '#/components/responses/ErrorResponse'

  /portOrders/{id}:
    get:
      tags:
        - Port Orders
      summary: Retrieve a port order details
      operationId: getPortOrder
      parameters:
        - $ref: '#/components/parameters/ResourceId'
      responses:
        200:
          description: The port order has been retrieved
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PortOrder'
        default:
          $ref: '#/components/responses/ErrorResponse'
    patch:
      tags:
        - Port Orders
      summary: Partially update a port order
      operationId: partiallyUpdatePortOrder
      parameters:
        - $ref: '#/components/parameters/ResourceId'
      requestBody:
        description: Partially updates port order
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PortOrderUpdateRequest'
      responses:
        200:
          description: The port order has been modified
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PortOrder'
        default:
          $ref: '#/components/responses/ErrorResponse'

  /phoneNumbers:
    get:
      tags:
        - Phone Numbers
      summary: Retrieve a list of phone numbers
      operationId: getPhoneNumbers
      parameters:
        - name: portStatus
          in: query
          description: Phone number status. Use PhoneNumberPortStatus object for filtering.
          schema:
            type: string
          example: nin::CANCELED,PORTED
        - name: number
          in: query
          description: The phone number such as +12126551232.
          schema:
            type: string
          example: eq::+12126551232
        - $ref: '#/components/parameters/QueryPageNumber'
        - $ref: '#/components/parameters/QueryPageSize'
        - $ref: '#/components/parameters/QuerySort'
      responses:
        200:
          description: The phone numbers have been retrieved
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PhoneNumbers'
        default:
          $ref: '#/components/responses/ErrorResponse'

components:

  securitySchemes:

    BearerAuth:
      type: http
      scheme: bearer

    ApiKeyAuth:
      type: apiKey
      in: header
      name: X-API-KEY

  parameters:

    ResourceId:
      name: id
      in: path
      required: true
      schema:
        type: string
        format: uuid
    QueryPageNumber:
      name: pageNumber
      in: query
      description: Query parameter for the "pageNumber"
      schema:
        type: integer
        format: int64
    QueryPageSize:
      name: pageSize
      in: query
      description: Query parameter for the "pageSize"
      schema:
        type: integer
        format: int64
    QuerySort:
      name: sort
      in: query
      description: Query parameter for the "sort" criteria
      schema:
        type: string

  responses:

    EmptyResponse:
      description: Returns an empty response that is used for OK non-returning operations.
      content: { }

    ErrorResponse:
      description: Bad request, security violation, or internal server error.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'

  schemas:

    Error:
      type: object
      required:
        - status
        - message
      properties:
        status:
          type: string
          description: Http status code
        code:
          type: string
          format: uuid
          description: Optional code of the exception
        message:
          type: string
          description: Error message
        errors:
          type: object
          description: Map of field -> list of errors

    Id:
      type: string
      format: uuid

    PageAndSort:
      type: object
      description: Paging and sorting information, including the number of records per page, the total of pages and records, the current page, etc.
      example:
        pageNumber: 1
        pageSize: 20
        totalNumberOfRecords: 1
        totalNumberOfPages: 1
        hasNextPage: false
        hasPreviousPage: false
        sortingCriteria: null
        hasMore: false

    PhoneNumber:
      type: object
      description: User phone number model
      required:
        - id
        - phoneNumber
        - addressLine
        - city
        - state
        - zip
        - portStatus
        - portOrderId
        - portOrderStatus
      properties:
        id:
          $ref: '#/components/schemas/Id'
        phoneNumber:
          type: string
        firstName:
          type: string
        lastName:
          type: string
        companyName:
          type: string
        addressLine:
          type: string
        city:
          type: string
        state:
          type: string
        zip:
          type: string
        portStatus:
          $ref: '#/components/schemas/PhoneNumberPortStatus'
        portOrderId:
          $ref: '#/components/schemas/Id'
        portOrderStatus:
          $ref: '#/components/schemas/PortOrderStatus'

    PhoneNumberPortStatus:
      type: string
      enum:
        - CREATED
        - IN_PROGRESS
        - RECEIVED
        - INFORMATION_REQUIRED
        - SUBMITTED_TO_CARRIER
        - PORT_SCHEDULED
        - COMPLETED
        - CANCELED
        - PORTED

    PhoneNumbers:
      type: object
      properties:
        data:
          type: array
          items:
            $ref: '#/components/schemas/PhoneNumber'
        paging:
          $ref: '#/components/schemas/PageAndSort'

    CommentType:
      type: string
      enum:
        - INCOMING
        - OUTGOING

    Comment:
      type: object
      required:
        - comment
        - type
        - createdAt
      properties:
        comment:
          type: string
        type:
          $ref: '#/components/schemas/CommentType'
        createdAt:
          type: integer
          format: int64
          description: Timestamp of the create

    Attachment:
      type: object
      required:
        - id
        - createdAt
      properties:
        id:
          $ref: '#/components/schemas/Id'
        createdAt:
          type: integer
          format: int64
          description: Timestamp of the create

    PortOrderStatus:
      type: string
      enum:
        - CREATED
        - IN_PROGRESS
        - UPDATED
        - COMPLETED
        - ERROR

    PortOrderUpdateRequest:
      type: object
      properties:
        comment:
          type: string
        lettersOfAuthorization:
          type: array
          items:
            $ref: '#/components/schemas/Id'
        billingStatements:
          type: array
          items:
            $ref: '#/components/schemas/Id'

    PortOrderRequest:
      type: object
      required:
        - addressLine
        - city
        - state
        - zip
        - phoneNumbers
        - letterOfAuthorization
        - billingStatements
      properties:
        portRequestName:
          type: string
        firstName:
          type: string
        lastName:
          type: string
        companyName:
          type: string
        addressLine:
          type: string
        city:
          type: string
        state:
          type: string
        zip:
          type: string
        phoneNumbers:
          minItems: 1
          type: array
          items:
            type: string
        letterOfAuthorization:
          $ref: '#/components/schemas/Id'
        billingStatements:
          minItems: 1
          type: array
          items:
            $ref: '#/components/schemas/Id'

    PortOrder:
      type: object
      required:
        - id
        - addressLine
        - city
        - state
        - zip
        - phoneNumbers
        - comments
        - lettersOfAuthorization
        - billingStatements
        - status
      properties:
        id:
          $ref: '#/components/schemas/Id'
        portRequestName:
          type: string
        firstName:
          type: string
        lastName:
          type: string
        companyName:
          type: string
        addressLine:
          type: string
        city:
          type: string
        state:
          type: string
        zip:
          type: string
        phoneNumbers:
          type: array
          items:
            $ref: '#/components/schemas/PhoneNumber'
        comments:
          type: array
          items:
            $ref: '#/components/schemas/Comment'
        lettersOfAuthorization:
          type: array
          items:
            $ref: '#/components/schemas/Attachment'
        billingStatements:
          type: array
          items:
            $ref: '#/components/schemas/Attachment'
        status:
          $ref: '#/components/schemas/PortOrderStatus'

    PortOrders:
      type: object
      properties:
        data:
          type: array
          items:
            $ref: '#/components/schemas/PortOrder'
        paging:
          $ref: '#/components/schemas/PageAndSort'
