openapi: 3.0.1

info:
  title: Inperium Sell API
  description: |
    This RESTful API provides access to the Inperium Sell service including the ability to add companies and contacts and create deals.
  version: 1.0.0-SNAPSHOT

servers:
  - url: http://api.inperium.com/v1/sell
  - url: https://api.inperium.com/v1/sell

security:
  - BearerAuth: []
  - ApiKeyAuth: []

tags:
  - name: Activities
    description: |
      Inperium Sell enables users to keep notes, plan tasks, and log calls and meetings. These activities are typically linked to deals, contacts, or companies.
  - name: Attachments
    description: |
      In Inperium Sell, users have the ability to attach documents (pdf, csv, docx, etc.) to deals and companies.
  - name: Auth
    description: |
      Authentication and authorization methods used to access Inperium Sell.
  - name: Calendars
    description: |
      In Inperium Sell, users have the ability to review calendars & events.
  - name: Campaigns
    description: |
      Inperium Sell enables users to create marketing campaigns.
  - name: CommunicationMethods
    description: |
      In Inperium, you can assign a phone number or email address to a company. A communication method is a channel you can leverage to connect with customers or partners.
  - name: Companies
    description: |
      Company is one of major entities in Inperium Sell. Users add companies, literally the businesses they work with, and track deal progress there.
  - name: Company Data
    description: |
      Company data can be enriched with the publicly available information  from the internet, for example, the industry, employee counts, links to social media.
  - name: Company Relationships
    description: |
      Inperium users can associate companies with each other and create parent-child relationships.
  - name: ContactCommunicationMethods
    description: |
      In Inperium, you can assign a phone number or email address to a contact. A communication method is a channel you can leverage to connect with customers or partners.
  - name: Contacts
    description: |
      Contact is one of the major entities in Inperium Sell. Contacts are individuals or company's representatives Inperium Sell users work with.
  - name: Contact Data
    description: |
      Contact data can be enriched with the publicly available information about from the internet, for example, links to social media or a CV.
  - name: Deals
    description: |
      Deals are one of the major entities in Inperium Sell. Users create deals, link them to contacts or companies. For each deal, a user can create multiple quotes and invoices, add products, etc.
  - name: DealItems
    description: |
      As you create a deal, you add products and additional fees and taxes. These items are required to calculate the deal value.
  - name: Deprecated
    description: |
      Deprecated features which will be terminated in next releases.
  - name: Dictionaries
    description: |
      Dictionaries represent lists of objects.
  - name: Documents
    description: |
      Inperium Sell stores files in AWS. In most cases, documents are attached to entities such as companies or deals, but some documents are stored independently (e.g., avatar images).
  - name: DocumentTypes
    description: |
      Inperium Sell enables users to upload documents such as pdfs, png, etc. The DocumentTypes list all supported document extensions.
  - name: Exports
    description: |
      Inperium Sell enables users to export data from the CRM. For example, to reuse it in another app or to store as a backup.
  - name: Forms
    description: |
      In Inperium Sell, users can create custom forms to collect data.
  - name: GlobalSearch
    description: |
      Global search gives the ability to locate entities by name. It searches across deals, companies, contacts at the same time.
  - name: Import
    description: |
      Inperium Sell enables users to import data from other CRMs. For example, contact data, information about deals, and product pricelists.
  - name: ImportLog
    description: |
      If import fails for some reason or data was mapped to a wrong column, refer to the Import log for troubleshooting ideas.
  - name: Integrations
    description: |
      You can leverage third-party applications such as Stripe and Xero and integrate them with Inperium Sell.
  - name: Invoices
    description: |
      Inperium Sell enables users to create professional-looking invoices and process them within CRM.
  - name: InvoicePage
    description: |
      Inperium Sell allows sharing invoices with customers through public URLs. It means you can send an invoice link to your clients, they will follow this link, and review the invoice right in the browser.
  - name: Items
    description: |
      Products and fees are added to deals and quotes and listed as items.
  - name: PaymentMethods
    description: |
      Inperium Sell support integration with Stripe and allows to process payments through this system.
  - name: Payments
    description: |
      In Inperium Sell, payments are separated from invoices. An invoice can be paid in full or splitted into several payments that should be logged individually.
  - name: Pipelines
    description: |
      Pipelines describe the sales process, or being more specific, milestones the deal goes through from start to end. For example, Lead in, Demo, Contact sent, Deal won.
  - name: PipelineStatistics
    description: |
      Analyze your sales progress with pipeline statistics.
  - name: Predefined Metadata
    description: |
      Predefined metadata groups are dictionaries containing data such as currency names.
  - name: Products
    description: |
      Products are items or services the tenant offers. Each product has a description, retail price, and cost.
  - name: Properties
    description: |
      Inperium Sell comes with preset properties (or fields) as well as enables users to create custom definitions. Custom properties are helpful if you need to accomodate your specific business workflow and keep additional data in Inperium Sell. For example, shipment information for deal tracking. In this case, you can add a custom property for deals: both API and regular users will get access to it fro the deals page.
  - name: Quotes
    description: |
      Quotes are sales offers. While negotiating the contract terms, you can propose quotes that typically include products, discounts, and payment plans.
  - name: PublicQuote
    description: |
      Inperium Sell allows sharing quotes with customers through public URLs. It means you can send your clients a quote link, they will follow the link and review the quote right in the browser.
  - name: Reports
    description: |
      Inperium Sell brings you insights into sales activities and creates charts showing how many companies or contacts were created, how many deals were closed, etc. Use the reports to track team productivity and improve performance.
  - name: Stages
    description: |
      The sales pipelines consist of stages. The stages are milestones the deal goes through before it gets closed. For example, Contract Sent, Initial Call. Inperium Sell enables users to add as many stages to their pipelines as they need.
  - name: StripeAuthorizations
    description: |
      To configure integration with Stripe, you've got to authenticate your app with Stripe.
  - name: StripeTerminals
    description: |
      Configure Stripe terminals to receive payments.
  - name: Template
    description: |
      Templates are ready-to-use samples, for example introductory emails or follow-ups. Templates help speed up sales process and make it more structured.
  - name: TenantIntegrations
    description: |
      You can enable third-party integrations for your tenant and use Inperium to its fullest.
  - name: TenantSettings
    description: |
      In Inperium Sell, administrators can set up tenant-wide properties and preferences such as default currency, quote prefix, revenue goal, etc.
  - name: Views
    description: |
      Views control what data is returned to the user, including fitering, sorting, and columns on a display.
  - name: XeroAuthorizations
    description: |
      Configure integration with Xero.

paths:
  /activities:
    get:
      tags:
        - Activities
      summary: List activities
      description: Use this endpoint to get a complete list of activities. This endpoint supports paging and sorting. To narrow down results and locate specfic activities, use query parameters.
      operationId: getActivities
      parameters:
        - name: authorId
          in: query
          description: The ID of the user who added the activity.
          schema:
            type: string
        - name: type
          in: query
          description: The type of activity. Each activity type (task, call, etc.) has an ID.
          schema:
            type: string
        - name: associatedContactId
          in: query
          description: The ID of the contact the activity is linked to.
          schema:
            type: string
        - name: associatedCompanyId
          in: query
          description: The ID of the company the activity is linked to.
          schema:
            type: string
        - name: associatedDealId
          in: query
          description: The ID of the deal the activity is linked to.
          schema:
            type: string
        - name: createdAt
          in: query
          description: The date when the activity was added.
          schema:
            type: string
        - $ref: "#/components/parameters/QueryPageNumber"
        - $ref: "#/components/parameters/QueryPageSize"
        - $ref: "#/components/parameters/QuerySort"
      responses:
        200:
          description: Returns the activities list.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Activities"
        default:
          description: Bad request, security violation, or internal server error.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ResponseError"
    post:
      tags:
        - Activities
      summary: Create an activity
      description: Use this endpoint to create a new activity, for example a new To-Do task.
      operationId: createActivity
      requestBody:
        description: In the request body, pass the ActivityRequest object.
        content:
          "application/json":
            schema:
              $ref: "#/components/schemas/ActivityRequest"
        required: false
      responses:
        201:
          description: A new activity has been created. Returns an activity.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Activity"
        default:
          description: Bad request, security violation, or internal server error.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ResponseError"
      x-codegen-request-body-name: activity
  /activities/{id}:
    put:
      tags:
        - Activities
      summary: Update an activity
      description: Use this endpoint to modify an existing activity.
      operationId: updateActivity
      parameters:
        - $ref: "#/components/parameters/ResourceId"
      requestBody:
        description: In the request body, pass the ActivityRequest object.
        content:
          "*/*":
            schema:
              $ref: "#/components/schemas/ActivityRequest"
            example: {}
        required: false
      responses:
        200:
          description: The activity has been updated. Returns an activity.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Activity"
        default:
          description: Bad request, security violation, or internal server error.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ResponseError"
      x-codegen-request-body-name: activity
    delete:
      tags:
        - Activities
      summary: Delete an activity
      description: Use this endpoint to remove an existing activity.
      operationId: deleteActivity
      parameters:
        - $ref: "#/components/parameters/ResourceId"
      responses:
        204:
          description: The actvity has been removed. Returns an empty response.
          content: {}
        default:
          description: Bad request, security violation, or internal server error.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ResponseError"
  /attachments:
    get:
      tags:
        - Attachments
      summary: List attachments
      description: Use this endpoint to get a list of attached files. This endpoint supports paging and sorting. Use query parameters to narrow down results.
      operationId: getAttachments
      parameters:
        - $ref: "#/components/parameters/QueryStringResourceId"
        - name: company
          description: The ID of company. Use this parameter to get attachments associated with this company ID.
          in: query
          schema:
            type: string
        - name: contact
          description: The ID of the contact. Use this parameter to get attachments associated with this contact ID.
          in: query
          schema:
            type: string
        - $ref: "#/components/parameters/QueryPageNumber"
        - $ref: "#/components/parameters/QueryPageSize"
        - $ref: "#/components/parameters/QuerySort"
      responses:
        200:
          description: Returns the list of attachments.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Attachments"
        default:
          description: Bad request, security violation, or internal server error.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ResponseError"
    post:
      tags:
        - Attachments
      summary: Create an attachment
      description: Use this endpoint to add a new attachment to Inperium Sell.
      operationId: createAttachment
      requestBody:
        description: In the request body, pass the AttachmentRequest object.
        content:
          "*/*":
            schema:
              $ref: "#/components/schemas/AttachmentRequest"
        required: false
      responses:
        201:
          description: A new attachment has been created. Returns an attachment.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Attachment"
        default:
          description: Bad request, security violation, or internal server error.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ResponseError"
      x-codegen-request-body-name: attachment
  /attachments/{id}:
    get:
      tags:
        - Attachments
      summary: Retrieve an attachment
      description: Use this endpoint to locate a specific attachment and retrieve its details.
      operationId: getAttachment
      parameters:
        - $ref: "#/components/parameters/ResourceId"
      responses:
        200:
          description: Returns an attachment.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Attachment"
        default:
          description: Bad request, security violation, or internal server error.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ResponseError"
    put:
      tags:
        - Attachments
      summary: Update an attachment
      description: Use this endpoint to modify and overwrite an existing attachment.
      operationId: updateAttachment
      parameters:
        - $ref: "#/components/parameters/ResourceId"
      requestBody:
        description: In the request body, pass the updated AttachmentRequest object.
        content:
          "*/*":
            schema:
              $ref: "#/components/schemas/AttachmentRequest"
        required: false
      responses:
        200:
          description: The attachment has been updated. Returns an attachment.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Attachment"
        default:
          description: Bad request, security violation, or internal server error.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ResponseError"
      x-codegen-request-body-name: attachment
    delete:
      tags:
        - Attachments
      summary: Delete an attachment
      description: Use this endpoint to remove an existing attachment.
      operationId: deleteAttachment
      parameters:
        - $ref: "#/components/parameters/ResourceId"
      responses:
        204:
          description: The attachment has been removed. Returns an empty response.
          content: {}
        default:
          description: Bad request, security violation, or internal server error.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ResponseError"
  /campaigns:
    get:
      tags:
        - Campaigns
      summary: List campaigns
      description: Use this endpoint to get a complete list of campaigns. This endpoint supports paging and sorting. Use query parameters to narrow down results.
      operationId: getCampaigns
      parameters:
        - name: id
          in: query
          description: The ID of the campaign.
          schema:
            type: string
        - name: name
          in: query
          description: The campaign name.
          schema:
            type: string
        - $ref: "#/components/parameters/QueryPageNumber"
        - $ref: "#/components/parameters/QueryPageSize"
        - $ref: "#/components/parameters/QuerySort"
      responses:
        200:
          description: Returns campaigns.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Campaigns"
        default:
          description: Bad request, security violation, or internal server error.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ResponseError"
    post:
      tags:
        - Campaigns
      summary: Create a campaign
      description: Use this endpoint to add a new campaign to Inperium Sell.
      operationId: createCampaign
      requestBody:
        description: In the request body, pass the CampaignRequest object.
        content:
          "*/*":
            schema:
              $ref: "#/components/schemas/CampaignRequest"
        required: false
      responses:
        201:
          description: The new campaign has been created. Returns a campaign.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Campaign"
        default:
          description: Bad request, security violation, or internal server error.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ResponseError"
      x-codegen-request-body-name: campaign
  /campaigns/{id}:
    get:
      tags:
        - Campaigns
      summary: Retrieve a campaign
      description: Use this endpoint to search for a specific endpoint and retrieve its details.
      operationId: getCampaign
      parameters:
        - $ref: "#/components/parameters/ResourceId"
      responses:
        200:
          description: The campaign details have been retrieved. Returns a campaign.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/CampaignCustom"
        default:
          description: Bad request, security violation, or internal server error.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ResponseError"
    put:
      tags:
        - Campaigns
      summary: Update a campaign
      description: Use this endpoint to modify an existing campaign.
      operationId: updateCampaign
      parameters:
        - $ref: "#/components/parameters/ResourceId"
      requestBody:
        description: In the request body, pass the Campaign object.
        content:
          "*/*":
            schema:
              $ref: "#/components/schemas/Campaign"
        required: false
      responses:
        200:
          description: The campaign has been updated. Returns a campaign.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Campaign"
        default:
          description: Bad request, security violation, or internal server error.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ResponseError"
      x-codegen-request-body-name: campaign
    delete:
      tags:
        - Campaigns
      summary: Delete a campaign
      description: Use this endpoint to remove an existing campaign.
      operationId: deleteCampaign
      parameters:
        - $ref: "#/components/parameters/ResourceId"
      responses:
        204:
          description: The campaign has been removed. Returns an empty response.
          content: {}
        default:
          description: Bad request, security violation, or internal server error.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ResponseError"
  /campaigns/{id}/contacts:
    get:
      tags:
        - Contacts
      summary: List contacts
      description: Use this endpoint to retrieve a list of contacts associated with a specific campaign. This endpoint supports paging and sorting.
      operationId: getCampaignContacts
      parameters:
        - $ref: "#/components/parameters/ResourceId"
        - $ref: "#/components/parameters/QueryPageNumber"
        - $ref: "#/components/parameters/QueryPageSize"
        - $ref: "#/components/parameters/QuerySort"
      responses:
        200:
          description: The contacts have been retrieved. Returns contacts.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Contacts"
        default:
          description: Bad request, security violation, or internal server error.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ResponseError"
  /communication-methods:
    post:
      tags:
        - CommunicationMethods
      summary: Add a communication method
      description: Use this endpoint to set up a new communication method for an entity (contact, company, etc.). For example, a contact has an email address and now you can add an extra communication channel — the phone number.
      operationId: createCommunicationMethod
      requestBody:
        description: In the request body, pass the CommunicationMethod object.
        content:
          "*/*":
            schema:
              $ref: "#/components/schemas/CommunicationMethod"
      responses:
        201:
          description: The new communication method has been added. Returns the communication method.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/CommunicationMethod"
  /communication-methods/{id}:
    get:
      tags:
        - CommunicationMethods
      summary: Retrieve a communication method
      description: Use this endpoint to locate a specific communication method and retrieve its details.
      operationId: getCommunicationMethod
      parameters:
        - $ref: "#/components/parameters/ResourceId"
      responses:
        200:
          description: Information has been retrieved. Returns the communication method.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/CommunicationMethod"
        default:
          description: Bad request, security violation, or internal server error.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ResponseError"
    put:
      tags:
        - CommunicationMethods
      summary: Update a communication method
      description: Use this endpoint to modify a communication method.
      operationId: updateCommunicationMethod
      parameters:
        - $ref: "#/components/parameters/ResourceId"
      requestBody:
        description: In the request body, pass the CommunicationMethod object.
        content:
          "*/*":
            schema:
              $ref: "#/components/schemas/CommunicationMethod"
        required: false
      responses:
        200:
          description: The communication method has been updated. Returns the communication method.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/CommunicationMethod"
        default:
          description: Bad request, security violation, or internal server error.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ResponseError"
  /companies:
    get:
      tags:
        - Companies
      summary: List companies
      description: Use this endpoint to get a list of companies. This endpoint supports paging and sorting. Use query parameters to narrow down results.
      operationId: getCompanies
      parameters:
        - $ref: "#/components/parameters/QueryStringResourceId"
        - $ref: "#/components/parameters/QueryPageNumber"
        - $ref: "#/components/parameters/QueryPageSize"
        - $ref: "#/components/parameters/QuerySort"
        - $ref: "#/components/parameters/EntityProperties"
      responses:
        200:
          description: The companies have been retrieved. Returns the list of companies.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Companies"
        default:
          description: Bad request, security violation, or internal server error.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ResponseError"
    post:
      tags:
        - Companies
      summary: Create a company
      description: Use this endpoint to add a new company.
      operationId: createCompany
      requestBody:
        description: In the request body, pass CompanyRequest object.
        content:
          "*/*":
            schema:
              $ref: "#/components/schemas/CompanyRequest"
        required: false
      responses:
        201:
          description: The new company has been created. Returns the company.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Company"
        default:
          description: Bad request, security violation, or internal server error.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ResponseError"
      x-codegen-request-body-name: company
    patch:
      tags:
        - Companies
      summary: Update companies in bulk
      description: Use this endpoint to modify multiple companies at once. For example, you can set the 'industry' field to the same value or assign several companies to a certain Inperium user.
      operationId: updateCompanies
      parameters:
        - name: ids
          description: The ID of the company.
          in: query
          schema:
            type: array
            items:
              $ref: "#/components/schemas/Id"
      requestBody:
        description: In the request body, pass the CompanyRequest object.
        content:
          "*/*":
            schema:
              $ref: "#/components/schemas/CompanyRequest"
        required: false
      responses:
        201:
          description: The companies have been updated. Returns the list of companies.
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: "#/components/schemas/Company"
        default:
          description: Bad request, security violation, or internal server error.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ResponseError"
      x-codegen-request-body-name: companies
  /companies/enrich:
    get:
      tags:
        - Company Data
      summary: Enrich company information
      description: Use this endpoint to load information about the company that is publicly available online. Inperium pulls information about the company based on its domain.
      operationId: getCompanyDataByDomain
      parameters:
        - name: domainName
          in: query
          description: The company website address.
          schema:
            type: string
      responses:
        200:
          description: The company data has been found. Returns a company.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Company"
        default:
          description: Bad request, security violation, or internal server error.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ResponseError"
  /companies/{id}:
    get:
      tags:
        - Companies
      summary: Retrieve a company
      description: Use this endpoint to retrieve company details.
      operationId: getCompany
      parameters:
        - $ref: "#/components/parameters/ResourceId"
      responses:
        200:
          description: Returns a company.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Company"
        default:
          description: Bad request, security violation, or internal server error.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ResponseError"
    put:
      tags:
        - Companies
      summary: Update a company
      description: Use this endpoint to modify and overwrite company information. Unlike `PATCH`, this action completely overwrites the company data.
      operationId: updateCompany
      parameters:
        - $ref: "#/components/parameters/ResourceId"
      requestBody:
        description: In the reguest body, pass the CompanyRequest object.
        content:
          "*/*":
            schema:
              $ref: "#/components/schemas/CompanyRequest"
        required: false
      responses:
        200:
          description: The company has been updated. Returns a company.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Company"
        default:
          description: Bad request, security violation, or internal server error.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ResponseError"
      x-codegen-request-body-name: company
    patch:
      tags:
        - Companies
      summary: Partially update a company
      description: Use this endpoint to update specific fields in company details.
      operationId: updateCompanyPartial
      parameters:
        - $ref: "#/components/parameters/ResourceId"
      requestBody:
        description: In the request body, pass the CompanyRequest object with the details that need to be updated.
        content:
          "*/*":
            schema:
              $ref: "#/components/schemas/CompanyRequest"
        required: false
      responses:
        200:
          description: The company has been updated. Returns a company.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Company"
        default:
          description: Bad request, security violation, or internal server error.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ResponseError"
      x-codegen-request-body-name: company
    delete:
      tags:
        - Companies
      summary: Delete a company
      description: Use this endpoint to remove a company.
      operationId: deleteCompany
      parameters:
        - $ref: "#/components/parameters/ResourceId"
      responses:
        204:
          description: Returns an empty response.
          content: {}
        default:
          description: Bad request, security violation, or internal server error.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ResponseError"
  /companies/merge:
    post:
      tags:
        - Companies
      summary: Merge company properties
      description: Use this endpoint to merge companies. The properties will be copied from the former company and written to the latter company. The source company will be deleted.
      operationId: mergeCompanies
      parameters:
        - name: sourceId
          in: query
          description: The ID of the origin company.
          required: true
          schema:
            type: string
            format: uuid
        - name: targetId
          in: query
          description: The ID of the target company.
          required: true
          schema:
            type: string
            format: uuid
      requestBody:
        description: In the request body, pass the CompanyRequest object.
        content:
          "*/*":
            schema:
              $ref: "#/components/schemas/CompanyRequest"
        required: false
      responses:
        200:
          description: The origin company has been removed. The target company has been updated. Returns a company.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Company"
        default:
          description: Bad request, security violation, or internal server error.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ResponseError"

  /companyRelationships:
    get:
      tags:
        - Company Relationships
      summary: List relationships
      description: Use this endpoint to get a list of connections associated with the company.
      operationId: getAllCompanyRelationships
      parameters:
        - name: company
          in: query
          description: The ID of the company.
          schema:
            type: string
      responses:
        200:
          description: The company links have been retrieved. Returns the company relationships.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/CompanyRelationships"
        default:
          description: Bad request, security violation, or internal server error.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ResponseError"
    post:
      tags:
        - Company Relationships
      summary: Add a relationship
      description: Use this endpoint to create a new link for the company.
      operationId: createCompanyRelationship
      requestBody:
        description: In the request body, pass the CompanyRelationshipRequest object.
        content:
          "*/*":
            schema:
              $ref: "#/components/schemas/CompanyRelationshipRequest"
        required: false
      responses:
        201:
          description: A new link has been added for the company. Returns a company relationship.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/CompanyRelationship"
        default:
          description: Bad request, security violation, or internal server error.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ResponseError"
      x-codegen-request-body-name: companyRelationship
  /companyRelationships/{id}:
    delete:
      tags:
        - Company Relationships
      summary: Delete a relationship
      description: Use this endpoint to remove a relationship for the company and delete links between companies.
      operationId: deleteCompanyRelationships
      parameters:
        - $ref: "#/components/parameters/ResourceId"
      responses:
        204:
          description: Returns an empty response.
          content: {}
        default:
          description: Bad request, security violation, or internal server error.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ResponseError"
  /contacts:
    get:
      tags:
        - Contacts
      summary: List contacts
      description: Use this endpoint to get a list of available contacts. This operation supports paging, sorting, and filtering by fields such as contact name.
      operationId: getContacts
      parameters:
        - name: fullName
          description: The name of the contact.
          in: query
          schema:
            type: string
        - $ref: "#/components/parameters/QueryStringResourceId"
        - $ref: "#/components/parameters/QueryPageNumber"
        - $ref: "#/components/parameters/QueryPageSize"
        - $ref: "#/components/parameters/QuerySort"
        - $ref: "#/components/parameters/EntityProperties"
      responses:
        200:
          description: Contacts have been retrieved. Returns a list of contacts.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Contacts"
        default:
          description: Bad request, security violation, or internal server error.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ResponseError"
    post:
      tags:
        - Contacts
      summary: Create a contact
      description: Use this endpoint to add new contacts to Inperium Sell.
      operationId: createContact
      requestBody:
        description: In the request body, pass the ContactRequest object.
        content:
          "*/*":
            schema:
              $ref: "#/components/schemas/ContactRequest"
        required: false
      responses:
        201:
          description: A new contact has been created. Returns a contact.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Contact"
        default:
          description: Bad request, security violation, or internal server error.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ResponseError"
      x-codegen-request-body-name: contact
    patch:
      tags:
        - Contacts
      summary: Update contacts in bulk
      description: Use this endpoint to update properties for two or more contacts. For example, assign contacts to an Inperium user or associate several contacts with the same company.
      operationId: updateContacts
      parameters:
        - name: ids
          description: IDs of the contacts that you want to update.
          in: query
          schema:
            type: array
            items:
              $ref: "#/components/schemas/Id"
      requestBody:
        description: In the request body, pass the ContactRequest objects will the values you want to set.
        content:
          "*/*":
            schema:
              $ref: "#/components/schemas/ContactRequest"
        required: false
      responses:
        201:
          description: The contacts have been updated. Returns the list of contacts.
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: "#/components/schemas/Contact"
        default:
          description: Bad request, security violation, or internal server error.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ResponseError"
      x-codegen-request-body-name: contact
  /contacts/enrich:
    get:
      tags:
        - Contact Data
      summary: Enrich contact data
      description: Use this endpoint to load information about the contact that is publicly available online. Inperium pulls information about the contact based on contact's email address.
      operationId: getContactDataByEmail
      parameters:
        - name: email
          in: query
          description: The contact's email address.
          schema:
            type: string
      responses:
        200:
          description: The contact details has been enriched. Returns a contact.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Contact"
        default:
          description: Bad request, security violation, or internal server error.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ResponseError"
  /contacts/{id}:
    get:
      tags:
        - Contacts
      summary: Retrieve a contact
      description: Use this endpoint to retrieve details for a specific contact.
      operationId: getContact
      parameters:
        - $ref: "#/components/parameters/ResourceId"
      responses:
        200:
          description: The contact data has been retrieved. Returns a contact.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Contact"
        default:
          description: Bad request, security violation, or internal server error.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ResponseError"
    put:
      tags:
        - Contacts
      summary: Update a contact
      description: Use this endpoint to update a contact. Unlike `PATCH`, this operation overwrites contact details completely.
      operationId: updateContact
      parameters:
        - $ref: "#/components/parameters/ResourceId"
      requestBody:
        description: In the request body, the ContactRequest object.
        content:
          "*/*":
            schema:
              $ref: "#/components/schemas/ContactRequest"
        required: false
      responses:
        200:
          description: The contact details have been updated. Returns a contact.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Contact"
        default:
          description: Bad request, security violation, or internal server error.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ResponseError"
      x-codegen-request-body-name: contact
    patch:
      tags:
        - Contacts
      summary: Partially update a contact
      description: Use this endpoint to update specific fields in contact details. Unlike `PUT`, this operation overwrites properties partially.
      operationId: updateContactPartial
      parameters:
        - $ref: "#/components/parameters/ResourceId"
      requestBody:
        description: In the request body, pass the ContactRequest object.
        content:
          "*/*":
            schema:
              $ref: "#/components/schemas/ContactRequest"
        required: false
      responses:
        200:
          description: The contact details have been updated. Returns a contact.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Contact"
        default:
          description: Bad request, security violation, or internal server error.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ResponseError"
      x-codegen-request-body-name: contact
    delete:
      tags:
        - Contacts
      summary: Delete a contact
      description: Use this endpoint to remove a contact from Inperium Sell.
      operationId: deleteContact
      parameters:
        - $ref: "#/components/parameters/ResourceId"
      responses:
        204:
          description: Returns an empty response.
          content: {}
        default:
          description: Bad request, security violation, or internal server error.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ResponseError"
  /contacts/merge:
    post:
      tags:
        - Contacts
      summary: Merge contact properties
      description: Use this endpoint to merge contacts. The properties of the origin contact will be moved to the target contact (e.g., name, address) and the origin contact will be deleted.
      operationId: mergeContacts
      parameters:
        - name: sourceId
          description: The ID of the source contact.
          in: query
          required: true
          schema:
            type: string
            format: uuid
        - name: targetId
          description: The ID of the target contact.
          in: query
          required: true
          schema:
            type: string
            format: uuid
      requestBody:
        description: In the request body, pass the ContactRequest object with the properties that need to be merged.
        content:
          "*/*":
            schema:
              $ref: "#/components/schemas/ContactRequest"
        required: false
      responses:
        200:
          description: The target contact has been updated. The origin contact has been removed. Returns the target contact.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Contact"
        default:
          description: Bad request, security violation, or internal server error.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ResponseError"
  /contacts/{id}/communication-methods:
    get:
      tags:
        - ContactCommunicationMethods
      summary: Retrieve a communication method
      description: Use this endpoint to retrieve a phone number or email address associated with this contact.
      operationId: getContactCommunicationMethods
      parameters:
        - $ref: "#/components/parameters/ResourceId"
      responses:
        200:
          description: The contact data has been retrieved. Returns a communication method.
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: "#/components/schemas/CommunicationMethod"
        default:
          description: Bad request, security violation, or internal server error.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ResponseError"
    post:
      tags:
        - ContactCommunicationMethods
      summary: Add a communication method
      description: Use this endpoint to add a new communication channel for the contact, i.e. an email or phone number.
      operationId: createContactCommunicationMethod
      parameters:
        - $ref: "#/components/parameters/ResourceId"
      requestBody:
        description: In the request body, pass the CommunicationMethod object.
        content:
          "*/*":
            schema:
              $ref: "#/components/schemas/CommunicationMethod"
        required: false
      responses:
        200:
          description: The contact data has been updated. Returns a communication method.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/CommunicationMethod"
        default:
          description: Bad request, security violation, or internal server error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ResponseError"
  /contacts/{id}/communication-methods/{communicationMethodId}:
    put:
      tags:
        - ContactCommunicationMethods
      summary: Update a communication method
      description: Use this endpoint to update contact's phone number or email address.
      operationId: updateContactCommunicationMethod
      parameters:
        - $ref: "#/components/parameters/ResourceId"
        - name: communicationMethodId
          description: The ID of the communication method.
          in: path
          required: true
          schema:
            type: string
            format: uuid
      requestBody:
        description: In the request body, pass the CommunicationMethod object.
        content:
          "*/*":
            schema:
              $ref: "#/components/schemas/CommunicationMethod"
      responses:
        200:
          description: The contact data has been updated. Returns a communication method.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/CommunicationMethod"
        default:
          description: Bad request, security violation, or internal server error.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ResponseError"
  /deals:
    get:
      tags:
        - Deals
      summary: Retrieve deals
      description: Use this endpoint to list all deals. This operation supports paging and sorting.
      operationId: getDeals
      parameters:
        - $ref: "#/components/parameters/QueryStringResourceId"
        - $ref: "#/components/parameters/QueryPageNumber"
        - $ref: "#/components/parameters/QueryPageSize"
        - in: query
          name: sort
          schema:
            type: string
            default: "+createdAt"
          description: This parameter affects sorting. It specifies the property name to sort the records by, e.g., price or date.
        - $ref: "#/components/parameters/EntityProperties"
      responses:
        200:
          description: The deals have been retrieved. Returns deals.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Deals"
        default:
          description: Bad request, security violation, or internal server error.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ResponseError"
    post:
      tags:
        - Deals
      summary: Create a deal
      description: Use this endpoint to create a new deal.
      operationId: createDeal
      requestBody:
        description: In the request body, pass the DealRequest object.
        content:
          "*/*":
            schema:
              $ref: "#/components/schemas/DealRequest"
        required: false
      responses:
        201:
          description: A new deal has been created. Returns a deal.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Deal"
        default:
          description: Bad request, security violation, or internal server error.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ResponseError"
      x-codegen-request-body-name: deal
    patch:
      tags:
        - Deals
      summary: Update deals in bulk
      description: Use this endpoint to simultaneously update properties of several deals. For example, you can pick multiple deals and assign them to the same Inperium user.
      operationId: updateDeals
      parameters:
        - name: ids
          description: The IDs of the deals.
          in: query
          schema:
            type: array
            items:
              $ref: "#/components/schemas/Id"
      requestBody:
        description: In the request body, pass the DealRequest object with properties you want to update.
        content:
          "*/*":
            schema:
              $ref: "#/components/schemas/DealRequest"
        required: false
      responses:
        201:
          description: The deals have been updated. Returns the deals.
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: "#/components/schemas/Deal"
        default:
          description: Bad request, security violation, or internal server error.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ResponseError"
      x-codegen-request-body-name: deals
  /deals/{id}:
    get:
      tags:
        - Deals
      summary: Retrieve a deal
      description: Use this endpoint to locate a specific deal and retrieve its details.
      operationId: getDeal
      parameters:
        - $ref: "#/components/parameters/ResourceId"
      responses:
        200:
          description: The deal has been retrieved. Returns a deal.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Deal"
        default:
          description: Bad request, security violation, or internal server error.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ResponseError"
    put:
      tags:
        - Deals
      summary: Update a deal
      description: Use this endpoint to modify deal details. Unlike `PATCH`, this operation completely overwrites a deal.
      operationId: updateDeal
      parameters:
        - $ref: "#/components/parameters/ResourceId"
      requestBody:
        description: In the request body, pass the DealRequest object.
        content:
          "*/*":
            schema:
              $ref: "#/components/schemas/DealRequest"
        required: false
      responses:
        200:
          description: The deal has been updated. Returns a deal.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Deal"
        default:
          description: Bad request, security violation, or internal server error.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ResponseError"
      x-codegen-request-body-name: deal
    patch:
      tags:
        - Deals
      summary: Partially update a deal
      description: Use this endpoint to modify some of the deal properties. Unlike `PUT`, this operation doesn't overwrite the deal completely.
      operationId: updateDealPartial
      parameters:
        - $ref: "#/components/parameters/ResourceId"
      requestBody:
        description: In the request body, pass the DealRequest object with the properties you want to update.
        content:
          "*/*":
            schema:
              $ref: "#/components/schemas/DealRequest"
        required: false
      responses:
        200:
          description: The deal has been updated. Returns a deal.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Deal"
        default:
          description: Bad request, security violation, or internal server error.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ResponseError"
      x-codegen-request-body-name: deal
    delete:
      tags:
        - Deals
      summary: Delete a deal
      description: Use this endpoint to remove a deal. Note that removing a deal that is no longer active is not the best decision from the business perspective. Stale deals should be assigned to a final stage like 'Deal lost' instead of being deleted.
      operationId: deleteDeal
      parameters:
        - $ref: "#/components/parameters/ResourceId"
      responses:
        204:
          description: Returns an empty response.
          content: {}
        default:
          description: Bad request, security violation, or internal server error.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ResponseError"
  /deals/merge:
    post:
      tags:
        - Deals
      summary: Merge deals
      description: Use this endpoint to merge deals. The contents of the origin deal with be moved to the target deal. As a result, the first deal will be removed.
      operationId: mergeDeals
      parameters:
        - name: sourceId
          description: The ID of the origin deal.
          in: query
          required: true
          schema:
            type: string
            format: uuid
        - name: targetId
          description: The ID of the target deal.
          in: query
          required: true
          schema:
            type: string
            format: uuid
      requestBody:
        description: In the request body, pass the DealRequest object with the properties to be merged.
        content:
          "*/*":
            schema:
              $ref: "#/components/schemas/DealRequest"
        required: false
      responses:
        200:
          description: The target deal has been updated. The origin deal has been removed. Returns the deal.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Deal"
        default:
          description: Bad request, security violation, or internal server error.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ResponseError"
  /deals/{id}/items:
    get:
      tags:
        - DealItems
      summary: List deal items
      description: Use this endpoint to get information about the products included in the deal as well as any applicable fees.
      operationId: getDealItems
      parameters:
        - $ref: "#/components/parameters/ResourceId"
      responses:
        200:
          description: Deal items have been retrieved. Returns items.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ItemsAndAdditionalFees"
        default:
          description: Bad request, security violation, or internal server error.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ResponseError"
    post:
      tags:
        - DealItems
      summary: Add items
      description: Use this endpoint to add items to the deal. It can be a product or fee.
      operationId: createDealItems
      parameters:
        - $ref: "#/components/parameters/ResourceId"
      requestBody:
        description: In the request body, pass the ItemsAndAdditionalFees object.
        content:
          "*/*":
            schema:
              $ref: "#/components/schemas/ItemsAndAdditionalFees"
        required: false
      responses:
        201:
          description: Items have been added. Returns items.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ItemsAndAdditionalFees"
        default:
          description: Bad request, security violation, or internal server error.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ResponseError"
      x-codegen-request-body-name: dealItems
  /dictionaryGroups/{groupId}:
    get:
      tags:
        - Dictionaries
      summary: Retrieve a dictionary
      description: Use this endpoint to retrieve a dictionary group by its ID.
      operationId: getDictionaryGroup
      parameters:
        - name: groupId
          description: The ID of the dictionary group.
          in: path
          required: true
          schema:
            type: string
        - $ref: "#/components/parameters/EntityProperties"
      responses:
        200:
          description: The dictionary group has been retrieved. Returns dictionary items.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/DictionaryItems"
        default:
          description: Bad request, security violation, or internal server error.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ResponseError"
  /exports:
    post:
      tags:
        - Exports
      summary: Export data
      description: Use this endpoint to export companies, deals, etc. This operation supports paging, sorting, and filtering.
      operationId: runExport
      requestBody:
        description: In the request body, pass the ExportRequest object.
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/ExportRequest"
      responses:
        200:
          description: The export started. Returns the export file name.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Export"
        default:
          description: Bad request, security violation, or internal server error.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ResponseError"
      x-codegen-request-body-name: fields
  /exports/{id}:
    get:
      tags:
        - Exports
      summary: Download a file
      description: Use this endpoint to download a file containing export results.
      operationId: getExport
      parameters:
        - $ref: "#/components/parameters/ResourceId"
      responses:
        200:
          description: The export file has been downloaded.
          content:
            application/json:
              schema:
                type: string
                format: binary
        default:
          description: Bad request, security violation, or internal server error.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ResponseError"
  /items:
    get:
      tags:
        - Items
      summary: List items
      description: Use this endpoint to retrieve items (products or fees) connected to a specific deal or quote. This operation supports paging and sorting.
      operationId: getItems
      parameters:
        - $ref: "#/components/parameters/QueryStringResourceId"
        - name: dealId
          in: query
          schema:
            type: string
        - $ref: "#/components/parameters/QueryPageNumber"
        - $ref: "#/components/parameters/QueryPageSize"
        - $ref: "#/components/parameters/QuerySort"
      responses:
        200:
          description: The items have been retrieved. Returns items.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Items"
        default:
          description: Bad request, security violation, or internal server error.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ResponseError"
  /forms:
    get:
      tags:
        - Forms
      summary: List forms
      description: Use this endpoint to retrieve custom forms. This endpoint supports paging and sorting. Use query parameters to narrow down results.
      operationId: getForms
      parameters:
        - name: name
          in: query
          description: The form name.
          schema:
            type: string
        - $ref: "#/components/parameters/QueryPageNumber"
        - $ref: "#/components/parameters/QueryPageSize"
        - $ref: "#/components/parameters/QuerySort"
      responses:
        200:
          description: The forms have been retrieved. Returns forms.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Forms"
        default:
          description: Bad request, security violation, or internal server error.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ResponseError"
    post:
      tags:
        - Forms
      summary: Create a form
      description: Use this endpoint to add a new custom forms.
      operationId: createForm
      requestBody:
        description: In the request body, pass the Form object.
        content:
          "*/*":
            schema:
              $ref: "#/components/schemas/Form"
        required: false
      responses:
        201:
          description: The form has been created. Returns a form.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Form"
        default:
          description: Bad request, security violation, or internal server error.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ResponseError"
      x-codegen-request-body-name: form
  /forms/{id}:
    get:
      tags:
        - Forms
      summary: Retrieve a form
      description: Use this endpoint to locate a specific form and get its details.
      operationId: getForm
      parameters:
        - $ref: "#/components/parameters/ResourceId"
      responses:
        200:
          description: The form has been retrieved. Returns a form.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Form"
        default:
          description: Bad request, security violation, or internal server error.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ResponseError"
    put:
      tags:
        - Forms
      summary: Update a form
      description: Use this endpoint to modify and overwrite an existing form.
      operationId: updateForm
      parameters:
        - $ref: "#/components/parameters/ResourceId"
      requestBody:
        description: In the request body, pass the Form object.
        content:
          "*/*":
            schema:
              $ref: "#/components/schemas/Form"
        required: false
      responses:
        200:
          description: The form has been updated. Returns a form.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Form"
        default:
          description: Bad request, security violation, or internal server error.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ResponseError"
      x-codegen-request-body-name: form
    delete:
      tags:
        - Forms
      summary: Delete a form
      description: Use this endpoint to remove a form.
      operationId: deleteForm
      parameters:
        - $ref: "#/components/parameters/ResourceId"
      responses:
        204:
          description: Returns an empty response.
          content: {}
        default:
          description: Bad request, security violation, or internal server error.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ResponseError"
  /globalSearch:
    get:
      tags:
        - GlobalSearch
      summary: Retrieve data
      description: Use this endpoint to search across companies, contacts, and deals. For example, locate all entities that contain "bowl" such as Bowler Inc., Marcus Bowlson.
      operationId: globalSearch
      parameters:
        - name: query
          description: The phrase to search for.
          in: query
          required: true
          schema:
            type: string
      responses:
        200:
          description: The search results have been retrieved. Returns GlobalSearchResults.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/GlobalSearchResults"
        default:
          description: Bad request, security violation, or internal server error.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ResponseError"
  /imports:
    get:
      tags:
        - Imports
      summary: List imports
      description: Use this endpoint to get information about previous imports. This operation supports paging and sorting.
      operationId: getImportEntries
      parameters:
        - name: filename
          in: query
          description: The name of the uploaded file. Specify a name to search for a specific import.
          schema:
            type: string
        - $ref: "#/components/parameters/QueryPageNumber"
        - $ref: "#/components/parameters/QueryPageSize"
        - $ref: "#/components/parameters/QuerySort"
      responses:
        200:
          description: The import log has been retrieved. Returns the list of imports.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Imports"
        default:
          description: Bad request, security violation, or internal server error.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ResponseError"
    post:
      tags:
        - Imports
      summary: Import a file
      description: Use this endpoint to upload a file containing entities to Inperium. For example, you can upload your client data exported from other CRMs and that was previously stored in spreadsheets.
      operationId: importFile
      parameters:
        - name: mappings
          description: This parameter defines mapping between incoming data and Inperium Sell properties.
          in: query
          schema:
            type: string
        - name: fileUrl
          description: The link to the import file.
          in: query
          schema:
            type: string
      responses:
        201:
          description: The entities have been imported.
          content: {}
        default:
          description: Bad request, security violation, or internal server error.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ResponseError"
  /integrations:
    get:
      tags:
        - Integrations
      summary: List integrations
      description: Use this endpoint to retrieve a complete list of third-party integrations enabled for the tenant account. This operation supports paging, sorting, and filtering.
      operationId: getIntegrations
      parameters:
        - name: id
          description: The integration ID.
          in: query
          schema:
            type: string
        - name: name
          description: The integration name.
          in: query
          schema:
            type: string
        - name: type
          description: The integration type.
          in: query
          schema:
            type: string
        - $ref: "#/components/parameters/QueryPageNumber"
        - $ref: "#/components/parameters/QueryPageSize"
        - $ref: "#/components/parameters/QuerySort"
      responses:
        200:
          description: Integrations have been retrieved. Returns integrations.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Integrations"
        default:
          description: Bad request, security violation, or internal server error.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ResponseError"
  /integrations/stripe/authorize:
    get:
      tags:
        - StripeAuthorizations
      summary: Authorize Stripe
      description: Use this endpoint to enable payment processing with Stripe and authorize the Stripe account.
      operationId: authorizeStripe
      responses:
        200:
          description: The request has been forwarded to the redirect URL. Returns the OAuth2Redirect object.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/OAuth2Redirect"
        default:
          description: Bad request, security violation, or internal server error.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ResponseError"
  /integrations/stripe/authorize/callback:
    get:
      tags:
        - StripeAuthorizations
      summary: Get the Stripe callback
      description: Get the Stripe OAuth2 authorization callback.
      operationId: callbackStripe
      parameters:
        - name: code
          description: The one-off authorization code.
          in: query
          schema:
            type: string
      responses:
        200:
          description: Authorization has been successful.
          content: {}
        default:
          description: Bad request, security violation, or internal server error.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ResponseError"
  /integrations/stripe/credentials:
    get:
      tags:
        - StripeAuthorizations
      summary: Get the Stripe credentials
      description: Use this endpoint to retrieve Stripe credentials for the current tenant.
      operationId: getStripeCredentials
      responses:
        200:
          description: The Stripe credentials have been retrieved. Returns Stripe credentials.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/StripeCredentials"
  /integrations/stripe/deauthorize:
    get:
      tags:
        - StripeAuthorizations
      summary: Deauthorize Stripe
      description: Use this endpoint to disable integration with Stripe and revoke access.
      operationId: deauthorizeStripe
      responses:
        204:
          description: Returns an empty response.
          content: {}
        default:
          description: Bad request, security violation, or internal server error.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ResponseError"
  /integrations/xero/authorize:
    get:
      tags:
        - XeroAuthorizations
      summary: Authorize Xero
      description: Use this endpoint to enable integration with Xero and authorize the Xero account.
      operationId: authorizeXero
      responses:
        200:
          description: The request has been forwarded to the redirect URL.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/OAuth2Redirect"
        default:
          description: Bad request, security violation, or internal server error.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ResponseError"
  /integrations/xero/authorize/callback:
    get:
      tags:
        - XeroAuthorizations
      summary: Get the Xero callback
      description: Use this endpoint to receive the Xero OAuth2 authorization callback.
      operationId: callbackXero
      parameters:
        - name: oAuthToken
          description: The Xero token.
          in: query
          schema:
            type: string
        - name: oAuthVerifier
          description: The verification code.
          in: query
          schema:
            type: string
      responses:
        204:
          description: Returns an empty response.
          content: {}
  /integrations/xero/deauthorize:
    get:
      tags:
        - XeroAuthorizations
      summary: Deauthorize Xero
      description: Use this endpoint to disable the tenant's intergration with Xero and revoke access.
      operationId: deauthorizeXero
      responses:
        204:
          description: Returns an empty response.
          content: {}
        default:
          description: Bad request, security violation, or internal server error.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ResponseError"
  /integrations/{id}:
    get:
      tags:
        - Integrations
      summary: Retrieve integration
      description: Use this endpooint to locate a specific integration and retrieve its details.
      operationId: getIntegration
      parameters:
        - $ref: "#/components/parameters/ResourceId"
      responses:
        200:
          description: Integration details have been retrieved. Returns integration.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Integration"
        default:
          description: Bad request, security violation, or internal server error.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ResponseError"
  /invoices:
    get:
      tags:
        - Invoices
      summary: List invoices
      description: Use this endpoint to retrieve a list of invoices. This operation supports sorting, paging, and filtering.
      operationId: getInvoices
      parameters:
        - name: id
          description: The ID of the invoice.
          in: query
          schema:
            type: string
        - name: contactId
          in: query
          description: The ID of the contact associated with this invoice. It is the person the invoice is issued to.
          schema:
            type: string
        - name: dealId
          in: query
          description: The ID of the deal. Invoices are always linked to deals to ensure they are accountable.
          schema:
            type: string
        - name: number
          description: The number of the invoice.
          in: query
          schema:
            type: string
        - name: date
          in: query
          description: The date when the invoice was issued (mm/dd/yyyy).
          schema:
            type: string
        - name: dueDate
          in: query
          description: The date by which the invoice must be paid (mm/dd/yyyy).
          schema:
            type: string
        - name: status
          in: query
          description: The invoice status. For example, if the invoice was paid or is pending.
          schema:
            type: string
        - $ref: "#/components/parameters/QueryPageNumber"
        - $ref: "#/components/parameters/QueryPageSize"
        - $ref: "#/components/parameters/QuerySort"
      responses:
        200:
          description: The invoices have been retrieved. Returns invoices.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Invoices"
        default:
          description: Bad request, security violation, or internal server error.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ResponseError"
    post:
      tags:
        - Invoices
      summary: Create an invoice
      description: Use this endpoint to add a new invoice to Inperium Sell.
      operationId: createInvoice
      requestBody:
        description: In the request body, pass the InvoiceRequest object.
        content:
          "*/*":
            schema:
              $ref: "#/components/schemas/InvoiceRequest"
        required: false
      responses:
        201:
          description: A new invoice has been created. Returns an invoice.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Invoice"
        default:
          description: Bad request, security violation, or internal server error.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ResponseError"
      x-codegen-request-body-name: invoice
  /invoices/paymentPlans:
    get:
      tags:
        - Invoices
      summary: List payment plans
      description: Use this endpoint to get the list of payment plans for the invoices. For each invoice, you can set up a payment plan, for example, to split the invoice into several payments. This endpoint supports sorting and paging.
      operationId: getInvoicesPaymentPlans
      parameters:
        - $ref: "#/components/parameters/QueryPageNumber"
        - $ref: "#/components/parameters/QueryPageSize"
        - $ref: "#/components/parameters/QuerySort"
      responses:
        200:
          description: The payment plans have been retrieved. Returns InvoicePaymentPlans.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/InvoicePaymentPlans"
        default:
          description: Bad request, security violation, or internal server error.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ResponseError"
  /invoices/{id}:
    get:
      tags:
        - Invoices
      summary: Retrieve an invoice
      description: Use this endpoint to locate an invoice by its ID and get invoice details.
      operationId: getInvoice
      parameters:
        - $ref: "#/components/parameters/ResourceId"
      responses:
        200:
          description: The invoice has been retrieved. Returns an invoice.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Invoice"
        default:
          description: Bad request, security violation, or internal server error.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ResponseError"
    put:
      tags:
        - Invoices
      summary: Update an invoice
      description: Use this endpoint to modify the invoice. The contents of the invoice will be overwritten.
      operationId: updateInvoice
      parameters:
        - $ref: "#/components/parameters/ResourceId"
      requestBody:
        description: In the request body, pass the updated InvoiceRequest object.
        content:
          "*/*":
            schema:
              $ref: "#/components/schemas/InvoiceRequest"
        required: false
      responses:
        200:
          description: The invoice has been updated. Returns an invoice.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Invoice"
        default:
          description: Bad request, security violation, or internal server error.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ResponseError"
      x-codegen-request-body-name: invoice
    delete:
      tags:
        - Invoices
      summary: Delete an invoice
      description: Use this endpoint to remove an invoice.
      operationId: deleteInvoice
      parameters:
        - $ref: "#/components/parameters/ResourceId"
      responses:
        204:
          description: Returns an empty response.
          content: {}
        default:
          description: Bad request, security violation, or internal server error.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ResponseError"
  /invoices/{id}/email:
    post:
      tags:
        - Invoices
      summary: Send an invoice
      description: Use this endpoint to send an invoice by email to the client.
      operationId: emailInvoice
      parameters:
        - $ref: "#/components/parameters/ResourceId"
      requestBody:
        description: In the request body, pass the InvoiceEmail object.
        content:
          "*/*":
            schema:
              $ref: "#/components/schemas/InvoiceEmail"
        required: false
      responses:
        202:
          description: Returns an empty response.
          content: {}
        default:
          description: Bad request, security violation, or internal server error.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ResponseError"
      x-codegen-request-body-name: invoiceEmail
  /invoices/{id}/sync/{integrationAnchor}:
    get:
      tags:
        - Invoices
      summary: Sync invoices
      description: Use this endpoint to get the most recent information about invoices and synchronize them.
      operationId: syncInvoice
      parameters:
        - $ref: "#/components/parameters/ResourceId"
        - name: integrationAnchor
          description: The ID of the integration (e.g., Xero) that facilitates invoice processing and synchronization.
          in: path
          required: true
          schema:
            type: string
      responses:
        200:
          description: Returns an empty response.
          content: {}
        default:
          description: Bad request, security violation, or internal server error.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ResponseError"
  /paymentMethods/stripe:
    get:
      tags:
        - PaymentMethods
      summary: Retrieve a Stripe publishable key
      description: Use this endpoint to get a Stripe publishable key for the current tenant.
      operationId: getStripePublishableKey
      responses:
        200:
          description: The publishable key has been retrieved. Returns a string.
          content:
            application/json:
              schema:
                type: string
  /payments:
    get:
      tags:
        - Payments
      summary: List payments
      description: Use this endpoint to get a payment log and see what invoices have been paid. This operation supports paging and sorting. Search for a specific payment or narrow down results to similar payments (e.g., made by credit card).
      operationId: getPayments
      parameters:
        - name: id
          in: query
          description: The payment ID.
          schema:
            type: string
        - name: contactId
          in: query
          description: The contact associated with the payment.
          schema:
            type: string
        - name: date
          in: query
          description: The date the payment was made (mm/dd/yyyy).
          schema:
            type: string
        - name: method
          in: query
          description: Payment method (cash, credit card, etc.).
          schema:
            type: string
        - name: amount
          in: query
          description: The amount that was paid.
          schema:
            type: string
        - name: status
          in: query
          description: The payment status.
          schema:
            type: string
        - $ref: "#/components/parameters/QueryPageNumber"
        - $ref: "#/components/parameters/QueryPageSize"
        - $ref: "#/components/parameters/QuerySort"
      responses:
        200:
          description: Payments have been retrieved. Returns payments.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Payments"
        default:
          description: Bad request, security violation, or internal server error.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ResponseError"
    post:
      tags:
        - Payments
      summary: Create a payment
      description: Use this endpoint to add a new payment to Inperium.
      operationId: createPayment
      requestBody:
        description: In the request body, pass the PaymentRequest object.
        content:
          "*/*":
            schema:
              $ref: "#/components/schemas/PaymentRequest"
        required: false
      responses:
        200:
          description: A new payment has been created. Returns a payment.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Payment"
        default:
          description: Bad request, security violation, or internal server error.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ResponseError"
      x-codegen-request-body-name: paymentDetails
  /payments/capturePaymentIntent:
    get:
      tags:
        - Payments
      summary: Capture a payment intent
      description: Use this endpoint to get information about a payment intent from Stripe. Payment intents help process complex transaction and improve logging.
      operationId: capturePaymentIntent
      parameters:
        - name: paymentIntentId
          description: The Stripe identificatior for payment intents.
          in: query
          schema:
            type: string
      responses:
        200:
          description: The payment intent has been retrieved. Returns a payment intent.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/CapturedPaymentIntent"
        default:
          description: Bad request, security violation, or internal server error.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ResponseError"
  /payments/createPaymentIntent:
    post:
      tags:
        - Payments
      summary: Create a payment intent
      description: Use this endpoint to create a Stripe payment intent. See Stripe API reference for background information.
      operationId: createPaymentIntent
      requestBody:
        description: In the request body, pass the CreatePaymentIntent object.
        content:
          "*/*":
            schema:
              $ref: "#/components/schemas/CreatePaymentIntent"
        required: false
      responses:
        200:
          description: A new payment intent has been created. Returns a payment intent.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/PaymentIntent"
        default:
          description: Bad request, security violation, or internal server error.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ResponseError"
      x-codegen-request-body-name: createPaymentIntent
  /payments/{id}:
    put:
      tags:
        - Payments
      summary: Update a payment
      description: Use this endpoint to modify payments. Locate the payment you are interested in and overwrite it.
      operationId: updatePayment
      parameters:
        - $ref: "#/components/parameters/ResourceId"
      requestBody:
        description: In the request body, pass the PaymentRequest object.
        content:
          "*/*":
            schema:
              $ref: "#/components/schemas/PaymentRequest"
        required: false
      responses:
        200:
          description: The payment has been updated. Returns a payment.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Payment"
        default:
          description: Bad request, security violation, or internal server error.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ResponseError"
      x-codegen-request-body-name: payment
  /pipelines:
    get:
      tags:
        - Pipelines
      summary: List pipelines
      description: Use this endpoint to get a list of pipelines created by the current tenant. This operation supports sorting and paging.
      operationId: getPipelines
      parameters:
        - name: name
          description: The pipeline name.
          in: query
          schema:
            type: string
        - $ref: "#/components/parameters/QueryPageNumber"
        - $ref: "#/components/parameters/QueryPageSize"
        - $ref: "#/components/parameters/QuerySort"
      responses:
        200:
          description: The pipelines have been retrieved. Returns pipelines.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Pipelines"
        default:
          description: Bad request, security violation, or internal server error.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ResponseError"
    post:
      tags:
        - Pipelines
      summary: Create a pipiline
      description: Use this endpoint to add a new pipeline.
      operationId: createPipeline
      requestBody:
        description: In the request body, pass the PipelineRequest object.
        content:
          "*/*":
            schema:
              $ref: "#/components/schemas/PipelineRequest"
        required: false
      responses:
        201:
          description: A new pipeline has been created. Returns a pipeline.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Pipeline"
        default:
          description: Bad request, security violation, or internal server error.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ResponseError"
      x-codegen-request-body-name: pipeline
  /pipelines/{id}:
    get:
      tags:
        - Pipelines
      summary: Retrieve a pipeline
      description: Use this endpoint to get detailed information about a specific pipeline.
      operationId: getPipeline
      parameters:
        - $ref: "#/components/parameters/ResourceId"
      responses:
        200:
          description: The pipeline details have been retrieved. Returns a pipeline.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Pipeline"
        default:
          description: Bad request, security violation, or internal server error.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ResponseError"
    put:
      tags:
        - Pipelines
      summary: Update a pipeline
      description: Use this endpoint to modify a pipeline.
      operationId: updatePipeline
      parameters:
        - $ref: "#/components/parameters/ResourceId"
      requestBody:
        description: In the request body, pass the updated PipelineRequest object.
        content:
          "*/*":
            schema:
              $ref: "#/components/schemas/PipelineRequest"
        required: false
      responses:
        200:
          description: The pipeline has been updated. Returns a pipeline.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Pipeline"
        default:
          description: Bad request, security violation, or internal server error.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ResponseError"
      x-codegen-request-body-name: pipeline
    delete:
      tags:
        - Pipelines
      summary: Delete a pipeline
      description: Use this endpoint to remove a pipeline.
      operationId: deletePipeline
      parameters:
        - $ref: "#/components/parameters/ResourceId"
      responses:
        204:
          description: Returns an empty response.
          content: {}
        default:
          description: Bad request, security violation, or internal server error.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ResponseError"
  /pipelines/{id}/statistics:
    get:
      tags:
        - PipelineStatistics
      summary: Retrieve deal statistics
      description: Use this endpoint to find out how many deals you have in a specific pipeline. The deals will be grouped by stage and you'll see the total for each stage.
      operationId: getPipelineStatistics
      parameters:
        - $ref: "#/components/parameters/ResourceId"
        - $ref: "#/components/parameters/EntityProperties"
      responses:
        200:
          description: The pipeline statistics has been retrieved. Returns PipelineStatistics.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/PipelineStatistics"
        default:
          description: Bad request, security violation, or internal server error.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ResponseError"
  /predefinedMetadataGroups:
    get:
      tags:
        - Predefined Metadata
      summary: List metedata groups
      description: Use this endpoint to get a list of dictionaries.
      operationId: getAllPredefinedMetadataGroups
      responses:
        200:
          description: The list of predefined metadata groups has been retrieved. Returns predefined metadata groups.
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: "#/components/schemas/PredefinedMetadataGroup"
        default:
          description: Bad request, security violation, or internal server error.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ResponseError"
  /predefinedMetadataGroups/{id}:
    get:
      tags:
        - Predefined Metadata
      summary: Retrieve a metedata group
      description: Use this endpoint to search for a specific predefined metadata group and retrieve its details.
      operationId: getPredefinedMetadataGroup
      parameters:
        - $ref: "#/components/parameters/ResourceStringId"
      responses:
        200:
          description: The predefined metedata group has been retrieved. Returns a predefined metedata group.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/PredefinedMetadataGroup"
        default:
          description: Bad request, security violation, or internal server error.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ResponseError"
  /predefinedMetadataGroups/{id}/options:
    get:
      tags:
        - Predefined Metadata
      summary: List options
      description: Use this endpoint to retrieve a list of options for a specific predefined metadata group.
      operationId: getAllPredefinedMetadataOptions
      parameters:
        - $ref: "#/components/parameters/ResourceStringId"
      responses:
        200:
          description: The options has been retrieved. Returns PredefinedMetadataOptionList.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/PredefinedMetadataOptionList"
        default:
          description: Bad request, security violation, or internal server error.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ResponseError"
  /products:
    get:
      tags:
        - Products
      summary: List products
      description: Use this endpoint to get a complete list of products offered by the tenant. This operation supports paging and sorting. You can also narrow down results to the products of a specific price, etc.
      operationId: getProducts
      parameters:
        - $ref: "#/components/parameters/QueryStringResourceId"
        - $ref: "#/components/parameters/QueryPageNumber"
[...]
