openapi: 3.0.1

info:
  title: Sell API
  description: |
    The Inperium Sell API provides access to the Inperium Sell service including the ability to add companies and contacts, create deals, and generate quotes. To leverage this API, you must have an active subscription to Inperium Sell and the user creating an API key must have access to the product.
    Inperium Sell API seamlessly integrates with other API such as the Object Bucket Storage API and the Message Center API that provide document storage and email sync functionality to Inperium Sell.
  version: 1.0.0-SNAPSHOT

servers:
  - url: http://api.inperium.com/v1/sell
  - url: https://api.inperium.com/v1/sell

security:
  - BearerAuth: []
  - ApiKeyAuth: []

tags:
  - name: Activities
    description: |
      Inperium Sell enables users to keep notes, plan tasks, and log calls and meetings. These activities are typically linked to deals, contacts, or companies.
  - name: Attachments
    description: |
      In Inperium Sell, users have the ability to attach documents (pdf, csv, docx, etc.) to deals and companies.
  - name: Auth
    description: |
      Authentication and authorization methods used to access Inperium Sell.
  - name: Calendars
    description: |
      In Inperium Sell, users have the ability to review calendars & events.
  - name: Campaigns
    description: |
      Inperium Sell enables users to create marketing campaigns.
  - name: Companies
    description: |
      Company is one of major entities in Inperium Sell. Users add companies, literally the businesses they work with, and track deal progress there.
  - name: Company Data
    description: |
      Company data can be enriched with the publicly available information  from the internet, for example, the industry, employee counts, links to social media.
  - name: Company Relationships
    description: |
      Inperium users can associate companies with each other and create parent-child relationships.
  - name: Contacts
    description: |
      Contact is one of the major entities in Inperium Sell. Contacts are individuals or company's representatives Inperium Sell users work with.
  - name: Contact Data
    description: |
      Contact data can be enriched with the publicly available information about from the internet, for example, links to social media or a CV.
  - name: Deals
    description: |
      Deals are one of the major entities in Inperium Sell. Users create deals, link them to contacts or companies. For each deal, a user can create multiple quotes and invoices, add products, etc.
  - name: Deal Items
    description: |
      As you create a deal, you add products and additional fees and taxes. These items are required to calculate the deal value.
  - name: Deprecated
    description: |
      Deprecated features which will be terminated in next releases.
  - name: Dictionaries
    description: |
      Dictionaries contain predefined data that users typically see in drop-down lists. For example, days of weeks, standard statuses, countries, or phone codes.
  - name: Documents
    description: |
      Inperium Sell stores files in AWS. In most cases, documents are attached to entities such as companies or deals, but some documents are stored independently (e.g., avatar images).
  - name: Document Types
    description: |
      Inperium Sell enables users to upload documents such as pdfs, png, etc. The Document Types list all supported document extensions.
  - name: Exports
    description: |
      Inperium Sell enables users to export data from the CRM. For example, to reuse it in another app or to store as a backup.
  - name: Forms
    description: |
      In Inperium Sell, users can create custom forms to collect data.
  - name: Global Search
    description: |
      Global search gives the ability to locate entities by name. It searches across deals, companies, contacts at the same time.
  - name: Import
    description: |
      Inperium Sell enables users to import data from other CRMs. For example, contact data, information about deals, and product pricelists.
  - name: Import Log
    description: |
      If import fails for some reason or data was mapped to a wrong column, refer to the Import log for troubleshooting ideas.
  - name: Integrations
    description: |
      You can leverage third-party applications such as Stripe and Xero and integrate them with Inperium Sell.
  - name: Invoices
    description: |
      Inperium Sell enables users to create professional-looking invoices and process them within CRM.
  - name: Invoice Page
    description: |
      Inperium Sell allows sharing invoices with customers through public URLs. It means you can send an invoice link to your clients, they will follow this link, and review the invoice right in the browser.
  - name: Items
    description: |
      Products and fees are added to deals and quotes and listed as items.
  - name: Messages
    description: |
      With Inperium, you can send messages to multiple contacts at the same time. The bulk mailing option is available once you configure the Message Center. Check out the Message Center API for more details.
  - name: Payment Methods
    description: |
      Inperium Sell supports integration with Stripe and allows processing payments through this system.
  - name: Payments
    description: |
      In Inperium Sell, payments are separated from invoices. An invoice can be paid in full or split into several payments that should be logged individually.
  - name: Pipelines
    description: |
      Pipelines describe the sales process, or being more specific, milestones the deal goes through from start to end. For example, Lead in, Demo, Contact sent, Deal won.
  - name: Pipeline Statistics
    description: |
      Analyze your sales progress with pipeline statistics.
  - name: Products
    description: |
      Products are items or services the tenant offers. Each product has a description, retail price, and cost.
  - name: Properties
    description: |
      Inperium Sell comes with preset properties (or fields) as well as enables users to create custom definitions. Custom properties are helpful if you need to accommodate your specific business workflow and keep additional data in Inperium Sell. For example, shipment information for deal tracking. In this case, you can add a custom property for deals: both API and regular users will get access to it fro the deals page.
  - name: Quotes
    description: |
      Quotes are sales offers. While negotiating the contract terms, you can propose quotes that typically include products, discounts, and payment plans.
  - name: Public Quote
    description: |
      Inperium Sell allows sharing quotes with customers through public URLs. It means you can send your clients a quote link, they will follow the link and review the quote right in the browser.
  - name: Reports
    description: |
      Inperium Sell brings you insights into sales activities and creates charts showing how many companies or contacts were created, how many deals were closed, etc. Use the reports to track team productivity and improve performance.
  - name: Stages
    description: |
      The sales pipelines consist of stages. The stages are milestones the deal goes through before it gets closed. For example, Contract Sent, Initial Call. Inperium Sell enables users to add as many stages to their pipelines as they need.
  - name: Snippets
    description: |
      Snippets are reusable text excerpts, for use-cases such as follow-up emails or quote purchase terms. Snippets help speed up the sales process and make it more structured.
  - name: Stripe Authorizations
    description: |
      To configure integration with Stripe, you've got to authenticate your app with Stripe.
  - name: Stripe Terminals
    description: |
      Configure Stripe terminals to receive payments.
  - name: Template
    description: |
      Templates are ready-to-use samples, for example introductory emails or follow-ups. Templates help speed up the sales process and make it more structured. They support variables to automatically insert the individual contacts data.
  - name: Tenant Integrations
    description: |
      You can enable third-party integrations for your tenant and use Inperium to its fullest.
  - name: Tenant Settings
    description: |
      In Inperium Sell, administrators can set up tenant-wide properties and preferences such as default currency, quote prefix, revenue goal, etc.
  - name: Views
    description: |
      Views control what data is returned to the user, including filtering, sorting, and columns on a display.
  - name: Widgets
    description: |
      In Inperium Sell, a widget is a dashboard element providing certain data, for example, the leader board or the number of deals on each pipeline.
  - name: Xero Authorizations
    description: |
      Configure integration with Xero.

paths:
  /activities:
    get:
      tags:
        - Activities
      summary: List activities
      description: Use this endpoint to get a complete list of activities. This endpoint supports paging and sorting. To narrow down results and locate specific activities, use query parameters.
      operationId: getActivities
      parameters:
        - name: authorId
          in: query
          description: The ID of the user who added the activity.
          schema:
            type: string
        - name: type
          in: query
          description: The type of activity. Each activity type (task, call, etc.) has an ID.
          schema:
            type: string
        - name: associatedContactId
          in: query
          description: The ID of the contact the activity is linked to.
          schema:
            type: string
        - name: associatedCompanyId
          in: query
          description: The ID of the company the activity is linked to.
          schema:
            type: string
        - name: associatedDealId
          in: query
          description: The ID of the deal the activity is linked to.
          schema:
            type: string
        - name: createdAt
          in: query
          description: The date when the activity was added.
          schema:
            type: string
        - $ref: "#/components/parameters/QueryPageNumber"
        - $ref: "#/components/parameters/QueryPageSize"
        - $ref: "#/components/parameters/QuerySort"
      responses:
        200:
          description: Returns the activities list.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Activities"
        default:
          description: Bad request, security violation, or internal server error.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ResponseError"
    post:
      tags:
        - Activities
      summary: Create an activity
      description: Use this endpoint to create a new activity, for example a new To-Do task.
      operationId: createActivity
      requestBody:
        description: In the request body, pass the ActivityRequest object.
        content:
          "application/json":
            schema:
              $ref: "#/components/schemas/ActivityRequest"
        required: false
      responses:
        201:
          description: A new activity has been created. Returns an activity.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Activity"
        default:
          description: Bad request, security violation, or internal server error.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ResponseError"
      x-codegen-request-body-name: activity
  /activities/{id}:
    put:
      tags:
        - Activities
      summary: Update an activity
      description: Use this endpoint to modify an existing activity.
      operationId: updateActivity
      parameters:
        - $ref: "#/components/parameters/ResourceId"
      requestBody:
        description: In the request body, pass the ActivityRequest object.
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/ActivityRequest"
        required: false
      responses:
        200:
          description: The activity has been updated. Returns an activity.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Activity"
        default:
          description: Bad request, security violation, or internal server error.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ResponseError"
      x-codegen-request-body-name: activity
    delete:
      tags:
        - Activities
      summary: Delete an activity
      description: Use this endpoint to remove an existing activity.
      operationId: deleteActivity
      parameters:
        - $ref: "#/components/parameters/ResourceId"
      responses:
        204:
          description: The activity has been removed. Returns an empty response.
          content: {}
        default:
          description: Bad request, security violation, or internal server error.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ResponseError"
  /attachments:
    get:
      tags:
        - Attachments
      summary: List attachments
      description: Use this endpoint to get a list of attached files. This endpoint supports paging and sorting. Use query parameters to narrow down results.
      operationId: getAttachments
      parameters:
        - $ref: "#/components/parameters/QueryStringResourceId"
        - name: company
          description: The ID of company. Use this parameter to get attachments associated with this company ID.
          in: query
          schema:
            type: string
        - name: contact
          description: The ID of the contact. Use this parameter to get attachments associated with this contact ID.
          in: query
          schema:
            type: string
        - name: deal
          description: The ID of the deal. Use this parameter to get attachments associated with this deal ID.
          in: query
          schema:
            type: string
        - $ref: "#/components/parameters/QueryPageNumber"
        - $ref: "#/components/parameters/QueryPageSize"
        - $ref: "#/components/parameters/QuerySort"
      responses:
        200:
          description: Returns the list of attachments.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Attachments"
        default:
          description: Bad request, security violation, or internal server error.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ResponseError"
    post:
      tags:
        - Attachments
      summary: Create an attachment
      description: Use this endpoint to add a new attachment to Inperium Sell.
      operationId: createAttachment
      requestBody:
        description: In the request body, pass the AttachmentRequest object.
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/AttachmentRequest"
        required: false
      responses:
        201:
          description: A new attachment has been created. Returns an attachment.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Attachment"
        default:
          description: Bad request, security violation, or internal server error.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ResponseError"
      x-codegen-request-body-name: attachment
  /attachments/{id}:
    get:
      tags:
        - Attachments
      summary: Retrieve an attachment
      description: Use this endpoint to locate a specific attachment and retrieve its details.
      operationId: getAttachment
      parameters:
        - $ref: "#/components/parameters/ResourceId"
      responses:
        200:
          description: Returns an attachment.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Attachment"
        default:
          description: Bad request, security violation, or internal server error.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ResponseError"
    put:
      tags:
        - Attachments
      summary: Update an attachment
      description: Use this endpoint to modify and overwrite an existing attachment.
      operationId: updateAttachment
      parameters:
        - $ref: "#/components/parameters/ResourceId"
      requestBody:
        description: In the request body, pass the updated AttachmentRequest object.
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/AttachmentRequest"
        required: false
      responses:
        200:
          description: The attachment has been updated. Returns an attachment.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Attachment"
        default:
          description: Bad request, security violation, or internal server error.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ResponseError"
      x-codegen-request-body-name: attachment
    delete:
      tags:
        - Attachments
      summary: Delete an attachment
      description: Use this endpoint to remove an existing attachment.
      operationId: deleteAttachment
      parameters:
        - $ref: "#/components/parameters/ResourceId"
      responses:
        204:
          description: The attachment has been removed. Returns an empty response.
          content: {}
        default:
          description: Bad request, security violation, or internal server error.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ResponseError"
  /campaigns:
    get:
      tags:
        - Campaigns
      summary: List campaigns
      description: Use this endpoint to get a complete list of campaigns. This endpoint supports paging and sorting. Use query parameters to narrow down results.
      operationId: getCampaigns
      parameters:
        - name: id
          in: query
          description: The ID of the campaign.
          schema:
            type: string
        - name: name
          in: query
          description: The campaign name.
          schema:
            type: string
        - $ref: "#/components/parameters/QueryPageNumber"
        - $ref: "#/components/parameters/QueryPageSize"
        - $ref: "#/components/parameters/QuerySort"
      responses:
        200:
          description: Returns campaigns.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Campaigns"
        default:
          description: Bad request, security violation, or internal server error.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ResponseError"
    post:
      tags:
        - Campaigns
      summary: Create a campaign
      description: Use this endpoint to add a new campaign to Inperium Sell.
      operationId: createCampaign
      requestBody:
        description: In the request body, pass the CampaignRequest object.
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/CampaignRequest"
        required: false
      responses:
        201:
          description: The new campaign has been created. Returns a campaign.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Campaign"
        default:
          description: Bad request, security violation, or internal server error.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ResponseError"
      x-codegen-request-body-name: campaign
  /campaigns/{id}:
    get:
      tags:
        - Campaigns
      summary: Retrieve a campaign
      description: Use this endpoint to search for a specific endpoint and retrieve its details.
      operationId: getCampaign
      parameters:
        - $ref: "#/components/parameters/ResourceId"
      responses:
        200:
          description: The campaign details have been retrieved. Returns a campaign.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/CampaignCustom"
        default:
          description: Bad request, security violation, or internal server error.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ResponseError"
    delete:
      tags:
        - Campaigns
      summary: Delete a campaign
      description: Use this endpoint to remove an existing campaign.
      operationId: deleteCampaign
      parameters:
        - $ref: "#/components/parameters/ResourceId"
      responses:
        204:
          description: The campaign has been removed. Returns an empty response.
          content: {}
        default:
          description: Bad request, security violation, or internal server error.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ResponseError"
  /campaigns/{id}/contacts:
    get:
      tags:
        - Contacts
      summary: List contacts for campaign
      description: Use this endpoint to retrieve a list of contacts associated with a specific campaign. This endpoint supports paging and sorting.
      operationId: getCampaignContacts
      parameters:
        - $ref: "#/components/parameters/ResourceId"
        - $ref: "#/components/parameters/QueryPageNumber"
        - $ref: "#/components/parameters/QueryPageSize"
        - $ref: "#/components/parameters/QuerySort"
      responses:
        200:
          description: The contacts have been retrieved. Returns contacts.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Contacts"
        default:
          description: Bad request, security violation, or internal server error.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ResponseError"
  /companies:
    get:
      tags:
        - Companies
      summary: List companies
      description: Use this endpoint to get a list of companies. This endpoint supports paging and sorting. Use query parameters to narrow down results.
      operationId: getCompanies
      parameters:
        - $ref: "#/components/parameters/QueryFilter"
        - $ref: "#/components/parameters/QueryStringResourceId"
        - $ref: "#/components/parameters/QueryPageNumber"
        - $ref: "#/components/parameters/QueryPageSize"
        - $ref: "#/components/parameters/QuerySort"
        - $ref: "#/components/parameters/EntityProperties"
      responses:
        200:
          description: The companies have been retrieved. Returns the list of companies. The `company` object contains flexible properties that can be customized.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Companies"
        default:
          description: Bad request, security violation, or internal server error.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ResponseError"
    post:
      tags:
        - Companies
      summary: Create a company
      description: Use this endpoint to add a new company. This method operates with the `CompanyRequest` object that encompasses flexible properties. If you are unsure what properties are available, query the `/properties` endpoint first.
      operationId: createCompany
      requestBody:
        description: The CompanyRequest object example
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/CompanyRequest"
        required: false
      responses:
        201:
          description: The new company has been created. Returns the company.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Company"
        default:
          description: Bad request, security violation, or internal server error.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ResponseError"
      x-codegen-request-body-name: company
    patch:
      tags:
        - Companies
      summary: Update companies in bulk
      description: Use this endpoint to modify multiple companies at once. For example, you can set the 'industry' field to the same value or assign several companies to a certain Inperium user. This method operates with the `CompanyRequest` object that encompasses flexible properties. If you are unsure what properties are available, query the `/properties` endpoint first.
      operationId: updateCompanies
      parameters:
        - name: ids
          description: The ID of the company.
          in: query
          schema:
            type: array
            items:
              $ref: "#/components/schemas/Id"
      requestBody:
        description: The CompanyRequest object example
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/CompanyRequest"
        required: false
      responses:
        201:
          description: The companies have been updated. Returns the list of companies.
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: "#/components/schemas/Company"
        default:
          description: Bad request, security violation, or internal server error.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ResponseError"
      x-codegen-request-body-name: companies
    delete:
      tags:
        - Companies
      summary: Delete companies
      description: Use this endpoint to remove multiple companies.
      operationId: deleteCompanies
      requestBody:
        description: Company IDs to delete
        content:
          application/json:
            schema:
              type: array
              items:
                type: string
                format: uuid
                example: ["$OBJECT-UUID1", "$OBJECT-UUID2"]
        required: true
      responses:
        204:
          description: Returns an empty response.
          content: {}
        default:
          description: Bad request, security violation, or internal server error.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ResponseError"
  /companies/enrich:
    get:
      tags:
        - Company Data
      summary: Enrich company information
      description: Use this endpoint to load information about the company that is publicly available online. Inperium pulls information about the company based on its domain.
      operationId: getCompanyDataByDomain
      parameters:
        - name: domainName
          in: query
          description: The company website address.
          schema:
            type: string
      responses:
        200:
          description: The company data has been found. Returns a company.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Company"
        default:
          description: Bad request, security violation, or internal server error.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ResponseError"
  /companies/{id}:
    get:
      tags:
        - Companies
      summary: Retrieve a company
      description: Use this endpoint to retrieve company details.
      operationId: getCompany
      parameters:
        - $ref: "#/components/parameters/ResourceId"
      responses:
        200:
          description: Returns a company.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Company"
        default:
          description: Bad request, security violation, or internal server error.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ResponseError"
    put:
      tags:
        - Companies
      summary: Update a company
      description: Use this endpoint to modify and overwrite company information. Unlike `PATCH`, this action completely overwrites the company data. This method operates with the `CompanyRequest` object that encompasses flexible properties. If you are unsure what properties are available, query the `/properties` endpoint first.
      operationId: updateCompany
      parameters:
        - $ref: "#/components/parameters/ResourceId"
      requestBody:
        description: The CompanyRequest object example
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/CompanyRequest"
        required: false
      responses:
        200:
          description: The company has been updated. Returns a company.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Company"
        default:
          description: Bad request, security violation, or internal server error.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ResponseError"
      x-codegen-request-body-name: company
    patch:
      tags:
        - Companies
      summary: Partially update a company
      description: Use this endpoint to update specific fields in company details. This method operates with the `CompanyRequest` object that encompasses flexible properties. If you are unsure what properties are available, query the `/properties` endpoint first.
      operationId: updateCompanyPartial
      parameters:
        - $ref: "#/components/parameters/ResourceId"
      requestBody:
        description: The CompanyRequest object example with updated fields
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/CompanyRequest"
        required: false
      responses:
        200:
          description: The company has been updated. Returns a company.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Company"
        default:
          description: Bad request, security violation, or internal server error.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ResponseError"
      x-codegen-request-body-name: company
    delete:
      tags:
        - Companies
      summary: Delete a company
      description: Use this endpoint to remove a company.
      operationId: deleteCompany
      parameters:
        - $ref: "#/components/parameters/ResourceId"
      responses:
        204:
          description: Returns an empty response.
          content: {}
        default:
          description: Bad request, security violation, or internal server error.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ResponseError"
  /companies/merge:
    post:
      tags:
        - Companies
      summary: Merge company properties
      description: Use this endpoint to merge companies. The properties will be copied from the former company and written to the latter company. The source company will be deleted. This method operates with the `CompanyRequest` object that encompasses flexible properties. If you are unsure what properties are available, query the `/properties` endpoint first.
      operationId: mergeCompanies
      parameters:
        - name: sourceId
          in: query
          description: The ID of the origin company.
          required: true
          schema:
            type: string
            format: uuid
        - name: targetId
          in: query
          description: The ID of the target company.
          required: true
          schema:
            type: string
            format: uuid
      requestBody:
        description: The CompanyRequest object example
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/CompanyRequest"
        required: false
      responses:
        200:
          description: The origin company has been removed. The target company has been updated. Returns a company.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Company"
        default:
          description: Bad request, security violation, or internal server error.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ResponseError"
  /companyRelationships:
    get:
      tags:
        - Company Relationships
      summary: List relationships
      description: Use this endpoint to get a list of connections associated with the company.
      operationId: getAllCompanyRelationships
      parameters:
        - name: company
          in: query
          description: The ID of the company.
          schema:
            type: string
      responses:
        200:
          description: The company links have been retrieved. Returns the company relationships.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/CompanyRelationships"
        default:
          description: Bad request, security violation, or internal server error.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ResponseError"
    post:
      tags:
        - Company Relationships
      summary: Add a relationship
      description: Use this endpoint to create a new link for the company.
      operationId: createCompanyRelationship
      requestBody:
        description: In the request body, pass the CompanyRelationshipRequest object.
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/CompanyRelationshipRequest"
        required: false
      responses:
        201:
          description: A new link has been added for the company. Returns a company relationship.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/CompanyRelationship"
        default:
          description: Bad request, security violation, or internal server error.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ResponseError"
      x-codegen-request-body-name: companyRelationship
  /companyRelationships/{id}:
    delete:
      tags:
        - Company Relationships
      summary: Delete a relationship
      description: Use this endpoint to remove a relationship for the company and delete links between companies.
      operationId: deleteCompanyRelationships
      parameters:
        - $ref: "#/components/parameters/ResourceId"
      responses:
        204:
          description: Returns an empty response.
          content: {}
        default:
          description: Bad request, security violation, or internal server error.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ResponseError"
  /contacts:
    get:
      tags:
        - Contacts
      summary: List contacts
      description: Use this endpoint to get a list of available contacts. This operation supports paging, sorting, and filtering by fields such as contact name.
      operationId: getContacts
      parameters:
        - name: fullName
          description: The name of the contact.
          in: query
          schema:
            type: string
        - $ref: "#/components/parameters/QueryFilter"
        - $ref: "#/components/parameters/QueryStringResourceId"
        - $ref: "#/components/parameters/QueryPageNumber"
        - $ref: "#/components/parameters/QueryPageSize"
        - $ref: "#/components/parameters/QuerySort"
        - $ref: "#/components/parameters/EntityProperties"
      responses:
        200:
          description: Contacts have been retrieved. Returns a list of contacts.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Contacts"
        default:
          description: Bad request, security violation, or internal server error.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ResponseError"
    post:
      tags:
        - Contacts
      summary: Create a contact
      description: Use this endpoint to add new contacts to Inperium Sell. This method operates with the `ContactRequest` object that encompasses flexible properties. If you are unsure what properties are available, query the `/properties` endpoint first.
      operationId: createContact
      requestBody:
        description: The ContactRequest object example
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/ContactRequest"
        required: false
      responses:
        201:
          description: A new contact has been created. Returns a contact.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Contact"
        default:
          description: Bad request, security violation, or internal server error.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ResponseError"
      x-codegen-request-body-name: contact
    patch:
      tags:
        - Contacts
      summary: Update contacts in bulk
      description: Use this endpoint to update properties for two or more contacts. For example, assign contacts to an Inperium user or associate several contacts with the same company. This method operates with the `ContactRequest` object that encompasses flexible properties. If you are unsure what properties are available, query the `/properties` endpoint first.
      operationId: updateContacts
      parameters:
        - name: ids
          description: IDs of the contacts that you want to update.
          in: query
          schema:
            type: array
            items:
              $ref: "#/components/schemas/Id"
      requestBody:
        description: The ContactRequest object example with updated fields
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/ContactRequest"
        required: false
      responses:
        201:
          description: The contacts have been updated. Returns the list of contacts.
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: "#/components/schemas/Contact"
        default:
          description: Bad request, security violation, or internal server error.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ResponseError"
      x-codegen-request-body-name: contact
    delete:
      tags:
        - Contacts
      summary: Delete contacts
      description: Use this endpoint to remove multiple contacts.
      operationId: deleteContacts
      requestBody:
        description: Contact IDs to delete
        content:
          application/json:
            schema:
              type: array
              example: ["$OBJECT-UUID1", "$OBJECT-UUID2"]
              items:
                type: string
                format: uuid
        required: true
      responses:
        204:
          description: Returns an empty response.
          content: {}
        default:
          description: Bad request, security violation, or internal server error.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ResponseError"
  /contacts/enrich:
    get:
      tags:
        - Contact Data
      summary: Enrich contact data
      description: Use this endpoint to load information about the contact that is publicly available online. Inperium pulls information about the contact based on contact's email address.
      operationId: getContactDataByEmail
      parameters:
        - name: email
          in: query
          description: The contact's email address.
          schema:
            type: string
      responses:
        200:
          description: The contact details has been enriched. Returns a contact.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Contact"
        default:
          description: Bad request, security violation, or internal server error.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ResponseError"
  /contacts/{id}:
    get:
      tags:
        - Contacts
      summary: Retrieve a contact
      description: Use this endpoint to retrieve details for a specific contact.
      operationId: getContact
      parameters:
        - $ref: "#/components/parameters/ResourceId"
      responses:
        200:
          description: The contact data has been retrieved. Returns a contact.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Contact"
        default:
          description: Bad request, security violation, or internal server error.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ResponseError"
    put:
      tags:
        - Contacts
      summary: Update a contact
      description: Use this endpoint to update a contact. Unlike `PATCH`, this operation overwrites contact details completely. This method operates with the `ContactRequest` object that encompasses flexible properties. If you are unsure what properties are available, query the `/properties` endpoint first.
      operationId: updateContact
      parameters:
        - $ref: "#/components/parameters/ResourceId"
      requestBody:
        description: The ContactRequest object example
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/ContactRequest"
        required: false
      responses:
        200:
          description: The contact details have been updated. Returns a contact.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Contact"
        default:
          description: Bad request, security violation, or internal server error.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ResponseError"
      x-codegen-request-body-name: contact
    patch:
      tags:
        - Contacts
      summary: Partially update a contact
      description: Use this endpoint to update specific fields in contact details. Unlike `PUT`, this operation overwrites properties partially. This method operates with the `ContactRequest` object that encompasses flexible properties. If you are unsure what properties are available, query the `/properties` endpoint first.
      operationId: updateContactPartial
      parameters:
        - $ref: "#/components/parameters/ResourceId"
      requestBody:
        description: The ContactRequest object example
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/ContactRequest"
        required: false
      responses:
        200:
          description: The contact details have been updated. Returns a contact.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Contact"
        default:
          description: Bad request, security violation, or internal server error.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ResponseError"
      x-codegen-request-body-name: contact
    delete:
      tags:
        - Contacts
      summary: Delete a contact
      description: Use this endpoint to remove a contact from Inperium Sell.
      operationId: deleteContact
      parameters:
        - $ref: "#/components/parameters/ResourceId"
      responses:
        204:
          description: Returns an empty response.
          content: {}
        default:
          description: Bad request, security violation, or internal server error.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ResponseError"
  /contacts/merge:
    post:
      tags:
        - Contacts
      summary: Merge contact properties
      description: Use this endpoint to merge contacts. The properties of the origin contact will be moved to the target contact (e.g., name, address) and the origin contact will be deleted. This method operates with the `ContactRequest` object that encompasses flexible properties. If you are unsure what properties are available, query the `/properties` endpoint first.
      operationId: mergeContacts
      parameters:
        - name: sourceId
          description: The ID of the source contact.
          in: query
          required: true
          schema:
            type: string
            format: uuid
        - name: targetId
          description: The ID of the target contact.
          in: query
          required: true
          schema:
            type: string
            format: uuid
      requestBody:
        description: The ContactRequest object example with the properties that need to be merged
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/ContactRequest"
        required: false
      responses:
        200:
          description: The target contact has been updated. The origin contact has been removed. Returns the target contact.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Contact"
        default:
          description: Bad request, security violation, or internal server error.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ResponseError"
  /deals:
    get:
      tags:
        - Deals
      summary: Retrieve deals
      description: Use this endpoint to list all deals. This operation supports paging and sorting.
      operationId: getDeals
      parameters:
        - $ref: "#/components/parameters/QueryFilter"
        - $ref: "#/components/parameters/QueryStringResourceId"
        - $ref: "#/components/parameters/QueryPageNumber"
        - $ref: "#/components/parameters/QueryPageSize"
        - in: query
          name: sort
          schema:
            type: string
            default: "+createdAt"
          description: This parameter affects sorting. It specifies the property name to sort the records by, e.g., price or date.
        - $ref: "#/components/parameters/EntityProperties"
      responses:
        200:
          description: The deals have been retrieved. Returns deals.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Deals"
        default:
          description: Bad request, security violation, or internal server error.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ResponseError"
    post:
      tags:
        - Deals
      summary: Create a deal
      description: Use this endpoint to create a new deal. This method operates with the `DealRequest` object that encompasses flexible properties. If you are unsure what properties are available, query the `/properties` endpoint first.
      operationId: createDeal
      requestBody:
        description: The DealRequest object example
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/DealRequest"
        required: false
      responses:
        201:
          description: A new deal has been created. Returns a deal.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Deal"
        default:
          description: Bad request, security violation, or internal server error.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ResponseError"
      x-codegen-request-body-name: deal
    patch:
      tags:
        - Deals
      summary: Update deals in bulk
      description: Use this endpoint to simultaneously update properties of several deals. For example, you can pick multiple deals and assign them to the same Inperium user. This method operates with the `DealRequest` object that encompasses flexible properties. If you are unsure what properties are available, query the `/properties` endpoint first.
      operationId: updateDeals
      parameters:
        - name: ids
          description: The IDs of the deals.
          in: query
          schema:
            type: array
            items:
              $ref: "#/components/schemas/Id"
      requestBody:
        description: The DealRequest object exaple with updated fields
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/DealRequest"
        required: false
      responses:
        201:
          description: The deals have been updated. Returns the deals.
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: "#/components/schemas/Deal"
        default:
          description: Bad request, security violation, or internal server error.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ResponseError"
      x-codegen-request-body-name: deals
    delete:
      tags:
        - Deals
      summary: Delete deals
      description: Use this endpoint to remove multiple deals.
      operationId: deleteDeals
      requestBody:
        description: Deal IDs to delete
        content:
          application/json:
            schema:
              type: array
              items:
                type: string
                format: uuid
                example: ["$OBJECT-UUID1", "$OBJECT-UUID2"]
        required: true
      responses:
        204:
          description: Returns an empty response.
          content: {}
        default:
          description: Bad request, security violation, or internal server error.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ResponseError"
  /deals/{id}:
    get:
      tags:
        - Deals
      summary: Retrieve a deal
      description: Use this endpoint to locate a specific deal and retrieve its details.
      operationId: getDeal
      parameters:
        - $ref: "#/components/parameters/ResourceId"
      responses:
        200:
          description: The deal has been retrieved. Returns a deal.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Deal"
        default:
          description: Bad request, security violation, or internal server error.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ResponseError"
    put:
      tags:
        - Deals
      summary: Update a deal
      description: Use this endpoint to modify deal details. Unlike `PATCH`, this operation completely overwrites a deal. This method operates with the `DealRequest` object that encompasses flexible properties. If you are unsure what properties are available, query the `/properties` endpoint first.
      operationId: updateDeal
      parameters:
        - $ref: "#/components/parameters/ResourceId"
      requestBody:
        description: The DealRequest object example
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/DealRequest"
        required: false
      responses:
        200:
          description: The deal has been updated. Returns a deal.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Deal"
        default:
          description: Bad request, security violation, or internal server error.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ResponseError"
      x-codegen-request-body-name: deal
    patch:
      tags:
        - Deals
      summary: Partially update a deal
      description: Use this endpoint to modify some of the deal properties. Unlike `PUT`, this operation doesn't overwrite the deal completely. This method operates with the `DealRequest` object that encompasses flexible properties. If you are unsure what properties are available, query the `/properties` endpoint first.
      operationId: updateDealPartial
      parameters:
        - $ref: "#/components/parameters/ResourceId"
      requestBody:
        description: The DealRequest object example with updated fields.
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/DealRequest"
        required: false
      responses:
        200:
          description: The deal has been updated. Returns a deal.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Deal"
        default:
          description: Bad request, security violation, or internal server error.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ResponseError"
      x-codegen-request-body-name: deal
    delete:
      tags:
        - Deals
      summary: Delete a deal
      description: Use this endpoint to remove a deal. Note that removing a deal that is no longer active is not the best decision from the business perspective. Stale deals should be assigned to a final stage like 'Deal lost' instead of being deleted.
      operationId: deleteDeal
      parameters:
        - $ref: "#/components/parameters/ResourceId"
      responses:
        204:
          description: Returns an empty response.
          content: {}
        default:
          description: Bad request, security violation, or internal server error.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ResponseError"
  /deals/merge:
    post:
      tags:
        - Deals
      summary: Merge deals
      description: Use this endpoint to merge deals. The contents of the origin deal with be moved to the target deal. As a result, the first deal will be removed. This method operates with the `DealRequest` object that encompasses flexible properties. If you are unsure what properties are available, query the `/properties` endpoint first.
      operationId: mergeDeals
      parameters:
        - name: sourceId
          description: The ID of the origin deal.
          in: query
          required: true
          schema:
            type: string
            format: uuid
        - name: targetId
          description: The ID of the target deal.
          in: query
          required: true
          schema:
            type: string
            format: uuid
      requestBody:
        description: The DealRequest object example with the properties to be merged
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/DealRequest"
        required: false
      responses:
        200:
          description: The target deal has been updated. The origin deal has been removed. Returns the deal.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Deal"
        default:
          description: Bad request, security violation, or internal server error.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ResponseError"
  /deals/{id}/items:
    get:
      tags:
        - Deal Items
      summary: List deal items
      description: Use this endpoint to get information about the products included in the deal as well as any applicable fees.
      operationId: getDealItems
      parameters:
        - $ref: "#/components/parameters/ResourceId"
      responses:
        200:
          description: Deal items have been retrieved. Returns items.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ItemsAndAdditionalFees"
        default:
          description: Bad request, security violation, or internal server error.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ResponseError"
    post:
      tags:
        - Deal Items
      summary: Add items
      description: Use this endpoint to add items to the deal. It can be a product or fee.
      operationId: createDealItems
      parameters:
        - $ref: "#/components/parameters/ResourceId"
      requestBody:
        description: In the request body, pass the ItemsAndAdditionalFees object.
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/ItemsAndAdditionalFees"
        required: false
      responses:
        201:
          description: Items have been added. Returns items.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ItemsAndAdditionalFees"
        default:
          description: Bad request, security violation, or internal server error.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ResponseError"
      x-codegen-request-body-name: dealItems
  /exports:
    post:
      tags:
        - Exports
      summary: Export data
      description: Use this endpoint to export companies, deals, etc. This operation supports paging, sorting, and filtering.
      operationId: runExport
      requestBody:
        description: In the request body, pass the ExportRequest object.
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/ExportRequest"
      responses:
        204:
          description: Export started. You will receive an email with the download link once the export completes.
        default:
          description: Bad request, security violation, or internal server error.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ResponseError"
      x-codegen-request-body-name: fields
  /exports/{id}:
    get:
      tags:
        - Exports
      summary: Download a file
      description: Use this endpoint to download a file containing export results.
      operationId: getExport
      parameters:
        - $ref: "#/components/parameters/ResourceId"
      responses:
        200:
          description: The export file has been downloaded.
          content:
            application/json:
              schema:
                type: string
                format: binary
        default:
          description: Bad request, security violation, or internal server error.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ResponseError"
  /items:
    get:
      tags:
        - Items
      summary: List items
      description: Use this endpoint to retrieve items (products or fees) connected to a specific deal or quote. This operation supports paging and sorting.
      operationId: getItems
      parameters:
        - $ref: "#/components/parameters/QueryStringResourceId"
        - name: dealId
          in: query
          schema:
            type: string
        - $ref: "#/components/parameters/QueryPageNumber"
        - $ref: "#/components/parameters/QueryPageSize"
        - $ref: "#/components/parameters/QuerySort"
      responses:
        200:
          description: The items have been retrieved. Returns items.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Items"
        default:
          description: Bad request, security violation, or internal server error.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ResponseError"
  /forms:
    get:
      tags:
        - Forms
      summary: List forms
      description: Use this endpoint to retrieve custom forms. This endpoint supports paging and sorting. Use query parameters to narrow down results.
      operationId: getForms
      parameters:
        - name: name
          in: query
          description: The form name.
          schema:
            type: string
        - $ref: "#/components/parameters/QueryPageNumber"
        - $ref: "#/components/parameters/QueryPageSize"
        - $ref: "#/components/parameters/QuerySort"
      responses:
        200:
          description: The forms have been retrieved. Returns forms.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Forms"
        default:
          description: Bad request, security violation, or internal server error.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ResponseError"
    post:
      tags:
        - Forms
      summary: Create a form
      description: Use this endpoint to add a new custom forms.
      operationId: createForm
      requestBody:
        description: In the request body, pass the Form object.
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/Form"
        required: false
      responses:
        201:
          description: The form has been created. Returns a form.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Form"
        default:
          description: Bad request, security violation, or internal server error.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ResponseError"
      x-codegen-request-body-name: form
  /forms/{id}:
    get:
      tags:
        - Forms
      summary: Retrieve a form
      description: Use this endpoint to locate a specific form and get its details.
      operationId: getForm
      parameters:
        - $ref: "#/components/parameters/ResourceId"
      responses:
        200:
          description: The form has been retrieved. Returns a form.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Form"
        default:
          description: Bad request, security violation, or internal server error.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ResponseError"
    put:
      tags:
        - Forms
      summary: Update a form
      description: Use this endpoint to modify and overwrite an existing form.
      operationId: updateForm
      parameters:
        - $ref: "#/components/parameters/ResourceId"
      requestBody:
        description: In the request body, pass the Form object.
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/Form"
        required: false
      responses:
        200:
          description: The form has been updated. Returns a form.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Form"
        default:
          description: Bad request, security violation, or internal server error.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ResponseError"
      x-codegen-request-body-name: form
    delete:
      tags:
        - Forms
      summary: Delete a form
      description: Use this endpoint to remove a form.
      operationId: deleteForm
      parameters:
        - $ref: "#/components/parameters/ResourceId"
      responses:
        204:
          description: Returns an empty response.
          content: {}
        default:
          description: Bad request, security violation, or internal server error.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ResponseError"
  /globalSearch:
    get:
      tags:
        - Global Search
      summary: Retrieve data
      description: Use this endpoint to search across companies, contacts, and deals. For example, locate all entities that contain "bowl" such as Bowler Inc., Marcus Bowlson.
      operationId: globalSearch
      parameters:
        - name: query
          description: The phrase to search for.
          in: query
          required: true
          schema:
            type: string
      responses:
        200:
          description: The search results have been retrieved. Returns global search results.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/GlobalSearchResults"
        default:
          description: Bad request, security violation, or internal server error.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ResponseError"
  /imports:
    get:
      tags:
        - Imports
      summary: List imports
      description: Use this endpoint to get information about previous imports. This operation supports paging and sorting.
      operationId: getImportEntries
      parameters:
        - name: filename
          in: query
          description: The name of the uploaded file. Specify a name to search for a specific import.
          schema:
            type: string
        - $ref: "#/components/parameters/QueryPageNumber"
        - $ref: "#/components/parameters/QueryPageSize"
        - $ref: "#/components/parameters/QuerySort"
      responses:
        200:
          description: The import log has been retrieved. Returns the list of imports.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Imports"
        default:
          description: Bad request, security violation, or internal server error.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ResponseError"
    post:
      tags:
        - Imports
      summary: Import a file
      description: Use this endpoint to upload a file containing entities to Inperium. For example, you can upload your client data exported from other CRMs and that was previously stored in spreadsheets.
      operationId: importFile
      parameters:
        - name: mappings
          description: This parameter defines mapping between incoming data and Inperium Sell properties.
          in: query
          schema:
            type: string
        - name: fileUrl
          description: The link to the import file.
          in: query
          schema:
            type: string
      responses:
        201:
          description: The entities have been imported.
          content: {}
        default:
          description: Bad request, security violation, or internal server error.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ResponseError"
  /integrations:
    get:
      tags:
        - Integrations
      summary: List integrations
      description: Use this endpoint to retrieve a complete list of third-party integrations enabled for the tenant account. This operation supports paging, sorting, and filtering.
      operationId: getIntegrations
      parameters:
        - name: id
          description: The integration ID.
          in: query
          schema:
            type: string
        - name: name
          description: The integration name.
          in: query
          schema:
            type: string
        - name: type
          description: The integration type.
          in: query
          schema:
            type: string
        - $ref: "#/components/parameters/QueryPageNumber"
        - $ref: "#/components/parameters/QueryPageSize"
        - $ref: "#/components/parameters/QuerySort"
      responses:
        200:
          description: Integrations have been retrieved. Returns integrations.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Integrations"
        default:
          description: Bad request, security violation, or internal server error.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ResponseError"
  /integrations/stripe/authorize:
    get:
      tags:
        - Stripe Authorizations
      summary: Authorize Stripe
      description: Use this endpoint to enable payment processing with Stripe and authorize the Stripe account.
      operationId: authorizeStripe
      responses:
        200:
          description: The request has been forwarded to the redirect URL. Returns the OAuth2Redirect object.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/OAuth2Redirect"
        default:
          description: Bad request, security violation, or internal server error.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ResponseError"
  /integrations/stripe/authorize/callback:
    x-access: private
    get:
      x-access: private
      tags:
        - Stripe Authorizations
      summary: Get the Stripe callback
      description: Get the Stripe OAuth2 authorization callback.
      operationId: callbackStripe
      parameters:
        - name: code
          description: The one-off authorization code.
          in: query
          schema:
            type: string
      responses:
        200:
          description: Authorization has been successful.
          content: {}
        default:
          description: Bad request, security violation, or internal server error.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ResponseError"
  /integrations/stripe/credentials:
    get:
      tags:
        - Stripe Authorizations
      summary: Get the Stripe credentials
      description: Use this endpoint to retrieve Stripe credentials for the current tenant.
      operationId: getStripeCredentials
      responses:
        200:
          description: The Stripe credentials have been retrieved. Returns Stripe credentials.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/StripeCredentials"
  /integrations/stripe/deauthorize:
    get:
      tags:
        - Stripe Authorizations
      summary: Deauthorize Stripe
      description: Use this endpoint to disable integration with Stripe and revoke access.
      operationId: deauthorizeStripe
      responses:
        204:
          description: Returns an empty response.
          content: {}
        default:
          description: Bad request, security violation, or internal server error.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ResponseError"
  /integrations/xero/authorize:
    get:
      tags:
        - Xero Authorizations
      summary: Authorize Xero
      description: Use this endpoint to enable integration with Xero and authorize the Xero account.
      operationId: authorizeXero
      responses:
        200:
          description: The request has been forwarded to the redirect URL.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/OAuth2Redirect"
        default:
          description: Bad request, security violation, or internal server error.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ResponseError"
  /integrations/xero/authorize/callback:
    x-access: private
    get:
      x-access: private
      tags:
        - Xero Authorizations
      summary: Get the Xero callback
      description: Use this endpoint to receive the Xero OAuth2 authorization callback.
      operationId: callbackXero
      parameters:
        - name: oAuthToken
          description: The Xero token.
          in: query
          schema:
            type: string
        - name: oAuthVerifier
          description: The verification code.
          in: query
          schema:
            type: string
      responses:
        204:
          description: Returns an empty response.
          content: {}
  /integrations/xero/deauthorize:
    get:
      tags:
        - Xero Authorizations
      summary: Deauthorize Xero
      description: Use this endpoint to disable the tenant's integration with Xero and revoke access.
      operationId: deauthorizeXero
      responses:
        204:
          description: Returns an empty response.
          content: {}
        default:
          description: Bad request, security violation, or internal server error.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ResponseError"
  /integrations/{id}:
    get:
      tags:
        - Integrations
      summary: Retrieve integration
      description: Use this endpoint to locate a specific integration and retrieve its details.
      operationId: getIntegration
      parameters:
        - $ref: "#/components/parameters/ResourceId"
      responses:
        200:
          description: Integration details have been retrieved. Returns integration.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Integration"
        default:
          description: Bad request, security violation, or internal server error.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ResponseError"
  /invoices:
    get:
      tags:
        - Invoices
      summary: List invoices
      description: Use this endpoint to retrieve a list of invoices. This operation supports sorting, paging, and filtering.
      operationId: getInvoices
      parameters:
        - name: id
          description: The ID of the invoice.
          in: query
          schema:
            type: string
        - name: contactId
          in: query
          description: The ID of the contact associated with this invoice. It is the person the invoice is issued to.
          schema:
            type: string
        - name: dealId
          in: query
          description: The ID of the deal. Invoices are always linked to deals to ensure they are accountable.
          schema:
            type: string
        - name: number
          description: The number of the invoice.
          in: query
          schema:
            type: string
        - name: date
          in: query
          description: The date when the invoice was issued (mm/dd/yyyy).
          schema:
            type: string
        - name: dueDate
          in: query
          description: The date by which the invoice must be paid (mm/dd/yyyy).
          schema:
            type: string
        - name: status
          in: query
          description: The invoice status. For example, if the invoice was paid or is pending.
          schema:
            type: string
        - $ref: "#/components/parameters/QueryPageNumber"
        - $ref: "#/components/parameters/QueryPageSize"
        - $ref: "#/components/parameters/QuerySort"
      responses:
        200:
          description: The invoices have been retrieved. Returns invoices.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Invoices"
        default:
          description: Bad request, security violation, or internal server error.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ResponseError"
    post:
      tags:
        - Invoices
      summary: Create an invoice
      description: Use this endpoint to add a new invoice to Inperium Sell.
      operationId: createInvoice
      requestBody:
        description: In the request body, pass the InvoiceRequest object.
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/InvoiceRequest"
        required: false
      responses:
        201:
          description: A new invoice has been created. Returns an invoice.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Invoice"
        default:
          description: Bad request, security violation, or internal server error.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ResponseError"
      x-codegen-request-body-name: invoice
  /invoices/paymentPlans:
    get:
      tags:
        - Invoices
      summary: List payment plans
      description: Use this endpoint to get the list of payment plans for the invoices. For each invoice, you can set up a payment plan, for example, to split the invoice into several payments. This endpoint supports sorting and paging.
      operationId: getInvoicesPaymentPlans
      parameters:
        - $ref: "#/components/parameters/QueryPageNumber"
        - $ref: "#/components/parameters/QueryPageSize"
        - $ref: "#/components/parameters/QuerySort"
      responses:
        200:
          description: The payment plans have been retrieved. Returns InvoicePaymentPlans.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/InvoicePaymentPlans"
        default:
          description: Bad request, security violation, or internal server error.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ResponseError"
  /invoices/{id}:
    get:
      tags:
        - Invoices
      summary: Retrieve an invoice
      description: Use this endpoint to locate an invoice by its ID and get invoice details.
      operationId: getInvoice
      parameters:
        - $ref: "#/components/parameters/ResourceId"
      responses:
        200:
          description: The invoice has been retrieved. Returns an invoice.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Invoice"
        default:
          description: Bad request, security violation, or internal server error.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ResponseError"
    put:
      tags:
        - Invoices
      summary: Update an invoice
      description: Use this endpoint to modify the invoice. The contents of the invoice will be overwritten.
      operationId: updateInvoice
      parameters:
        - $ref: "#/components/parameters/ResourceId"
      requestBody:
        description: In the request body, pass the updated InvoiceRequest object.
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/InvoiceRequest"
        required: false
      responses:
        200:
          description: The invoice has been updated. Returns an invoice.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Invoice"
        default:
          description: Bad request, security violation, or internal server error.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ResponseError"
      x-codegen-request-body-name: invoice
    delete:
      tags:
        - Invoices
      summary: Delete an invoice
      description: Use this endpoint to remove an invoice.
      operationId: deleteInvoice
      parameters:
        - $ref: "#/components/parameters/ResourceId"
      responses:
        204:
          description: Returns an empty response.
          content: {}
        default:
          description: Bad request, security violation, or internal server error.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ResponseError"
  /invoices/{id}/email:
    post:
      tags:
        - Invoices
      summary: Send an invoice
      description: Use this endpoint to send an invoice to the client by email.
      operationId: emailInvoice
      parameters:
        - $ref: "#/components/parameters/ResourceId"
      requestBody:
        description: In the request body, pass the InvoiceEmail object.
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/InvoiceEmail"
        required: false
      responses:
        202:
          description: Returns an empty response.
          content: {}
        default:
          description: Bad request, security violation, or internal server error.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ResponseError"
      x-codegen-request-body-name: invoiceEmail
  /invoices/{id}/sync/{integrationAnchor}:
    get:
      tags:
        - Invoices
      summary: Sync invoices
      description: Use this endpoint to get the most recent information about invoices and synchronize them.
      operationId: syncInvoice
      parameters:
        - $ref: "#/components/parameters/ResourceId"
        - name: integrationAnchor
          description: The ID of the integration (e.g., Xero) that facilitates invoice processing and synchronization.
          in: path
          required: true
          schema:
            type: string
      responses:
        200:
          description: Returns an empty response.
          content: {}
        default:
          description: Bad request, security violation, or internal server error.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ResponseError"
  /payments:
    get:
      tags:
        - Payments
      summary: List payments
      description: Use this endpoint to get a payment log and see what invoices have been paid. This operation supports paging and sorting. Search for a specific payment or narrow down results to similar payments (e.g., made by credit card).
      operationId: getPayments
      parameters:
        - name: id
          in: query
          description: The payment ID.
          schema:
            type: string
        - name: contactId
          in: query
          description: The contact associated with the payment.
          schema:
            type: string
        - name: date
          in: query
          description: The date the payment was made (mm/dd/yyyy).
          schema:
            type: string
        - name: method
          in: query
          description: Payment method (cash, credit card, etc.).
          schema:
            type: string
        - name: amount
          in: query
          description: The amount that was paid.
          schema:
            type: string
        - name: status
          in: query
          description: The payment status.
          schema:
            type: string
        - $ref: "#/components/parameters/QueryPageNumber"
        - $ref: "#/components/parameters/QueryPageSize"
        - $ref: "#/components/parameters/QuerySort"
      responses:
        200:
          description: Payments have been retrieved. Returns payments.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Payments"
        default:
          description: Bad request, security violation, or internal server error.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ResponseError"
    post:
      tags:
        - Payments
      summary: Create a payment
      description: Use this endpoint to add a new payment to Inperium.
      operationId: createPayment
      requestBody:
        description: In the request body, pass the PaymentRequest object.
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/PaymentRequest"
        required: false
      responses:
        200:
          description: A new payment has been created. Returns a payment.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Payment"
        default:
          description: Bad request, security violation, or internal server error.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ResponseError"
      x-codegen-request-body-name: paymentDetails
  /payments/capturePaymentIntent:
    get:
      tags:
        - Payments
      summary: Capture a payment intent
      description: Use this endpoint to get information about a payment intent from Stripe. Payment intents help process complex transaction and improve logging.
      operationId: capturePaymentIntent
      parameters:
        - name: paymentIntentId
          description: The Stripe identifier for payment intents.
          in: query
          schema:
            type: string
      responses:
        200:
          description: The payment intent has been retrieved. Returns a payment intent.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/CapturedPaymentIntent"
        default:
          description: Bad request, security violation, or internal server error.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ResponseError"
  /payments/createPaymentIntent:
    post:
      tags:
        - Payments
      summary: Create a payment intent
      description: Use this endpoint to create a Stripe payment intent. See Stripe API reference for background information.
      operationId: createPaymentIntent
      requestBody:
        description: In the request body, pass the CreatePaymentIntent object.
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/CreatePaymentIntent"
        required: false
      responses:
        200:
          description: A new payment intent has been created. Returns a payment intent.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/PaymentIntent"
        default:
          description: Bad request, security violation, or internal server error.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ResponseError"
      x-codegen-request-body-name: createPaymentIntent
  /payments/{id}:
    put:
      tags:
        - Payments
      summary: Update a payment
      description: Use this endpoint to modify payments. Locate the payment you are interested in and overwrite it.
      operationId: updatePayment
      parameters:
        - $ref: "#/components/parameters/ResourceId"
      requestBody:
        description: In the request body, pass the PaymentRequest object.
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/PaymentRequest"
        required: false
      responses:
        200:
          description: The payment has been updated. Returns a payment.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Payment"
        default:
          description: Bad request, security violation, or internal server error.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ResponseError"
      x-codegen-request-body-name: payment
  /pipelines:
    get:
      tags:
        - Pipelines
      summary: List pipelines
      description: Use this endpoint to get a list of pipelines created by the current tenant. This operation supports sorting and paging.
      operationId: getPipelines
      parameters:
        - name: name
          description: The pipeline name.
          in: query
          schema:
            type: string
        - $ref: "#/components/parameters/QueryPageNumber"
        - $ref: "#/components/parameters/QueryPageSize"
        - $ref: "#/components/parameters/QuerySort"
      responses:
        200:
          description: The pipelines have been retrieved. Returns pipelines.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Pipelines"
        default:
          description: Bad request, security violation, or internal server error.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ResponseError"
    post:
      tags:
        - Pipelines
      summary: Create a pipeline
      description: Use this endpoint to add a new pipeline.
      operationId: createPipeline
      requestBody:
        description: In the request body, pass the PipelineRequest object.
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/PipelineRequest"
        required: false
      responses:
        201:
          description: A new pipeline has been created. Returns a pipeline.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Pipeline"
        default:
          description: Bad request, security violation, or internal server error.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ResponseError"
      x-codegen-request-body-name: pipeline
  /pipelines/{id}:
    get:
      tags:
        - Pipelines
      summary: Retrieve a pipeline
      description: Use this endpoint to get detailed information about a specific pipeline.
      operationId: getPipeline
      parameters:
        - $ref: "#/components/parameters/ResourceId"
      responses:
        200:
          description: The pipeline details have been retrieved. Returns a pipeline.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Pipeline"
        default:
          description: Bad request, security violation, or internal server error.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ResponseError"
    put:
      tags:
        - Pipelines
      summary: Update a pipeline
      description: Use this endpoint to modify a pipeline.
      operationId: updatePipeline
      parameters:
        - $ref: "#/components/parameters/ResourceId"
      requestBody:
        description: In the request body, pass the updated PipelineRequest object.
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/PipelineRequest"
        required: false
      responses:
        200:
          description: The pipeline has been updated. Returns a pipeline.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Pipeline"
        default:
          description: Bad request, security violation, or internal server error.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ResponseError"
      x-codegen-request-body-name: pipeline
    delete:
      tags:
        - Pipelines
      summary: Delete a pipeline
      description: Use this endpoint to remove a pipeline.
      operationId: deletePipeline
      parameters:
        - $ref: "#/components/parameters/ResourceId"
      responses:
        204:
          description: Returns an empty response.
          content: {}
        default:
          description: Bad request, security violation, or internal server error.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ResponseError"
  /pipelines/{id}/statistics:
    get:
      tags:
        - Pipeline Statistics
      summary: Retrieve deal statistics
      description: Use this endpoint to find out how many deals you have in a specific pipeline. The deals will be grouped by stage and you'll see the total for each stage.
      operationId: getPipelineStatistics
      parameters:
        - $ref: "#/components/parameters/ResourceId"
        - $ref: "#/components/parameters/EntityProperties"
      responses:
        200:
          description: Returns pipeline statistics.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/PipelineStatistics"
        default:
          description: Bad request, security violation, or internal server error.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ResponseError"
  /dictionaries:
    get:
      tags:
        - Dictionaries
      summary: List dictionaries
      description: Use this endpoint to retrieve available dictionaries.
      operationId: getDictionaries
      responses:
        200:
          description: The dictionaries have been retrieved. Returns a list of Dictionary objects.
          content:
            application/json:
              schema:
                type: array
                items:
                  type: string
        default:
          description: Bad request, security violation, or internal server error.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ResponseError"
  /dictionaries/{id}:
    get:
      tags:
        - Dictionaries
      summary: Retrieve a dictionary
      description: Use this endpoint to search for a specific dictionary and retrieve its items.
      operationId: getDictionary
      parameters:
        - $ref: "#/components/parameters/ResourceStringId"
      responses:
        200:
          description: The dictionary has been retrieved. Returns dictionary items.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Dictionary"
        default:
          description: Bad request, security violation, or internal server error.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ResponseError"
  /products:
    get:
      tags:
        - Products
      summary: List products
      description: Use this endpoint to get a complete list of products offered by the tenant. This operation supports paging and sorting. You can also narrow down results to the products of a specific price, etc.
      operationId: getProducts
      parameters:
        - $ref: "#/components/parameters/QueryStringResourceId"
        - $ref: "#/components/parameters/QueryPageNumber"
        - $ref: "#/components/parameters/QueryPageSize"
        - in: query
          name: sort
          schema:
            type: string
            default: "+createdAt"
          description: This parameter affects sorting. It specifies the property name to sort records, e.g., by price or date.
        - $ref: "#/components/parameters/EntityProperties"
      responses:
        200:
          description: The products have been retrieved. Returns products.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Products"
        default:
          description: Bad request, security violation, or internal server error.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ResponseError"
    post:
      tags:
        - Products
      summary: Create a product
      description: Use this endpoint to add new products to Inperium Sell. This method operates with the `ProductRequest` object that encompasses flexible properties. If you are unsure what properties are available, query the `/properties` endpoint first.
      operationId: createProduct
      requestBody:
        description: The ProductRequest object example
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/ProductRequest"
        required: false
      responses:
        201:
          description: A new product has been created. Returns a product.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Product"
        default:
          description: Bad request, security violation, or internal server error.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ResponseError"
      x-codegen-request-body-name: product
  /products/{id}:
    get:
      tags:
        - Products
      summary: Retrieve a product
      description: Use this endpoint to locate a specific product and get its details such as price and cost.
      operationId: getProduct
      parameters:
        - $ref: "#/components/parameters/ResourceId"
      responses:
        200:
          description: The product details have been retrieved. Returns a product.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Product"
        default:
          description: Bad request, security violation, or internal server error.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ResponseError"
    put:
      tags:
        - Products
      summary: Update a product
      description: Use this endpoint to modify a product. The operation overwrites the product record. This method operates with the `ProductRequest` object that encompasses flexible properties. If you are unsure what properties are available, query the `/properties` endpoint first.
      operationId: updateProduct
      parameters:
        - $ref: "#/components/parameters/ResourceId"
      requestBody:
        description: The ProductRequest object example
        content:
          application/json:
            schema:
[...]
